@media only screen and (max-width: 1500px) {
    .fixTableHead {
        height: 50vh
    }
}

@media only screen and (min-width: 1501px) {
    .fixTableHead {
        height: 65vh
    }
}

.fixed-width-field {
    max-width: 150px;
}
  .fixed-width-field .mat-form-field-infix {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  .fixed-width-field1 {
    max-width: 160px;
}
  .fixed-width-field1 .mat-form-field-infix {
    width: 100% !important;
    max-width: 100% !important;
  }
  .fixed-width-field2 {
    max-width: 180px;
}
  .fixed-width-field02 .mat-form-field-infix {
    width: 100% !important;
    max-width: 100% !important;
  }
table td {
    vertical-align: top;
}

 ::ng-deep .mat-radio-button .mat-radio-label-content {
    padding-left: 5px;
}

.vertical-align-baseline {
    vertical-align: baseline !important;
}

::ng-deep table thead th i:hover {
    color: black;
}

::ng-deep #tbl-resource-request thead th {
    vertical-align: top;
}

.badge {
    height: fit-content;
}
.tl-link {
    color: #1769aa;
    font-weight: 500;
  }
.tl-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.fixHead {
    overflow-y: auto;
    max-height: 71vh;
  }
.fixHead thead {
    position: sticky;
    top: 0;
    z-index: 2;
 }
  .fixHead table tbody:nth-of-type(1) tr:nth-of-type(1) td {
      border-top: none !important;
  }
  .fixHead table thead th, tr {
      border-top: none !important;
      border-bottom: none !important;
      box-shadow: inset 0 0.4px 0 rgba(204, 204, 204, 0.35),
                  inset 0 -0.4px 0 rgba(204, 204, 204, 0.35);
  }

.link:hover{
    text-decoration: underline;
    color: #1769aa;
    cursor: pointer;
}
.max-line{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px; /* fallback */
    max-height: 100px; /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.max-line-content-4 {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px; 
    max-height: 100px; 
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}

:host ::ng-deep .mat-button {
    min-width: 48px;
}

::ng-deep .project-panel {
    min-width: 400px !important;
    max-height: 60vh !important; 
}
.file-download {
    display: inline-block;
    width: 280px;
    color: #007bff;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.file-download:hover {
    color: blue;
}
.cv-link{
    text-decoration: none;
}
.cv-link:hover{
    text-decoration: underline ;
}
.request-info {
    align-items: flex-start;
    justify-content: space-between;
}
.modal-body textarea {
    width: 750px;
}

::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .form-send-recruitment-dialog {
    width: 700px;
    max-height: 90vh;
}

.col-skill {
    padding: 5px 4px;
    min-width: 180px;
}



@media screen and (max-width: 600px) {
    .title {
      max-width: 60%;
      flex: 0 0 60%;
    }
  
    .title h3 {
      font-size: 22px;
      white-space: nowrap;
    }
  
    .btn-create-wrapper {
      max-width: 40%;
      flex: 0 0 40%;
    }

    .rsp-label {
        justify-content: flex-start !important;
    }
  
    .input-group {
      padding-bottom: 15px;
    }

    .select-search .option-search {
        row-gap: 15px;
    }

    .clear {
        text-align: start !important;
        margin-top: 10px;
    }

    .item-first {
        width: 100%;
        max-width: 100%;
        align-items: baseline !important;
        gap: 5px;
    }

    .request-info {
        gap: 5px;
        flex-wrap: nowrap;
    }

    .link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .request-info-item {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .row-bill-account {
        position: relative;
        min-width: 250px;
    }

    .icon-bill-account {
        position: absolute;
        width: fit-content;
        right: 0;
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .user-bill-account {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-bill-account strong {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 160px;
    }

    .badge {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 400px;
    }

    .rsp-th-name {
        white-space: normal;
    }

    .modal-body textarea {
        width: 100%;
    }

    ::ng-deep .project-panel {
        min-width: 100% !important;
        max-height: 50vh !important;
    }

    .content-header {
        padding: 15px 6px;
        margin-bottom: 10px;
    }

    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .form-send-recruitment-dialog {
        max-width: 100% !important;
        width: 100%;
        padding: 0 12px;
    }

    .sortHeader {
        flex-wrap: nowrap;
        column-gap: 5px;
    }

    .form-number-item {
        width: 45% !important;
    }

    .card-body {
        padding-bottom: 0;
      }

    .icon-add-filter {
        margin-left: 10px !important;
    }

    .container-pagination {
        display: flex;
        flex-wrap: wrap;
    }
}  
