<div *ngIf="permission.isGranted(ResourceRequest_View)">
  <section class="content-header pb-1">
    <div class="container-fluid">
      <div class="row header">
        <div class="col-md-6 title">
          <h3>Resource Requests</h3>
        </div>
        <div class="col-md-6 col-sm-12 text-right btn-create-wrapper">
          <button
            *ngIf="isShowBtnCreate()"
            (click)="createRequest()"
            class="btn bg-blue"
          >
            <i class="fa fa-plus-square"></i>
            Create
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row" id="search-resource-request">
            <div class="col-xl-4 col-sm-12 pt-1 search-text">
              <div class="row d-flex align-items-center">
                <div class="col-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        type="button"
                        class="btn bg-blue"
                        (click)="getDataPage(1)"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="keyword"
                      placeholder="Search"
                      [(ngModel)]="searchText"
                      (keyup.enter)="getDataPage(1)"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-default"
                        (click)="checkAddFilter()"
                      >
                        <i
                          class="fas"
                          [class.fa-angle-up]="advancedFiltersVisible"
                          [class.fa-angle-down]="!advancedFiltersVisible"
                        ></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-8 d-flex">
                  <div class="col-3 d-flex">
                    <div class="col-md-4 col-xl-4 d-flex rsp-label justify-content-end align-items-center">
                      <label class="mb-0">Status:</label>
                    </div>
                    <div class="col-md-8 col-xl-8 align-items-center">
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                      >
                        <mat-select
                          [(ngModel)]="selectedStatus"
                          (selectionChange)="onChangeStatus()"
                        >
                          <mat-option [value]="-1">All</mat-option>
                          <mat-option
                            *ngFor="let status of listStatuses"
                            [value]="status.id"
                          >
                            {{ status.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-3 d-flex">
                    <div
                      class="col-md-4 col-xl-4 d-flex rsp-label justify-content-end align-items-center"
                    >
                      <label class="mb-0"> Project: </label>
                    </div>
                    <div class="col-md-8 col-xl-8 align-items-center">
                      <mat-form-field
                        class="w-100"
                        appearance="outline"
                      >
                        <mat-select
                          panelClass="project-panel"
                          name="projectId"
                          placeholder="Select project"
                          [(ngModel)]="projectId"
                          (selectionChange)="getDataPage(1)"
                        >
                          <mat-form-field
                            class="w-100 px-3"
                            style="
                              position: sticky;
                              top: 0;
                              z-index: 2;
                              background-color: white;
                            "
                          >
                            <input
                              matInput
                              [(ngModel)]="searchProject"
                              name="searchProjectName"
                              (keydown)="$event.stopPropagation()"
                              placeholder="Search"
                              #search
                            />{{ search.focus() }}
                          </mat-form-field>
                          <mat-option [value]="-1"> All </mat-option>
                          <mat-option
                            *ngFor="
                              let project of listProject
                                | listFilter : 'name' : searchProject
                            "
                            [value]="project.id"
                          >
                            {{ project.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-3 d-flex">
                    <div class="col-md-4 col-xl-4 d-flex rsp-label justify-content-end align-items-center">
                      <label class="mb-0">Bill Acc:</label>
                    </div>
                    <div class="col-md-8 col-xl-8 align-items-center">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-select
                          [(ngModel)]="isNewBillAccount"
                          (selectionChange)="onSelectedBillAccountFilter()">
                          <mat-option
                            *ngFor="let bill of isBillAccountList"
                            [value]="bill.value"
                            >{{ bill.text }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-3 d-flex">
                    <div
                      class="col-md-4 col-xl-4 d-flex rsp-label justify-content-end align-items-center"
                    >
                      <label class="mb-0">Code:</label>
                    </div>
                    <div class="col-md-8 col-xl-8">
                      <div class="row align-items-center">
                        <app-multiple-select-resource-request-code
                        [ngClass]="selectedListRequestCode.length > 0? 'col-10' : 'col-12'"
                        labelName = "Code"
                        [listOption]="listRequestCode"
                        [defaultValue]="selectedListRequestCode"
                        (onChange)="filterRequestCode($event)"
                        >
                        </app-multiple-select-resource-request-code>
                        <i
                        class="fas fa-times fa-lg pointer"
                        *ngIf="selectedListRequestCode.length > 0"
                        (click)="onCancelFilterListRequestCode()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clear-button text-right">
                  <button
                    type="button"
                    class="btn btn-light"
                    matTooltip="Clear Filter"
                    (click)="clearAllFilter()"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="advancedFiltersVisible" class="mb-0 mt-1 w-100">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-md-12 col-xl-12">
                    <div class="mb-0">
                      <div class="card-filter">
                        <div *ngFor="let item of filterItems; let i = index">
                          <app-filter
                            [item]="item"
                            (emitChange)="onEmitChange($event, i)"
                            (deleteDataFilter)="deleteFilterItem(i)"
                            [inputFilters]="FILTER_CONFIG"
                          >
                          </app-filter>
                        </div>
                        <i
                          style="padding: 0"
                          class="fas fa-plus-circle ml-3 icon-add-filter"
                          (click)="addFilter()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="card-body table-responsive pb-4">
          <div class="fixHead">
            <table
              [busy]="isLoading"
              style="border-collapse: collapse"
              class="table table-hover text-nowrap mt-2"
              id="tbl-resource-request"
            >
              <thead>
                <tr>
                  <th
                    *ngFor="let thead of theadTable; let i = index"
                    class="text-center rsp-th-name"
                  >
                    <div class="row justify-content-center">
                        {{ thead.name }}
                      <ng-container
                          class="rsp-th-sort"
                          *ngIf="i != 0 && thead.sortName">
                          <app-sortable
                            #sortThead
                            class="ml-1"
                            [data]="{
                              sort: thead.sortName,
                              typeSort: thead.defaultSort
                            }"
                            (sortEvent)="sortTable($event)"
                          >
                          </app-sortable>
                        </ng-container>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="
                    let item of listRequest
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          };
                    let i = index
                  ">
                  <tr>
                  <td class="text-center p-1" style="min-width: 30px">
                    <button style="border: none; background-color: transparent;"  type="button" (click)="getResourceRequestCVExpand(item)"> 
                      <i [class]="getIconClass(item)" ></i>
                    </button>
                    <span >{{ i + 1 + pageSize * (pageNumber - 1) }}</span>
                    <div class="text-center" >
                      <i class="fas fa-plus text-primary " (click)="AddCV(item)"
                          matTooltip="Add CV"></i>
                 </div>
                  </td>
                  <td class="text-center action-request-resource-tab p-1" style="min-width: 70px">
                    <button mat-button [matMenuTriggerFor]="menu">
                      <i class="fas fa-bars fa-lg"></i>
                    </button>
                    <mat-menu #menu="matMenu" class="p-2">
                      <!-- case 1: Status is inprogress -->
                      <div>
                                  <button *ngIf="isShowBtnSetDone(item)"
                                          class="btn btn-block text-left"
                                          mat-button
                          (click)="setDoneRequest(item)">
                          <i class="fa fa-fw fa-check text-success vertical-align-baseline"></i>
                          Set Done
                        </button>

                                  <button *ngIf="isShowBtnCancel(item)"
                                          class="btn btn-block text-left"
                                          mat-button
                          (click)="cancelRequest(item)">
                          <i class="fa fa-fw fa-times text-warning vertical-align-baseline"></i>
                          Cancel
                        </button>

                        <!-- <br /> -->
                                  <button class="btn btn-block text-left"
                                          mat-button
                                          *ngIf="isShowBtnEdit(item)"
                          (click)="editRequest(item)">
                          <i class="fa fa-fw fa-edit vertical-align-baseline"></i>
                          Edit
                        </button>

                                  <button *ngIf="item.isRecruitmentSend && item.recruitmentUrl"
                                          class="btn btn-block text-left"
                                          (click)="viewRecruitment(item.recruitmentUrl)"
                                          mat-button>
                          <i class="fa fa-fw fa-eye vertical-align-baseline"></i>
                          View recruitment
                        </button>

                                  <button *ngIf="isShowBtnActivate(item)"
                                          class="btn btn-block text-left"
                                          mat-button
                          (click)="active(item)">
                          <i class="fa fa-fw fa-check text-success vertical-align-baseline"></i>
                          Activate
                        </button>

                                  <button *ngIf="isShowBtnDelete(item)"
                                          class="btn btn-block text-left"
                                          mat-button
                          (click)="delete(item)">
                          <i class="fa fa-fw fa-trash text-danger vertical-align-baseline"></i>
                          Delete
                        </button>

                                  <button *ngIf="isShowBtnSendRecruitment(item)"
                                          class="btn btn-block text-left"
                                          mat-button
                          (click)="sendRecruitment(item)">
                          <i class="fa fa-fw fa-paper-plane text-primary vertical-align-baseline"></i>
                          Send recruitment
                        </button>
                      </div>
                    </mat-menu>
                          <span *ngIf="item.isRecruitmentSend == true"
                                (click)="viewRecruitment(item.recruitmentUrl)"
                      class="tl-link">
                      #{{ sliceUrl(item.recruitmentUrl) }}
                    </span>
                  </td>
                  <td style="min-width: 300px" class="p-1">
                    <div class="row request-info">
                      <div class="d-flex align-items-start col-md-6">
                        <span class="link mr-2" (click)="showProject(item)">
                          {{ item.projectName }}
                        </span>
                      </div>
                      <div class="d-flex justify-content-end col-md-6"
                        style="justify-content: space-between">
                        <div class="col-md-6 d-flex flex-column align-items-start">
                          <div class="badge request-info-item"
                            [ngClass]="APP_CONST.priorityRequest[item.priority]">
                            {{ item.priorityName }}
                          </div>
                          <span class="mt-1 badge text-white request-info-item"
                            [ngStyle]="Utils.getUserLevel(item.level).style">
                            {{ item.levelName }}
                          </span>
                        
                          <span *ngIf="item.projectStatus == 'Potential'"
                            [ngClass]="
                              APP_CONST.statusStyle[
              getByEnum(item.status, APP_ENUM.ProjectStatus)
            ]
          ">
                            {{ item.projectStatusName }}
                          </span>
                        </div>
                        <div class="col-md-6 d-flex flex-column align-items-start">
                          <span class="request-info-item"
                            style="border-radius: 0.25rem"
                            [ngClass]="
                              APP_CONST.resourceRequestStyle[
                              getValueByEnum(
                              item.status,
                              APP_ENUM.ResourceRequestStatus
                              )
                            ]
                          ">
                          {{
                          getValueByEnum(
                          item.status,
                          APP_ENUM.ResourceRequestStatus
                          )
                          }}
                        </span>
                        <span *ngIf="item.isNewBillAccount" 
                        class="badge badge-danger mt-1 request-info-item">Bill Acc</span>
                        </div>
                      </div>
                    </div>
                    <div class="rowd-flex justify-content-between ">
                      <span style="
                          display: inline-block;
                          max-width: 270px;
                          text-align: left;
                        "
                        class="date-request-resource">
                        {{ item.createAt | date : "d/MM/y HH:mm " }} by {{ item.userRequestName }}
                     
                      </span>
                   
                    </div>
                  </td>
                  <td class="col-skill">
                    <p *ngFor="let skill of item.skills.slice(0, 2)" class="m-0">
                      - {{ skill.name }}
                    </p>
                  </td>
                  <td style="min-width:200px" class="p-1">
                    <div class="row row-bill-account">
                      <div class="col-10">
                                  <div *ngIf="item.billUserInfo"
                                       class="d-flex align-items-start"
                                       style="flex-direction: column">
                                      <p class="m-0 pointer user-bill-account"
                                         (click)="
                              openPopupSkill(
                                item.billUserInfo.employee,
                                item.billUserInfo.userSkill
                              )
                            ">
                            <strong>
                              {{ extractEmailName(item.billUserInfo.employee.emailAddress) }}
                            </strong>
                          </p>
                          <p class="m-0">
                            <span *ngIf="
                                item.billUserInfo.employee.branchDisplayName
                              "
                                                class="mr-1 badge text-white"
                                                [style.backgroundColor]="
                                item.billUserInfo.employee.branchColor
                              ">
                              {{ item.billUserInfo.employee.branchDisplayName }}
                            </span>
                                          <span *ngIf="item.billUserInfo.employee.userTypeName"
                                                [ngClass]="
                                APP_CONST.userTypeStyle[
                                  item.billUserInfo.employee.userType
                                ]
                              ">
                              {{ item.billUserInfo.employee.userTypeName }}
                            </span>
                            <!--      <span *ngIf="item.billUserInfo.employee.levelName"
                                                class="ml-1 badge text-white"
                                                [ngStyle]="
                                Utils.getUserLevel(
                                  item.billUserInfo.employee.userLevel
                                ).style
                              ">
                                              {{ item.billUserInfo.employee.levelName }}
                                          </span>-->
                                          <span *ngIf="item.billUserInfo.employee.positionName"
                                                class="ml-1 badge text-white"
                              [style.backgroundColor]="
                                item.billUserInfo.employee.positionColor
                              ">
                              {{ item.billUserInfo.employee.positionName }}
                            </span>
                          </p>
                          <p *ngIf="item.cvName; else emptyCV" class="cv-link m-0" 
                           style="width: 100%; justify-content: space-between; display: flex ;white-space: nowrap;
                           ;cursor: pointer; overflow: hidden;" 
                            [ngStyle]="{'color': !checkNullOrEmpty(item.linkCv) ? 'blue' : 'black'}" 
                            (contextmenu)="openInNewTab($event, item)"
                          (click)= "downloadFile(item)">
                            {{item.cvName}}
                          </p>
                          <ng-template class="cv-link1 m-0" #emptyCV>
                            <p style="width: 100%; justify-content: space-between; display: flex ;white-space: nowrap;
                            color:red;cursor: pointer; overflow: hidden;"
                             (click)="downloadFile(item)">
                              Empty CV Name
                            </p>

                          </ng-template>
                        </div>                       
                      </div>
                              <div class="col-2"
                                   *ngIf="
                          item.statusName == 'PENDING' &&
                          permission.isGranted(
                            ResourceRequest_CreateBillResourceForRequest
                          )
                        ">
                        <i class="fa fa-edit" (click)="showModalCvUser(item)" title="Update Bill Account" ></i>
                        <span *ngIf="item.billUserInfo">
                                      <i class="fa fa-times" title="Remove"
                                         (click)="removeCvUser(item)"></i>
                        </span>
                        <span *ngIf="isShowBtnUpload(item)" (click)="importExcel(item)">
                          <i class="fa fa-upload " title="Upload CV">
                          </i>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td style="min-width:100px" class="p-1">
                    <span *ngIf="item.code">{{ item.code }}</span>
                  </td>
                  <td style="min-width:230px" class="p-1">
                    <div class="row row-bill-account">
                      <div class="col-10">
                                  <div *ngIf="item.planUserInfo"
                                       class="d-flex align-items-start"
                                       style="flex-direction: column">
                                      <p class="m-0 pointer user-bill-account"
                                         (click)="
                              openPopupSkill(
                                item.planUserInfo.employee,
                                item.planUserInfo.userSkill
                              )
                            ">
                            <strong>
                              {{
                              extractEmailName(item.planUserInfo.employee.emailAddress)
                              }}
                            </strong>
                          </p>
                          <p class="m-0">
                            <span *ngIf="
                                item.planUserInfo.employee.branchDisplayName
                              "
                                                class="mr-1 badge badge text-white"
                                                [style.backgroundColor]="
                                item.planUserInfo.employee.branchColor
                              ">
                              {{ item.planUserInfo.employee.branchDisplayName }}
                            </span>
                                          <span *ngIf="item.planUserInfo.employee.userTypeName"
                                                [ngClass]="
                                APP_CONST.userTypeStyle[
                                  item.planUserInfo.employee.userType
                                ]
                              ">
                              {{ item.planUserInfo.employee.userTypeName }}
                            </span>
                                          <span *ngIf="item.planUserInfo.employee.levelName"
                                                class="ml-1 badge text-white"
                                                [ngStyle]="
                                Utils.getUserLevel(
                                  item.planUserInfo.employee.userLevel
                                ).style
                              ">
                              {{ item.planUserInfo.employee.levelName }}
                            </span>
                                          <span *ngIf="item.planUserInfo.employee.positionName"
                                                class="ml-1 badge text-white"
                              [style.backgroundColor]="
                                item.planUserInfo.employee.positionColor
                              ">
                              {{ item.planUserInfo.employee.positionName }}
                            </span>
                          </p>
                          <p class="m-0">
                            {{
                            item.planUserInfo.plannedDate | date : "dd/MM/yyyy"
                            }}
                          </p>
                        </div>
                      </div>
                              <div class="col-2"
                                   *ngIf="
                          item.statusName == 'PENDING' &&
                          permission.isGranted(
                            ResourceRequest_PlanNewResourceForRequest
                          )
                        ">
                                  <i class="fa fa-edit"
                                     (click)="showModalPlanUser(item)"></i>
                        <span *ngIf="item.planUserInfo">
                                      <i class="fa fa-times"
                                         (click)="removePlanUser(item)"></i>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td style="white-space: normal;
                    min-width: 200px;" 
                    class="row-description p-1">
                    <div class="row px-1 justify-content-between flex-nowrap">
                      <pre (click)="showDescription(item.pmNote);
                        $event.stopPropagation()"
                        class="mb-0 p-0 ml-2 max-line-content-4"
                        PrjResizeContent
                        [collapseLine]="4"
                        style="white-space: pre-line;
                          font-family: sans-serif;
                          align-self: flex-start;
                          line-height: initial;">
                        {{ item.pmNote }}
                      </pre>
                      <div class="text-right col-2" *ngIf="permission.isGranted(ResourceRequest_EditPmNote)">
                        <i class="fa fa-edit" (click)="openModal(item.name,'Description',item.pmNote,item.id)"></i>
                      </div>
                    </div>
                  </td>
                  <td style="white-space: normal;
                    min-width: 200px;" 
                    class="row-description p-1">
                    <div class="row px-1 justify-content-between flex-nowrap">
                      <pre class="mb-0 p-0 ml-2 max-line-content-4"
                        *ngIf="!checkNullOrEmpty(item.dmNote)"
                        PrjResizeContent
                        [collapseLine]="4"
                        [ngStyle]="{
                          'white-space': 'pre-line',
                          'font-family': 'sans-serif',
                          'align-self': item.dmNote ? 'flex-start' : 'flex-end',
                          'line-height': 'initial'
                        }">
                        {{ item.dmNote }}
                      </pre>
                      <div class="col-2"
                        [ngStyle]="{'text-align': item.dmNote ? 'right' : ''}"
                        *ngIf="permission.isGranted(ResourceRequest_EditDmNote)">
                        <i class="fa fa-edit" (click)="openModal(item.name,'Note',item.dmNote,item.id)"></i>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="checkRowExpanded(item.id)">
                  <td colspan="100%">
                    <div class=" sub-table" style="padding: 0 10px 0 10px;">
                      <p-table [value]="item.resCV" *ngIf="!checkArrayNullOrEmpty(item.resCV)" [busy]="isLoading"  class="table table-hover text-nowrap" responsiveLayout="scroll">
                        <thead>
                          <tr>
                            <th class="text-center" style=" min-width: 30px">#</th>
                            <th pResizableColumn class="text-center action-request-resource-tab" style="min-width : 70px">Action</th>
                            <th pResizableColumn class="text-center" style="padding: 12px 4px;min-width:200px"> CV Infor</th>
                            <th pResizableColumn style="padding: 12px 8px; min-width:120px">CV Status</th>             
                            <th pResizableColumn style="padding: 12px 8px; min-width:100px">Kpi Point</th>
                            <th pResizableColumn style="white-space: normal;min-width: 120px">SendCV Date</th>
                            <th pResizableColumn style="white-space: normal;min-width: 140px">Interview Time</th>                         
                            <th pResizableColumn style=" resize: horizontal; white-space: normal;
                            overflow: auto;
                            max-width: 100%;"
                            >Note</th>
                          </tr>
                        </thead>
            <tbody  >
              <tr *ngFor="let c of item.resCV ; let a = index">
                  <td class="text-center p-1 px-2">{{a+1}}</td>  
                  <td class="text-center p-1 px-2" style="width : 30px">
                    <button mat-button [matMenuTriggerFor]="menu">
                      <i class="fas fa-bars fa-lg"></i>
                    </button>
                    <mat-menu #menu="matMenu" class="p-2">               
                      <div>                   
                        <button class="btn btn-block text-left" mat-button
                          (click)="EditCV(c,item)">
                          <i class="fa fa-fw fa-edit vertical-align-baseline"></i>
                          Edit
                        </button>
                        <button class="btn btn-block text-left" mat-button
                          (click)="deleteResourceRequestCV(c,item)">
                          <i class="fa fa-fw fa-trash text-danger vertical-align-baseline"></i>
                          Delete
                        </button>
                      </div>
                    </mat-menu>                
                   
                  </td>          
                  <td class="p-1 px-2" style="width: 250px;">               
                    <div class="row">
                      <div class="col-10">
                        <div *ngIf="c.user"
                          class="d-flex align-items-start"
                          style="flex-direction: column">
                          <p class="m-0 pointer"
                            (click)="
                              openPopupSkill(
                                item.billUserInfo.employee,
                                item.billUserInfo.userSkill
                              )
                            ">
                            <strong>
                              {{ extractEmailName(c.user.emailAddress) }}
                            </strong>
                          </p>                          
                        </div>                       
                      </div>                                         
                      <div style="display: flex; justify-content: right; gap: 5px;" class="col-2"
                        *ngIf="
                          item.statusName == 'PENDING' &&
                          permission.isGranted(
                            ResourceRequest_CreateBillResourceForRequest
                          )
                        ">
                        <span>
                          <i class="fa fa-edit" (click)="showCvUser(item,c)" title="Update Account CV" ></i>
                        </span>
                        <span *ngIf="c.user" style="margin-left: 2px;" >
                          <i class="fa fa-times" title="Remove Acount CV"
                          (click)="removeResourceRequestCvUser(c)"></i>
                        </span>                       
                      </div>
                      <p class="m-1">
                        <span *ngIf="c.user.branchDisplayName"
                          class="mr-1 badge badge text-white"
                          [style.backgroundColor]="c.user.branchColor">
                          {{ c.user.branchDisplayName }}
                        </span>
                        <span *ngIf="c.user.userType"
                          [ngClass]="
                            APP_CONST.userTypeStyle[
                            c.user.userType
                            ]
                          ">
                          {{ getValueByEnum(c.user.userType, APP_ENUM.UserType)}}
                        </span>
                        <span *ngIf="c.user.userLevel"
                          class="ml-1 badge text-white"
                          [ngStyle]="
                          Utils.getUserLevel(
                          c.user.userLevel
                          ).style
                          ">
                          {{ getValueByEnum(c.user.userLevel, APP_ENUM.UserLevel)}}
                        </span>                                
                        <span *ngIf="c.user.positionName"
                          class="ml-1 badge text-white"
                          [style.backgroundColor]="c.user.positionColor">
                            {{ c.user.positionName }}
                        </span> 
                      </p>                    
                    </div>
                    <div class="row">
                      <div class="col-10 link-name-cv">
                        <a class="cv-link m-0"
                          target="_blank"
                          style="display: flex; align-items: center; justify-content: space-between; width: 100%; cursor: pointer; overflow: hidden; text-overflow: ellipsis;"
                          [href]="!checkNullOrEmpty(c.cvPath) ? c.linkCVPath : '#'"
                          [ngStyle]="{'color': !checkNullOrEmpty(c.cvPath) ? 'blue' : 'black'}">
                          <span style="flex: 1; overflow: hidden;" *ngIf="!checkNullOrEmpty(c.cvName)">
                            {{c.cvName}}
                          </span>
                        </a>                     
                        <span style="width: 100%; justify-content: space-between; display: flex ;white-space: nowrap;
                        color:red;cursor: pointer; overflow: hidden;"
                        *ngIf="checkNullOrEmpty(c.cvName)" class="cv-link1 m-0"
                         >
                          Empty CV Name
                        </span>
                     </div>
                      <div style="display: flex; justify-content: right; gap: 5px;"  class="col-2">
                        <span *ngIf="!checkNullOrEmpty(c.cvPath)" (click)="removeCVPath(c)">
                          <i class="fa fa-times" title="Remove FileCV"></i>
                        </span>
                        <span *ngIf="checkNullOrEmpty(c.cvPath)" (click)="uploadCVPath(c, item)">
                          <i class="fa fa-fw fa-upload vertical-align-baseline" title="Add FileCV"></i>
                        </span>
                      </div>                    
                   </div>
                  </td>
                  <td class="text-left p-1 px-2" (dblclick)="edit(a, 'cvStatusId', c, item)">

                    <ng-container *ngIf="!editingRows[a]?.cvStatusId">
                      <span class="fixed-width-field badge text-white" [style.backgroundColor]="c.cvStatus.color">
                        {{ c.cvStatus.name }}
                      </span>
                    </ng-container>
                    <ng-container *ngIf="editingRows[a]?.cvStatusId">
                      <mat-form-field appearance="outline" class="fixed-width-field" floatLabel="never">
                        <mat-select
                          appFocus
                          [(ngModel)]="c.cvStatusId"
                          placeholder="Select Status"
                          (selectionChange)="updateStatusCV(a, c, 'cvStatusId')"
                          (keydown.enter)="updateStatusCV(a, c,'cvStatusId')"
                          (keydown.esc)=" cancelEdit(a,'cvStatusId',item)"  
                        >
                          <ng-container *ngFor="let status of cVStatusList">
                            <mat-option [value]="status.id" [style.backgroundColor]="status.color" [style.color]="'white'">
                              {{ status.name }}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    
                  </td>
                  
                 <td class="p-1 px-2" style="text-align: right; width: 100px;" (dblclick)="edit(a, 'kpiPoint', c, item)">
                  <span *ngIf="!editingRows[a]?.kpiPoint">{{ c.kpiPoint }}</span>
                  <input                
                    type="number"
                    *ngIf="editingRows[a]?.kpiPoint"
                    appFocus
                    style="width: 100%; max-width: 100%; border: none; background-color: transparent; text-align: right;"             
                    [(ngModel)]="c.kpiPoint"
                    (focusout)="updateKpiPointCV(a, c, 'KpiPoint')"
                    (keydown.enter)="updateKpiPointCV(a, c, 'kpiPoint')" 
                    (keydown.esc)=" cancelEdit(a,'kpiPoint',item)"                 
                  />                 
                </td>
                  
                <td class="text-center p-1 px-2" (dblclick)="edit(a, 'sendCVDate', c, item)">
                  <ng-container *ngIf="!editingRows[a]?.sendCVDate">
                    <span class="fixed-width-field1">{{ c.sendCVDate | date: 'd/MM/y' }}</span>
                  </ng-container>
                  <ng-container *ngIf="editingRows[a]?.sendCVDate"  >
                    <mat-form-field appearance="outline" class="fixed-width-field1">
                      <input
                        matInput
                        appFocus
                        placeholder="Choose a day"
                        name="exchangeDate"
                        [(ngModel)]="c.sendCVDate"
                        [min]="minDate"
                        [readonly]="true"
                        [owlDateTime]="dt2"
                        [owlDateTimeTrigger]="dt2"
                        (dateTimeChange)="updateSendCVDate(a, c, 'sendCVDate')"
                        (keydown.enter)="updateSendCVDate(a, c, 'sendCVDate')"  
                        (keydown.esc)=" cancelEdit(a,'sendCVDate',item)"             
                      />
                      <owl-date-time #dt2  [pickerType]="'calendar'"></owl-date-time>
                    </mat-form-field>
                  </ng-container>
                </td>
                
                <td class="text-center p-1 px-2" (dblclick)="edit(a, 'interviewDate', c, item)">
                  <ng-container *ngIf="!editingRows[a]?.interviewDate" class="fixed-width-field2">
                    <span >{{ c.interviewDate | date: 'd/MM/y' }}</span>
                    <br>
                    <span>{{ c.interviewDate | date: 'HH:mm' }}</span>
                  </ng-container>
                  <ng-container *ngIf="editingRows[a]?.interviewDate">
                    <mat-form-field appearance="outline" class="fixed-width-field1">
                      <input
                        matInput
                        appFocus
                        placeholder="Choose a day"
                        name="exchangeDate"
                        [(ngModel)]="c.interviewDate"
                        [min]="minDate"
                        [readonly]="true"
                        [owlDateTime]="dt1"
                        [owlDateTimeTrigger]="dt1"
                        (dateTimeChange)="updateInterviewTimeCV(a, c,'interviewDate')"
                        (keydown.enter)="updateInterviewTimeCV(a, c,'interviewDate')"  
                        (keydown.esc)=" cancelEdit(a,'interviewDate',item)"                      
                      />
                      <owl-date-time #dt1></owl-date-time>
                    </mat-form-field>
                  </ng-container>
                </td>
                

                  <td class="row-child-note p-1 px-2 col-12" style="resize: horizontal; overflow: auto; text-align: left;" (dblclick)="edit(a,'note',c,item)">
                    <span *ngIf="!editingRows[a]?.note">{{ c.note }} </span>
                    <textarea appFocus 
                              style="width: 100%; height: 100%; box-sizing: border-box; border: none; background-color: transparent;" 
                              *ngIf="editingRows[a]?.note"  
                              [(ngModel)]="c.note"                                                       
                              (focusout)=" updateNoteCV(a, c, 'note')"
                              (keydown.esc)=" cancelEdit(a,'note',item)"   
                           >
                    </textarea>
                  </td>
              </tr>     
            </tbody>
          </p-table>
        <div *ngIf="checkArrayNullOrEmpty(item.resCV)">
          <td colspan="100%" class="border-0 text-center">There is no CV for this ResourceRequest</td>
        </div>
      </div>
      </td>    
      </tr>            
    </ng-container>
              </tbody>
            </table>
          </div>

          <!-- </div> -->
        </div>
        <div class="card-footer bg-light border-top pb-0">
          <div class="row container-pagination">
            <div class="col-4 text-sm-left text-center number-items-pagination">
              <button class="btn btn-secondary mb-2" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
              <mat-form-field style="width: 20%; margin-left: 30px" class="form-number-item">
                <mat-label>Number items</mat-label>
                <mat-select
                  panelClass="options-number-item"
                  [(ngModel)]="pageSizeType"
                  (ngModelChange)="changePageSize()"
                >
                  <mat-option [value]="5"> 5 </mat-option>
                  <mat-option [value]="10"> 10 </mat-option>
                  <mat-option [value]="20"> 20 </mat-option>
                  <mat-option [value]="50"> 50 </mat-option>
                  <mat-option [value]="100"> 100 </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4 text-center total-pagination align-items-center">
              <div class="rsp-total-rows my-2">
                <label class="mb-0">Total:</label>
                <label class="mb-0">&nbsp;{{ totalItems }}</label>
              </div>
              <p class="mb-0 my-2 total-rows">
                {{ "TotalRecordsCount" | localize : totalItems }}
              </p>
            </div>
            <div class="col-4 pagination-control">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- The Modal Update Note-->
  <div class="modal" id="myModal" [ngStyle]="{ display: isShowModal }" cdkDrag>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header" cdkDragHandle>
          <h4 class="modal-title">
            {{ titleModal(typePM) }}
          </h4>
          <button type="button" class="close" (click)="closeModal()">
            &times;
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10">
              <textarea
                rows="8"
                placeholder="{{ typePM }}"
                name="note"
                type="text"
                class="form-control"
                name="DMnote"
                [(ngModel)]="strNote"
                #nameEl
                #name="ngModel"
              >
              </textarea>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="updateNote()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
