<div *ngIf="permission.isGranted(ResourceRequest_View)">
  <section class="content-header pb-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h3>Resource Requests</h3>
        </div>
        <div class="col-6 text-right">
          <button
            *ngIf="isShowBtnCreate()"
            (click)="createRequest()"
            class="btn bg-blue"
          >
            <i class="fa fa-plus-square"></i>
            Create
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row" id="search-resource-request">
            <div class="col-xl-4 col-sm-12 pt-1 search-text">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button
                        type="button"
                        class="btn bg-blue"
                        (click)="getDataPage(1)"
                      >
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      name="keyword"
                      placeholder="Search"
                      [(ngModel)]="searchText"
                      (keyup.enter)="getDataPage(1)"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        class="btn btn-default"
                        (click)="checkAddFilter()"
                      >
                        <i
                          class="fas"
                          [class.fa-angle-up]="advancedFiltersVisible"
                          [class.fa-angle-down]="!advancedFiltersVisible"
                        ></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="advancedFiltersVisible" class="mb-0 mt-1">
                    <div class="card-body">
                      <form class="form-horizontal">
                        <div class="row">
                          <div class="col-md-12 col-xl-12">
                            <div class="mb-0">
                              <div>
                                <div
                                  *ngFor="
                                    let item of filterItems;
                                    let i = index
                                  "
                                >
                                  <app-filter
                                    [item]="item"
                                    (emitChange)="onEmitChange($event, i)"
                                    (deleteDataFilter)="deleteFilterItem(i)"
                                    [inputFilters]="FILTER_CONFIG"
                                  >
                                  </app-filter>
                                </div>
                                <i
                                  style="padding: 0"
                                  class="fas fa-plus-circle ml-3"
                                  (click)="addFilter()"
                                ></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xl-7 col-lg-12 select-search"
              style="text-align: end"
            >
              <div class="row">
                <div class="col-xl-4 col-lg-4" style="margin-left: -20px;">
                  <div class="row">
                    <div
                      class="col-md-2 col-xl-4 d-flex rsp-label justify-content-end align-items-center"
                    >
                      <label class="mr-2 mb-0">Status:</label>
                    </div>
                    <div class="col-md-10 col-xl-8 rsp-group-form-field">
                      <mat-form-field
                        appearance="outline"
                        class="rsp-form-field"
                      >
                        <mat-select
                          [(ngModel)]="selectedStatus"
                          (selectionChange)="onChangeStatus()"
                        >
                          <mat-option [value]="-1">All</mat-option>
                          <mat-option
                            *ngFor="let status of listStatuses"
                            [value]="status.id"
                          >
                            {{ status.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4" style="margin-left: 10px;">
                  <div class="row">
                    <div
                      class="col-md-2 col-xl-4 d-flex rsp-label justify-content-end align-items-center"
                    >
                      <label class="mr-2 mb-0">Level:</label>
                    </div>
                    <div class="col-md-10 col-xl-8 rsp-group-form-field">
                      <mat-form-field
                        appearance="outline"
                        class="rsp-form-field"
                      >
                        <mat-select
                          [(ngModel)]="selectedLevel"
                          (selectionChange)="getDataPage(1)"
                        >
                          <mat-option [value]="-1">All</mat-option>
                          <mat-option
                            *ngFor="let level of listLevels"
                            [value]="level.id"
                          >
                            {{ level.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4" style="margin-left: 10px;">
                  <div class="row">
                    <div
                      class="col-md-2 col-xl-4 d-flex rsp-label justify-content-end align-items-center"
                    >
                      <label class="mr-2 mb-0">Skills:</label>
                    </div>
                    <div class="col-md-10 col-xl-8 rsp-group-form-field">
                      <mat-form-field
                        appearance="outline"
                        class="rsp-form-field"
                      >
                        <mat-select
                          placeholder="search skill"
                          multiple
                          (selectionChange)="getDataPage(1)"
                          [(ngModel)]="skillIds"
                        >
                          <div
                            style="width: 334px"
                            style="
                              position: sticky;
                              top: 0;
                              z-index: 2;
                              background-color: white;
                              padding: 10px 7px;
                              padding: 13px 7px 0px 5px;
                            "
                          >
                            <mat-radio-group
                              aria-label="Filter by"
                              class="w-100 px-3 row"
                              [(ngModel)]="isAndCondition"
                              (ngModelChange)="refresh()"
                              style="width: 100%"
                            >
                              <div class="col-4">
                                <label
                                  style="white-space: nowrap"
                                  class="mt-2 mr-2"
                                  >Search type:</label
                                >
                              </div>
                              <div class="col-8 pt-2">
                                <mat-radio-button class="mr-3" [value]="true"
                                  >And</mat-radio-button
                                >
                                <mat-radio-button [value]="false"
                                  >Or</mat-radio-button
                                >
                              </div>
                            </mat-radio-group>
                          </div>
                          <mat-option
                            *ngFor="let skill of listSkills"
                            [value]="skill.id"
                          >
                            {{ skill.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-1 pt-1 clear" style="text-align: end">
              <div class="row">
                <div class="rsp-total-rows" style="display: none">
                  <label class="mb-0">Total:</label>
                  <label class="mb-0">&nbsp;{{ totalItems }}</label>
                </div>
                <div class="col-md-12 clear-button">
                  <button
                    type="button"
                    class="btn btn-light"
                    matTooltip="Clear Filter"
                    (click)="clearAllFilter()"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body table-responsive pb-4">
          <div class="fixHead">
            <table
            [busy]="isLoading"
            style="border-collapse: collapse"
            class="table table-hover text-nowrap mt-2"
            id="tbl-resource-request"
          >
            <thead>
              <tr>
                <th
                  *ngFor="let thead of theadTable; let i = index"
                   class="text-center"
                >
                  <div class="row sortHeader" [ngStyle]="styleThead(thead)">
                    <div class="col-xl-8 col-lg-12 rsp-th-name text-left">
                      {{ thead.name }}
                    </div>
                    <div
                      class="col-xl-4 col-lg-12 rsp-th-sort text-right"
                      *ngIf="i != 0 && thead.sortName"
                      style="vertical-align: middle"
                    >
                      <ng-container>
                        <app-sortable
                          #sortThead
                          [data]="{
                            sort: thead.sortName,
                            typeSort: thead.defaultSort
                          }"
                          (sortEvent)="sortTable($event)"
                        ></app-sortable>
                      </ng-container>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of listRequest
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span>{{ i + 1 }}</span>
                </td>
                <td class="text-center">
                  <p
                    class="tag mx-auto"
                    [ngClass]="APP_CONST.priorityRequest[item.priority]"
                  >
                    {{ item.priorityName }}
                  </p>
                </td>
                <td class="text-center">
                 <span class="link" (click)="showProject(item)"> {{ item.projectName }} </span>
                  <br />
                  <span
                    [ngClass]="
                      APP_CONST.ProjectTypeStyle[
                        getByEnum(item.projectType, APP_ENUM.ProjectType)
                      ]
                    "
                  >
                    {{ item.projectTypeName }}
                  </span>
                  <span
                    *ngIf="item.projectStatus == 'Potential'"
                    [ngClass]="
                      APP_CONST.statusStyle[
                        getByEnum(item.status, APP_ENUM.ProjectStatus)
                      ]
                    "
                  >
                    {{ item.projectStatusName }}
                  </span>
                </td>
                <td>
                  <ul class="pl-3 m-0">
                    <li *ngFor="let skill of item.skills">
                      {{ skill.name }}
                    </li>
                  </ul>
                </td>
                <td class="text-center">
                  <span
                    class="ml-1 badge text-white"
                    [ngStyle]="Utils.getUserLevel(item.level).style"
                  >
                    {{ item.levelName }}
                  </span>
                </td>
                <td class="text-center">
                  <b>{{ item.creationTime | date: "dd/MM/yyyy" }}</b>
                  <br />
                  <small>{{ Utils.getTimeHistory(item.creationTime) }}</small>
                </td>
                <!-- <td class="text-center"> <strong>{{item.plannedNumberOfPersonnel}}</strong></td> -->
                <td class="text-center">
                  <b>{{ item.timeNeed | date: "dd/MM/yyyy" }}</b>
                  <br />
                  <small>{{ Utils.getTimeHistory(item.timeNeed) }}</small>
                </td>
                <td>
                  <div class="row">
                    <div class="col-md-10">
                      <div *ngIf="item.planUserInfo">
                        <p class="m-0">
                          <strong>{{
                            item.planUserInfo.employee.fullName
                          }}</strong>
                        </p>
                        <p class="m-0">
                          <span
                            class="mr-1 badge badge-pill text-white"
                            [style.backgroundColor]="
                              item.planUserInfo.employee.branchColor
                            "
                          >
                            {{ item.planUserInfo.employee.branchDisplayName }}
                          </span>
                          <span
                            [ngClass]="
                              APP_CONST.userTypeStyle[
                                item.planUserInfo.employee.userType
                              ]
                            "
                          >
                            {{ item.planUserInfo.employee.userTypeName }}
                          </span>
                          <span
                            class="ml-1 badge text-white"
                            [style.backgroundColor]="item.planUserInfo.employee.positionColor"
                          >
                            {{ item.planUserInfo.employee.positionName }}
                          </span>
                          <span
                            class="ml-1 badge text-white"
                            [ngStyle]="
                              Utils.getUserLevel(
                                item.planUserInfo.employee.userLevel
                              ).style
                            "
                          >
                            {{ item.planUserInfo.employee.levelName }}
                          </span>
                        </p>
                        <b>{{
                          item.planUserInfo.plannedDate | date: "dd/MM/yyyy"
                        }}</b>
                      </div>
                    </div>
                    <div
                      class="col-md-2 text-right"
                      *ngIf="
                        item.statusName == 'PENDING' &&
                        permission.isGranted(
                          ResourceRequest_PlanNewResourceForRequest
                        )
                      "
                    >
                      <i
                        class="fa fa-edit"
                        (click)="showModalPlanUser(item)"
                      ></i>
                    </div>
                  </div>
                </td>
                <td
                  style="
                    white-space: normal;
                    max-width: 250px;
                    min-width: 150px;
                  "
                >
                  <div class="row">
                    <div class="col-md-10">
                      <pre
                        class="mb-0 p-0 ml-2"
                        style="
                          white-space: pre-line;
                          font-family: sans-serif;
                          align-self: flex-start;
                          line-height: initial;
                        "
                      >
                                            {{ item.pmNote }}
                                        </pre
                      >
                    </div>
                    <div
                      class="col-md-2"
                      *ngIf="permission.isGranted(ResourceRequest_EditPmNote)"
                    >
                      <i
                        class="fa fa-edit"
                        (click)="
                          openModal(item.name, 'PM', item.pmNote, item.id)
                        "
                      ></i>
                    </div>
                  </div>
                </td>
                <td
                  style="
                    white-space: normal;
                    max-width: 250px;
                    min-width: 150px;
                  "
                >
                  <div class="row">
                    <div class="col-md-10">
                      <pre
                        class="mb-0 p-0 ml-2"
                        style="
                          white-space: pre-line;
                          font-family: sans-serif;
                          align-self: flex-start;
                          line-height: initial;
                        "
                      >
                                            {{ item.dmNote }}
                      </pre>
                    </div>
                    <div
                      class="col-md-2"
                      *ngIf="permission.isGranted(ResourceRequest_EditDmNote)"
                    >
                      <i
                        class="fa fa-edit"
                        (click)="
                          openModal(item.name, 'HR/DM', item.dmNote, item.id)
                        "
                      ></i>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span
                    [ngClass]="
                      APP_CONST.resourceRequestStyle[
                        getValueByEnum(
                          item.status,
                          APP_ENUM.ResourceRequestStatus
                        )
                      ]
                    "
                  >
                    {{
                      getValueByEnum(
                        item.status,
                        APP_ENUM.ResourceRequestStatus
                      )
                    }}
                  </span>
                  <br />
                  <span *ngIf="item.statusName == 'DONE'">{{
                    item.timeDone | date: "dd/MM/yyyy"
                  }}</span>
                  <br>
                  <span *ngIf="item.isRecruitmentSend== true"
                        (click)="viewRecruitment(item.recruitmentUrl)"
                        class="tl-link">
                    #{{sliceUrl(item.recruitmentUrl)}}
                  </span>
                </td>
                <td class="text-center action-request-resource-tab">
                  <button
                    mat-button
                    [matMenuTriggerFor]="menu"
                  >
                    <i class="fas fa-bars fa-lg"></i>
                  </button>
                  <mat-menu #menu="matMenu" class="p-2">
                    <!-- case 1: Status is inprogress -->
                    <div>
                      <button
                        *ngIf="isShowBtnSetDone(item)"
                        class="btn btn-block text-left"
                        mat-button
                        (click)="setDoneRequest(item)"
                      >
                        <i
                          class="fa fa-fw fa-check text-success vertical-align-baseline"
                        ></i>
                        Set Done
                      </button>

                      <button
                        *ngIf="isShowBtnCancel(item)"
                        class="btn btn-block text-left"
                        mat-button
                        (click)="cancelRequest(item)"
                      >
                        <i
                          class="fa fa-fw fa-times text-warning vertical-align-baseline"
                        ></i>
                        Cancel
                      </button>

                      <br />
                      <button
                        class="btn btn-block text-left"
                        mat-button
                        *ngIf="isShowBtnEdit(item)"
                        (click)="editRequest(item)"
                      >
                        <i class="fa fa-fw fa-edit vertical-align-baseline"></i>
                        Edit
                      </button>

                      <button
                        *ngIf="item.isRecruitmentSend && item.recruitmentUrl"
                        class="btn btn-block text-left"
                        (click)="viewRecruitment(item.recruitmentUrl)"
                        mat-button
                      >
                        <i class="fa fa-fw fa-eye vertical-align-baseline"></i>
                        View recruitment
                      </button>

                      <button
                        *ngIf="isShowBtnDelete(item)"
                        class="btn btn-block text-left"
                        mat-button
                        (click)="delete(item)"
                      >
                        <i
                          class="fa fa-fw fa-trash text-danger vertical-align-baseline"
                        ></i>
                        Delete
                      </button>

                      <button
                        *ngIf="isShowBtnSendRecruitment(item)"
                        class="btn btn-block text-left"
                        mat-button
                        (click)="sendRecruitment(item)"
                      >
                        <i
                          class="fa fa-fw fa-paper-plane text-primary vertical-align-baseline"
                        ></i>
                        Send recruitment
                      </button>
                    </div>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        
          <!-- </div> -->
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary mb-2" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
              <mat-form-field style="width: 20%; margin-left: 30px">
                <mat-label>Number items</mat-label>
                <mat-select
                  [(ngModel)]="pageSizeType"
                  (ngModelChange)="changePageSize()"
                >
                  <mat-option [value]="5"> 5 </mat-option>
                  <mat-option [value]="10"> 10 </mat-option>
                  <mat-option [value]="20"> 20 </mat-option>
                  <mat-option [value]="50"> 50 </mat-option>
                  <mat-option [value]="100"> 100 </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2 total-rows">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- The Modal Update Note-->
  <div class="modal" id="myModal" [ngStyle]="{ display: isShowModal }">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            {{ typePM }} Note:
            <span class="text-success">{{ modal_title }}</span>
          </h4>
          <button type="button" class="close" (click)="closeModal()">
            &times;
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-2">
              <label for="">Note:</label>
            </div>
            <div class="col-md-10">
              <textarea
                rows="6"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                placeholder="Enter note"
                name="note"
                type="text"
                class="form-control"
                name="DMnote"
                [(ngModel)]="strNote"
                #nameEl
                #name="ngModel"
              >
              </textarea>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="updateNote()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
