<form class="form-horizontal" autocomplete="off" #timesheetForm="ngForm" novalidate>
    <abp-modal-header title="Select Project to Reactive" (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body row">
        <div class="col-11 mt-3 mt-md-0 px-0 d-flex">
            <div class="input-group align-items-baseline">
                <label for="criteriaName col-form-label" class="mr-2">
                    {{ 'Close date' | localize }}:
                </label>
                <mat-form-field appearance="outline" class="w-50">
                    <input matInput
                    placeholder="Choose a day"
                    name="exchangeDate"
                    [(ngModel)]="startDate"
                    [min]="minDate"
                    #timeStart="ngModel"
                    (ngModelChange)="onDateChange()"
                    [readonly]="true"
                    [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                    />
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field>
                <span>(Not required)</span>
            </div>
        </div>
        <div class="col mt-3 mt-lg-0 text-right">
            <button  class="btn bg-blue" (click)="SaveAndClose()" >
                Save
            </button>
        </div>
        <div class="table-responsive py-3">
            <div class="fixTableHead">
                <table style="border-collapse: collapse;" class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th style="width: 300px;">Project</th>
                            <th style="width: 450px;">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of projectList let i=index;" class="text-center">
                            <td>
                                <span >
                                    <i class="fas fa-times fa-lg ml-1" (click)="removeTimesheetProject(item)"></i>
                                </span>
                            </td>
                            <td>
                                <div class="text-left d-flex flex-column">
                                    <span><strong style="color: #014C6E;">[{{item.projectCode}}]
                                            {{item.projectName}}</strong></span>
                                    <span><strong>Client : </strong>[{{item.clientCode}}]</span>
                                    <span><strong>PM : </strong>{{item.pmFullName}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <span style="width: fit-content;" class="mr-3"
                                        [ngClass]=" APP_CONST.ProjectTypeStyle[getByEnum(item.projectType,APP_ENUM.ProjectType)]">
                                        {{
                                        changeTextProjectType(getByEnum(item.projectType,APP_ENUM.ProjectType))
                                        }}
                                    </span>
                                    <span style="width: fit-content;"
                                        [ngClass]=" APP_CONST.statusStyle[getByEnum(item.projectStatus,APP_ENUM.ProjectStatus)]">{{
                                        getByEnum(item.projectStatus,APP_ENUM.ProjectStatus)}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</form>
