<form action="" autocomplete="off" (submit)="SaveAndClose()" class="form-invoice-setting">
    <abp-modal-header [title]="'Edit invoice setting of project ' + projectName | localize"
        (onCloseClick)="matDialogRef.close()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-form-label col-md-4">Last invoice number:</label>
            <div class="col-md-8">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput type="number" name="invoiceNumber" [(ngModel)]="updateInvoiceDto.invoiceNumber"
                        required>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-form-label col-md-4">Discount(%):</label>
            <div class="col-md-8">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput type="number" name="discount" [(ngModel)]="updateInvoiceDto.discount" required>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-4 pt-2">
                Invoice Setting:
            </label>
            <div class="col-md-8">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-select name="invoiceSetting" [(ngModel)]="updateInvoiceDto.isMainProjectInvoice">
                        <mat-option *ngFor="let item of invoiceSettingOptions" [value]="item.value">
                            {{item.key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="updateInvoiceDto.isMainProjectInvoice == APP_ENUMS.InvoiceSetting.Main" class="form-group row">
            <label class="col-form-label col-md-4 pt-2">
                Sub projects:
            </label>
            <div name="slt-subProject" class="col-md-8">
                <app-multi-select-option class="w-100" [dropdownData]="listSelectProject"
                    [selectLabel]="'Select sub projects'" [selectedValues]="updateInvoiceDto.subProjectIds"
                    (onMultiSelectionChange)="updateInvoiceDto.subProjectIds = $event"
                    [searchPlaceHolder]="'Search projects'">
                </app-multi-select-option>
            </div>
        </div>
        <div *ngIf="!updateInvoiceDto.isMainProjectInvoice" class="form-group row required">
            <label class="col-form-label col-md-4 pt-2">
                Main project:
            </label>
            <div name="slt-mainProject" class="col-md-8" appearance="outline">
                <app-multi-select-option class="w-100" [required]="true" [searchLabel]="'Search project'"
                    [selectLabel]="'Select main project'" [selectedValue]="updateInvoiceDto.mainProjectId"
                    [dropdownData]="listSelectProject" [multiple]="false"
                    (onSingleSelectionChange)="updateInvoiceDto.mainProjectId = $event"
                    [searchPlaceHolder]="'Search project'">
                </app-multi-select-option>
            </div>
        </div>
        <div class="form-group row align-items-center">
            <div class="col-md-4 d-flex align-items-center">
                <label class="col-form-label pt-2 mb-0 flex-grow-1">
                    <span>OT Types:</span>
                </label>
            </div>
            
            <div class="col-md-8">
                <div style="max-height: 200px; overflow-y: auto;">
                    <div *ngFor="let ot of updateInvoiceDto.otTypes; let i = index" class="d-flex mb-2 align-items-center">
                        <input
                            type="text"
                            class="form-control mr-2"
                            placeholder="Input the OT Type"
                            [(ngModel)]="ot.otTypeName"
                            [name]="'otName' + i"
                            style="width: 45%;" />

                        <input
                            type="number"
                            min="0"
                            step="0.01"
                            class="form-control"
                            placeholder="Coefficient"
                            [(ngModel)]="ot.multiplier"
                            [name]="'otMultiplier' + i"
                            style="width: 45%;" />
                        
                        <button
                            class="ml-2 p-0 border-0"
                            (click)="removeOtType(i)"
                            type="button"
                            title="Delete OT Type"
                            style="background: none; outline: none; box-shadow: none;">
                            <i class="fa fa-times"></i>  
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-end mr-2 mt-2 mb-2 align-items-center">
                    <button
                        class="btn bg-blue btn-sm mt-2"
                        (click)="addOtType()"
                        type="button"
                        style="cursor: pointer; font-size: 10px;">
                        <i class="fa fa-plus fa-s m-0"></i>
                    </button>
                </div>
            </div>
           
        </div>
    </div>

    <abp-modal-footer [cancelDisabled]="saving" (onCancelClick)="matDialogRef.close()" [saveDisabled]="saving">
    </abp-modal-footer>
</form>