<section class="content px-2 pt-2 ">
    <div class="container-fluid">
        <div class="row mb-4 card">
            <div class="col-12">
                <nav mat-tab-nav-bar style="position: sticky; z-index: 10; top: 56px; background: white;">
                    <!-- <a 
                     [ngClass]="currentUrl.includes('weekly-report-tab')?'active':''"  mat-tab-link (click)="routingWeeklyReportTab()" >
                        Weekly Report
                    </a>
                    <a 
                     [ngClass]="currentUrl.includes('request-resource-tab')?'active':''"  mat-tab-link (click)="routingRequestResourceTab()" *ngIf="permission.isGranted(DeliveryManagement_CanViewMenu_ResourceManagement)">
                        Request Resource
                    </a>
                    <a [ngClass]="currentUrl.includes('available-resource-tab')?'active':''"  mat-tab-link (click)="routingAvailableResourceTab()" *ngIf="permission.isGranted(DeliveryManagement_ResourceRequest_AvailableResource)">
                        Available Resource
                    </a> -->
                </nav>
                <router-outlet></router-outlet>
            </div>


        </div>
    </div>
</section>