th,
td {
  text-align: center;
}

.disablePage ul li {
  cursor: not-allowed;
}

::ng-deep .mat-form-field-outline {
  background: white;
}

::ng-deep .mat-checkbox-layout {
  margin-top: 10px;
}

.submit-btn:disabled i {
  color: gray !important;
}

.btnCreate {
  margin-bottom: 10px;
}

i {
  margin-right: 5px;
}

span {
  height: fit-content;
}

.table-vertical {
  margin-top: 20px;
}

.table-title {
  font-size: 24px;
  color: #424242;
}

.past {
  background-color: #efefef;
}

.status-badges {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
:ng-deep .mat-menu-panel {
  height: fit-content;
}

.request-table .status-column{
  width: 90px;
}
.request-table .date-column{
  width: 110px;
}
.request-table .skill-column{
  width: 180px;
}
.table-note{
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
}
.subProject:hover{
  color: #0056b3 !important;
}

.list-charge-status {
  padding-left: 10%;
}

.card-footer {
  height: 50px;
}

.form-number-items {
  width: 20%;
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  :host ::ng-deep .pannel-header-bill .mat-content,
  :host ::ng-deep .pannel-header-resource .mat-content {
    flex-wrap: wrap;
  }

  .pannel-header-bill-expand {
    height: fit-content !important;
    align-items: baseline;
  }

  .pannel-header-resource-expand {
    height: fit-content !important;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 24px;
  }

  .pannel-header-resource-collapse {
    padding: 0 18px;
  }

  .list-charge-status {
    padding-left: 0;
  }

  .checkbox-history, .container-fluid {
    padding: 0;
  }

  .card-footer {
    height: fit-content;
  }

  .form-number-items {
    width: 48%;
    margin-left: 0;
  }

  .content {
    padding: 0 !important;
  }

  :host ::ng-deep .content .mat-expansion-panel {
    border-radius: 0;
  }
}
