.title{
    line-height: 50px;
    font-size: 20px;
    font-weight: normal;
    color: #111;
    margin-bottom: 0px;
}
.panel-header{
    margin: 10px 0px;
    padding-left: 12px !important;
    padding-right: 8px;
}

::ng-deep  .mat-expansion-indicator{
    margin-right: 12px;
}
.edit-save{
    margin-left: 20px;
    line-height: 50px;
}
::ng-deep .mat-expansion-panel-body{
    padding-left: 16px;
    padding-right: 16px;
}
.inputTime{
    outline: none;
    border: none;
    color: rgba(0,0,0,.38);
    border-bottom: 1px rgba(0,0,0,.38) dotted;

}
.editTime{
    color: #000 !important;
    border-bottom: 1px solid #000;
}
.closeTime{
    width: 50px;
    padding-left: 10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .title-other {
        line-height: 26px;
    }

    .status-configuration, .icon-check-status {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .icon-check-status button {
        margin-left: 0 !important;
        top: -8px;
    }

    .header-info {
        flex-wrap: nowrap;
        white-space: nowrap;
        gap: 10px;
    }

    .panel-header {
        align-items: baseline;
    }

    .panel-header-expand {
        height: fit-content !important;
    }

    .edit-save { 
        margin-left: 0;
    }

    .list-actions {
        margin-right: auto;
        margin-top: 10px;
    }

    .edit-timesheet {
        margin-top: 6px;
    }

    ::ng-deep .card .mat-expansion-panel-body {
        padding: 0 12px 16px;
    }

    ::ng-deep .checkbox-configuration .mat-checkbox-inner-container {
        margin-top: 5px;
    }

    ::ng-deep .checkbox-configuration .mat-checkbox-label {
        white-space: normal;
    }

    .header-info i {
        margin-right: 0 !important;
    }

    .header-configuration .title {
        line-height: 28px;
    }

    
    .header-configuration, .pannel-title-column {
        flex-direction: column;
        align-items: baseline;
    }

    .edit-save-google-client, .edit-save-working-hours, .edit-save-discord-channel {
        margin-bottom: 10px;
        margin-top: -6px;
    }

    .edit-save-history {
        margin-bottom: 10px;
    }

    .mat-form-field-komu, .mat-form-field-hrm {
        width: 60% !important;
    }

    .mat-form-field-timesheet, .mat-form-field-finance, .mat-form-field-talent {
        width: 70% !important;
    }

    .mat-form-field-history {
        width: 75% !important;
    }

    .edit-save-audit-score {
        margin-top: -10px;
    }

    .info-add-time, .content-update-bill {
        flex-direction: column;
        padding: 0 10px;
    }

    .input-time, .input-date {
        width: fit-content !important;
    }

    .delete-time {
        padding-left: 0px;
    }

    .input-date {
        margin-top: 30px;
    }

    .mat-checkbox-active-time, .edit-save-reactive-timesheet {
        margin-bottom: 10px;
    }

    .mat-checkbox-active-time {
        padding-left: 0;
    }

    .info-update-bill {
        width: 100% !important;
        flex-direction: column;
    }

    .info-update-bill .title {
        padding-left: 10px;
    }

    .form-credential {
        width: 100% !important;
    }

    .both-input-time {
        width: fit-content !important;
    }
}
