<div class="card-header p-0">
    <h4>{{data.type === 'confirmOut'? 'Confirm' : 'Release' }} User: <strong>{{data?.user?.fullName}}</strong> From Project <strong>{{data.action == 'Release'? data.user.projectName : ''}}</strong>
        <strong *ngIf="data.type === 'confirmOut'" class="text-danger">Out project</strong></h4>
</div>
<div class="card-body">
    <div class="form-group row required">
        <div class="col-3">
            <label for="releaseDate" class="mt-2">Release date: </label>
        </div>
        <div class="col-9">
            <mat-form-field appearance="outline" style="width: 200px;">
                <input matInput [matDatepicker]="picker" placeholder="chose a date *" required [(ngModel)]="releaseDate" #startTime="ngModel" name="releaseDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <!-- <div class="form-group row">
        <label class="col-md-3 col-form-label" for="pm"> Note: </label>
        <div class="col-md-9">
            <textarea class="form-control mt-1" placeholder="Note" name="note" [(ngModel)]="note" rows="2"></textarea>
        </div>
    </div> -->
</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-secondary btn-action mr-2" mat-dialog-close="">
        Cancel
    </button>
    <button class="btn btn-primary btn-action" (click)="confirmRelease()">
        Confirm
    </button>
</div>