button{
    width: 100px;
}

/* @media only screen and (max-width: 768px){
    :host ::ng-deep .modal-body {
        padding: 0;
    }
    .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .field-release-date {
        width: 100% !important;
    }

    /* .form-horizontal::ng-deep .modal-header {
        padding-left: 0 !important
    }

    :host ::ng-deep .mat-dialog-actions[align=end] {
        padding-bottom: 16px !important;
        padding-right: 0px !important;
        margin-bottom: -24px !important;
    } */

.datepicker {
    width: 200px;
}

@media screen and (max-width: 600px) {
    .datepicker {
        width: 100%;
    }

    .card-body {
        padding: 10px 0;
    }
}
