.form-control:disabled{
    background-color: white !important;
    border: 1px solid #ebebeb;
    color: #c1c1c1;
}


@media screen and (max-width: 600px) {
    :host ::ng-deep .form-horizontal .modal-header {
        padding: 0;
        align-items: baseline;
    }

    .modal-body {
        max-height: 55vh;
        overflow: auto;
    }
}
