<form class="form-horizontal create-update-type-login" autocomplete="off" #typeLoginForm="ngForm" novalidate>
	<abp-modal-header title="{{ data.command === 'create' ? 'Create new type login' : 'Edit type login: ' + title }}" (onCloseClick)="dialogRef.close()"></abp-modal-header>

	<div class="modal-body">
		<div class="form-group row required">
			<label class="col-md-3 col-form-label" for="name">Name:</label>
			<div class="col-md-9">
				<mat-form-field appearance="outline" class="w-100 mt-1">
					<mat-label>Enter name</mat-label>
					<input matInput name="name" [(ngModel)]="model.name" required />
				</mat-form-field>
			</div>
		</div>
	</div>

	<div align="end" class="row justify-content-end">
		<button name="btn-cancel" class="btn btn-secondary btn-action mr-2" mat-dialog-close>Cancel</button>
		<button name="btn-save" class="btn btn-primary btn-action" [disabled]="!typeLoginForm.valid || isLoading" (click)="SaveAndClose()">Save</button>
	</div>
</form>
