tr, th, td{
 vertical-align: middle ;
}
button{
    height: fit-content;
}
/* ::ng-deep .search-pm .mat-form-field{
    width: 270px !important;
}
::ng-deep .search-status .mat-form-field{
    width: 150px !important;
} */

::ng-deep .filter-wrap .mat-form-field{
  width: 100%;
}

::ng-deep .list-project .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.2em) scale(.75) ;
}

.list-project .search-status {
  justify-content: flex-end;
  padding-right: 0;
}

.list-project .project-wrap {
  display: flex;
  justify-content: space-between;
}

.list-project .project-wrap .project-name-wrap {
  display: flex;
  flex-direction: column;
}

.list-project .project-wrap .sub-main-type {
  height: 18px !important;
  border-radius: 4px; 
  padding: 3px 4.8px; 
  font-weight: bold; 
  font-size: 12px; 
  color: white; 
  margin-right: 3px;
  line-height: 12px;
  text-align: center;
  box-sizing: border-box;
  border-collapse: collapse;
  display: inline-block;
  
}

.sub-main-project-name:hover {
  color: blue;
}

.list-project .time-wrap {
  display: flex;
  justify-content: space-between;
}

.list-project .time-wrap .start-time {
  color: var(--secondary);
}

.time-send-report-wrap.report-late {
  color: var(--danger);
}

.list-project .sort-icon-wrap {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-project .sort-icon-wrap i {
  opacity: 0.4;
  line-height: 0px;
  font-size: 20px;
}

.list-project .sort-icon-wrap i.active {
  opacity: 1;
}

::ng-deep .is-charged-checkbox .mat-checkbox-ripple {
  width: 0 !important;
  height: 0;
}

::ng-deep .is-charged-checkbox .mat-checkbox-layout {
  margin-bottom: 0 !important;
}

.action-header {
  text-align: right;
}

.form-field-number-paging {
  width: 25%; 
  margin-left: 30px
}

@media screen and (max-width: 575px) {
  .card-filter {
    position: relative;
  }

  .icon-add-filter-item {
    position: absolute;
    bottom: 3px;
    left: 20px;
  }

  .card-body {
    padding-bottom: 0;
  }

  .icon-add-filter {
    margin-left: 0.5rem !important;
  }
}

@media screen and (max-width: 600px) {
  .card-header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card-header > div, .filter-wrap {
    gap: 15px;
  }

  .action-header {
    text-align: left;
    padding: 7.5px;
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  .row-checkbox {
    padding: 0 17px;
  }

  .show-list-filter {
    padding: 12px;
  }

  .table-outsourcing-project {
    padding: 1rem 1.2rem 1rem 1.2rem !important;
  }

  ::ng-deep .swal2-title {
    font-size: 20px;
    max-height: 40vh;
    overflow-y: auto;
  }

  .title-weekly-report {
    white-space: normal;
  }

  .list-project, .container-fluid {
    padding: 0 !important;
  }

  .card {
    border-radius: 0;
  }

  .card-footer {
    padding-top: 20px;
  }

  .content-header {
    padding: 15px 1rem;
  }

  ::ng-deep .swal2-header {
    padding: 0;
  }

  .col-resources, .col-bill-info {
    min-width: 200px;
  }

  .list-number-item {
    order: 2;
    padding-top: 30px;
  }

  .total-record {
    order: 3;
  }

  .list-pagination {
    order: 1;
  }

  .title-project {
    gap: 10px;
  }

  ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .create-edit-project-dialog {
    width: 100%;
    max-width: 100% !important;
    padding: 0 22px;
  }
}
/*
@media only screen and (min-width: 1546px){
    .label-pm{
      width: 20%;
    }
    .list-status{
        width: 30%;
      }

    .listPM {
      width: 80% !important ;
    }
    .listStatus{
        width: 70% !important ;
    }
  }
  @media only screen and (min-width: 1349px)  and (max-width: 1545px){
    .label-pm{
      width: 20%;
    }
    .list-status{
        width: 40%;
      }

    .listPM {
      width: 80% !important ;
    }
    .listStatus{
        width: 60% !important ;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1348px){
    .label-pm{
      width: 20%;
    }
    .list-status{
        width: 50%;
      }

    .listPM {
      width: 80% !important ;
    }
    .listStatus{
        width: 50% !important ;
    }
  } */
