.mat-select:disabled .mat-select-value-text {
    color: black;
}
::ng-deep.my-dialog .mat-dialog-container{
    padding-top: 0;
  }
   
:host::ng-deep .modal-header {
    padding: 0;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .item-checkbox label {
        max-width: 70%;
    }

    .item-checkbox > div {
        width: fit-content;
    }

    .modal-body {
        padding: 10px;
        padding-right: 0;
        max-height: 50vh;
    }

    :host ::ng-deep .form-horizontal {
        .modal-header {
            align-items: baseline;
        }  
        
        .mat-dialog-content {
            margin-bottom: 20px;
        }
    }

    .dropdown-select {
        margin-top: 0 !important;
    }

    .button-filter-skill {
        top: inherit !important;
        width: auto !important;
        padding: 12px 7px !important;
    }
}
