.mat-select:disabled .mat-select-value-text {
    color: black;
}
::ng-deep.my-dialog .mat-dialog-container{
    padding-top: 0;
  }
   
:host::ng-deep .modal-header {
    padding: 0;
    align-items: center;
}

@media only screen and (max-width: 768px){
    :host ::ng-deep .modal-body {
        padding: 0;
    }
}

@media (max-width: 600px) {
    :host ::ng-deep .mat-dialog-container {
      overflow: hidden;
    }
    :host ::ng-deep .mat-dialog-content {
      max-height: 56vh;
      overflow: auto;
    }
}