<form [formGroup]="formPopup" (ngSubmit)="onSubmit()">
    
    <div class="mt-3">
        <div class="form-group d-flex required">
            <label class="col-md-3 mt-2 col-form-label">
                Start date:
            </label>
            <div class="col-md-9">
                <mat-form-field class="w-100" appearance="outline" *ngIf="mode == APP_ENUM.DateFilterMode.Birthday" BirthdayDateFormat>
                    <input matInput [matDatepicker]="picker" placeholder="From Date" formControlName="fromDateCustomTime" [max]="formPopup.value.toDateCustomTime">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline" *ngIf="mode != APP_ENUM.DateFilterMode.Birthday">
                    <input matInput [matDatepicker]="picker" placeholder="From Date" formControlName="fromDateCustomTime" [max]="formPopup.value.toDateCustomTime">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group d-flex required">
            <label class="col-md-3 mt-2 col-form-label">
                To date:
            </label>
            <div class="col-md-9">
                <mat-form-field class="w-100" appearance="outline" *ngIf="mode == APP_ENUM.DateFilterMode.Birthday" BirthdayDateFormat>
                    <input matInput [matDatepicker]="picker1" placeholder="To Date" formControlName="toDateCustomTime"  [min]="formPopup.value.fromDateCustomTime">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline" *ngIf="mode != APP_ENUM.DateFilterMode.Birthday">
                    <input matInput [matDatepicker]="picker1" placeholder="To Date" formControlName="toDateCustomTime"  [min]="formPopup.value.fromDateCustomTime">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button class="btn btn-secondary mr-2" type="button" (click)="onClose(false,timeOld)">Cancel</button>
        <button class="btn btn-primary" [disabled]="!formPopup.valid" type="submit" flex="15" color="primary">Save</button>
    </div>
</form>
