@media only screen and (max-width: 768px){
    .create-update-criteria ::ng-deep .modal-header {
        padding: 0 !important;
    }
    .create-update-criteria ::ng-deep .modal-body {
        padding: 1rem 0;
        
    }

    :host ::ng-deep .mat-dialog-actions[align=end] {
        margin-bottom: -15px !important;
    }
}