tr,
th,
td {
  vertical-align: middle;
}
button {
  height: fit-content;
}

.projectEvaluation {
  font-size: 1rem;
  font-family: sans-serif;
  white-space: pre-line;
  line-height: initial;
}

::ng-deep .filter-wrap .mat-form-field {
  width: 100%;
}

::ng-deep
  .training-project
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.2em) scale(0.75);
}

.training-project .search-status {
  justify-content: flex-end;
  padding-right: 0;
}

.training-project .time-wrap {
  display: flex;
  flex-direction: column;
}

.training-project .time-wrap .start-time {
  color: var(--secondary);
}

.training-project .time-wrap .end-time {
  margin-top: 4px;
}

.time-send-report-wrap.report-late {
  color: var(--danger);
}

.training-project .sort-icon-wrap {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.training-project .sort-icon-wrap i {
  opacity: 0.4;
  line-height: 0px;
  font-size: 20px;
}

.training-project .sort-icon-wrap i.active {
  opacity: 1;
}

.card-footer-wrapper {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .title-training {
    font-size: 1.4rem !important;
  }

  .card-header-body-responsive {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .search-group {
    max-width: 100%;
    width: 100%;
  }

  .filter-wrap-responsive {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .max-w-100 {
    max-width: 100%;
  }

  .margin-0 {
    margin: 0;
  }

  .card-filter {
    position: relative;
  }

  .icon-add-filter-item {
    position: absolute;
    bottom: 3px;
    left: 20px;
  }

  .card-body {
    padding-bottom: 0;
  }

  .card-footer-wrapper {
    text-align: unset;
    flex: 1 1;
    width: calc(100% - 70px);
  }
}
