::ng-deep.my-dialog .mat-dialog-container{
    padding-top: 0;
  }
  :host::ng-deep .modal-header {
    padding: 0;
    align-items: center;
  }
  :host::ng-deep .mat-dialog-title{
    margin: 20px 0;
  }

@media only screen and (max-width: 768px){
  ::ng-deep.my-dialog {
    width: 700px !important;
  }
  .content {
    padding: 15px 0 !important;
  }
  .container {
    max-height: 50vh !important;
    padding: 0;
  }
}
