.select-all {
    font-size: inherit;
    line-height: 3em;
    height: 3em;
}

::ng-deep .all-select {
    display: block !important;
    padding: 0 16px;
}

::ng-deep .all-select .mat-checkbox-layout {
    display: block !important;
}

::ng-deep .all-select:hover {
    background: rgba(0, 0, 0, .04);
}

::ng-deep .search-input {
    padding: 10px 16px;
}

.action-select-all-delete {
    display: flex;
    padding: 10px 16px;
    cursor: pointer;
    justify-content: space-between;
}

.mr-10{
    margin-right: 10px;
}
::ng-deep .no-option .mat-option-text{
    text-align: center;
}
::ng-deep .no-option .mat-option-pseudo-checkbox {
    display: none;
}

.mat-form-field {
    width: 100%;
}

.mat-option .mat-option-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.mat-option .mat-option-text .data-name {
    margin-right: 8px;
}
  
.mat-option .mat-option-text .data-type-label {
    text-align: right;
    font-size: 10px;
    border-radius: 0.25rem;
    vertical-align: center;
}

.search-input {
    border: 2px solid #ccc; 
    border-radius: 4px; 
    padding: 5px; 
}
.options{
    max-height: 40vh;
    overflow: auto;
}
::ng-deep .custom-panel {
    min-width: 400px !important;
    max-height: 60vh !important; 
} 

@media screen and (max-width: 600px) {
    ::ng-deep .custom-panel {
        min-width: 100% !important;
    } 

    .btn-action {
        font-size: 13px;
        white-space: nowrap;
        padding: 6px 12px;
        width: fit-content;
    }

    .btn-clear {
        margin-right: 10px;
    }

    .mat-option .mat-option-text .data-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}