<section class="content px-2 py-2 m-0" style="background-color: #f1f1f1;">
    <div class="container-fluid">
        <div class=" mt-2 ">
            <mat-expansion-panel [expanded]="isShowProjectUser"
                *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_CurrentResource_View)">
                <mat-expansion-panel-header name="panel-current" class="mt-2 mb-2" (click)="isShowProjectUser = !isShowProjectUser">
                    <div class="col-md-6">
                        <strong class="table-title">Current resource</strong>
                        <button name="btn-create-current"
                            *ngIf="!projectUserProcess && permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_CurrentResource_AddNewResourceFromPool)
                        || permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_CurrentResource_AddNewResourceFromOtherProject)"
                            [hidden]="projectUserProcess || !isShowProjectUser"
                            (click)="addProjectUser();userListCurrentPage=1;$event.stopPropagation()" class="btnCreate"
                            class="btn bg-blue ml-3 btn-sm mb-2">
                            <i class="fa fa-plus m-0"></i>

                        </button>
                    </div>
                    <div class="col-md-6"
                        *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_CurrentResource_ViewHistory)">
                        <div class="col-md-6" *ngIf="isShowProjectUser">
                            <section class="example-section">
                                <mat-checkbox name="cbx-history" class="example-margin" [checked]="viewHistory"
                                    [disabled]="projectUserProcess" (change)="filterProjectUser(viewHistoryCheck); "
                                    (click)="$event.stopPropagation();userListCurrentPage=1" #viewHistoryCheck>View
                                    history
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <div class=" mb-1 fixTableHead" style="max-height:50vh">
                    <div class="">
                        <table name="tbl-currentResource" style="border-collapse: collapse;" class="table text-nowrap"
                            [busy]="isLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th class="stt">#</th>
                                    <th>Employee</th>
                                    <th style="width: 150px;">Note</th>
                                    <th>Skills</th>
                                    <th style="width: 150px;">Role</th>
                                    <th style="width: 150px;">Start time</th>
                                    <th style="width: 150px;">Work type</th>
                                    <th style="width: 120px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="user.workingStatus == APP_ENUM.ProjectUserStatus.Past ? 'past' : ''"
                                    *ngFor="let user of projectUserList |paginate:{
                                        id: 'projectUser',
                                    itemsPerPage: maxUserCurrentPage,
                                    currentPage: userListCurrentPage
                                    }  ; let i = index">
                                    <td><span>{{ i +1 }}</span></td>
                                    <td class="text-left">
                                        <div *ngIf="!user.createMode" class="d-flex">
                                            <div class="col-10">
                                                <app-user-info [userData]="user">
                                                </app-user-info>
                                            </div>
                                            <div class="col-2 status-badges"
                                                *ngIf="user.workingStatus == APP_ENUM.ProjectUserStatus.Past">
                                                <span class="badge"
                                                    [ngClass]="user.allocatePercentage > 0? 'bg-success' :'bg-danger'">{{user.allocatePercentage
                                                    > 0 ? 'Join' : 'Out'}}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="user.createMode" class="form-group row required">

                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-select (closed)=" searchUser = ''" [(ngModel)]="user.userInfo"
                                                    (ngModelChange)="onUserSelect(user)" name="projectEmployeeCurrent"
                                                    placeholder="select account *" required #projectEmployee="ngModel">
                                                    <mat-form-field class="w-100 px-3 "
                                                        style="position: sticky; top: 0; z-index: 2; background-color: white;">
                                                        <input matInput [(ngModel)]="searchUser"
                                                            name="searchCurrentResource" placeholder="Search"
                                                            (keydown)="$event.stopPropagation()"
                                                            #search>{{search.focus()}}
                                                    </mat-form-field>
                                                    <mat-option
                                                        *ngFor="let u of userForProjectUser |listFilter: 'fullName'  :searchUser : 'emailAddress' : 'surname' : 'name'"
                                                        [value]="u">
                                                        {{u.fullName}} - ({{u.emailAddress}})</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error class="mt-1"
                                                *ngIf="projectEmployee.hasError('required') && projectEmployee.touched"
                                                style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <p PrjResizeContent [collapseLine]="1" style="flex: 1;"
                                                class="mb-0 p-0  ml-2 max-line-content-1">{{user.note}}
                                            </p>
                                            <i style="color: #585858;" class="fas fa-ellipsis-v ml-1"
                                                [matMenuTriggerFor]="menu3"></i>
                                            <mat-menu #menu3="matMenu">
                                                <button class="mat-menu-item  w-100"
                                                    (click)="editResoureNote(user)">
                                                    <i class="fas fa-edit mr-2 fa-lg"></i>
                                                    Edit
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;"> <span
                                            style="white-space: normal; max-width: 200px">
                                            <div class="d-flex " style="align-items: center;">
                                                <div style="width: 90%; text-align: left;">
                                                    <p class="m-0" *ngFor="let item of user.userSkills">
                                                        - {{item.skillName}}
                                                    </p>
                                                </div>
                                                <div style="width: 10%; text-align: right;"
                                                    *ngIf="!(user.workingStatus == APP_ENUM.ProjectUserStatus.Past
                                                || (user.workingStatus == APP_ENUM.ProjectUserStatus.Present && user.allocatePercentage == 0))">
                                                    <i class="fas fa-edit" (click)="updateUserSkill(user)"
                                                        *ngIf="!user.createMode && !user.editMode && permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_CurrentResource_UpdateUserSkill)"
                                                        matTooltip="Edit skill"></i>
                                                </div>
                                            </div>
                                        </span>
                                    </td>

                                    <td class="text-center">
                                        <span [ngClass]="APP_CONST.projectUserRole[user.projectRole]"
                                            class="badge table-vertical" *ngIf="!user.createMode && !user.editMode">{{
                                            user.projectRoleName
                                            }}</span>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field style="width: 130px;" appearance="outline">
                                                <mat-select [(ngModel)]="user.projectRole" name="projectRoleCurrent"
                                                    placeholder="select a role" required #projectRole="ngModel">
                                                    <mat-option *ngFor="let role of projectRoleList"
                                                        [value]="APP_ENUM.ProjectUserRole[role]">
                                                        {{role}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error class="mt-1"
                                                *ngIf="projectRole.hasError('required') && projectRole.touched"
                                                style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>


                                    <td class="text-center">
                                        <div class="table-vertical" *ngIf="!user.createMode  && !user.editMode">

                                            {{user.startTime | date:"dd/MM/yyyy"}}
                                        </div>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field appearance="outline" style="width: 150px;">
                                                <input matInput [matDatepicker]="picker" placeholder="chose a date *"
                                                    required [(ngModel)]="user.startTime" name="usercreateDateCurrent"
                                                    #projectDate="ngModel" #projectDateEl>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-error class="mt-1"
                                                *ngIf="projectDate.hasError('required') && projectDate.touched"
                                                style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>


                                    <td>
                                        <div *ngIf="!user.createMode " class="table-vertical">
                                            <strong [ngClass]="user.isPool ? 'text-secondary' : 'text-primary'">
                                                {{user.workType }}
                                            </strong>
                                        </div>
                                        <div *ngIf="user.createMode ">
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="user.isPool">
                                                <div class="text-left">
                                                    <mat-radio-button name="rbt-officalCurrent" class="mr-2"
                                                        [value]="false">Offical
                                                    </mat-radio-button>
                                                </div>
                                                <div class="text-left">
                                                    <mat-radio-button name="rbt-tempCurrent"
                                                        [value]="true">Temp</mat-radio-button>
                                                </div>
                                            </mat-radio-group>
                                        </div>

                                    </td>
                                    <td style="vertical-align: middle;">
                                        <div
                                            *ngIf="!user.createMode && !user.editMode && !(user.workingStatus == APP_ENUM.ProjectUserStatus.Past
                                        || (user.workingStatus == APP_ENUM.ProjectUserStatus.Present && user.allocatePercentage == 0))">
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <i class="fas fa-bars fa-lg"></i>
                                            </button>
                                            <mat-menu #menu="matMenu" class="p-2">
                                                <button
                                                    *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_CurrentResource_Edit)"
                                                    [disabled]="projectUserProcess" class="mat-menu-item  w-100"
                                                    (click)="editProjectUser(user)"> <i
                                                        class="fas fa-edit"></i>Edit</button>
                                                <button
                                                    *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_CurrentResource_Release)"
                                                    [disabled]="projectUserProcess" class="mat-menu-item  w-100"
                                                    (click)="releaseUser(user)">
                                                    <i class="fas fa-sign-out-alt mr-1"></i>Release</button>
                                            </mat-menu>

                                        </div>
                                        <div *ngIf="user.createMode || user.editMode" class="pt-2">
                                            <button
                                                [disabled]="!(user?.userId || user.userInfo )|| (!user?.projectRole && user?.projectRole != 0)|| !user?.startTime "
                                                class=" mr-3 submit-btn" style="background: none; border: none;"
                                                (click)="saveProjectUser(user)">
                                                <i style="color: green; ;" class="fas fa-check fa-2x"></i>
                                            </button>
                                            <i style="color: red;" class="fas fa-times fa-2x"
                                                (click)="cancelProjectUser(user)"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer bg-light border-top">
                    <div class="row" style="justify-content: space-between;">
                        <div class="col-5 text-sm-left text-center">
                            <mat-form-field style="width: 20%;margin-left: 30px;">
                                <mat-label>Number items</mat-label>
                                <mat-select [(ngModel)]="maxUserCurrentPage" (ngModelChange)="changePageSizeCurrent()">
                                    <mat-option [value]="5">
                                        5
                                    </mat-option>
                                    <mat-option [value]="10">
                                        10
                                    </mat-option>
                                    <mat-option [value]="20">
                                        20
                                    </mat-option>
                                    <mat-option [value]="50">
                                        50
                                    </mat-option>
                                    <mat-option [value]="100">
                                        100
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-2 text-center">
                            <p class="mb-0 my-2">
                                Total: {{ projectUserList.length }}
                            </p>
                        </div>
                        <div class="col-5">
                            <pagination-controls autoHide="true" id="projectUser"
                                (pageChange)="userListCurrentPage = $event">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>




            <!-- Planned user -->
            <mat-expansion-panel class="mt-3" [expanded]="isShowCurrentResouce"
                *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_View)">
                <mat-expansion-panel-header name="pannel-plan" class="mt-2 mb-2" (click)="isShowCurrentResouce = !isShowCurrentResouce ">
                    <div class="col-md-6">
                        <strong class="table-title">Planned resource</strong>
                        <button name="btn-create-plan"
                            *ngIf="!planResourceProcess && permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_CreateNewPlan)"
                            [hidden]="!isShowCurrentResouce"
                            (click)="addPlanResource();resourceListCurrentPage=1;$event.stopPropagation()"
                            class="btnCreate" class="btn bg-blue ml-3 mb-2 btn-sm">
                            <i class="fa fa-plus m-0"></i>
                        </button>
                    </div>

                </mat-expansion-panel-header>
                <div class=" mb-1  fixTableHead" style="max-height:50vh">
                    <div class="">
                        <table name="tbl-plan" style="border-collapse: collapse;" class="table table-hover text-nowrap"
                            [busy]="isLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th class="stt">#</th>
                                    <th>Employee</th>
                                    <th style="width: 200px;">Skill</th>
                                    <th style="width: 130px;">Role</th>
                                    <th style="width: 130px;">Start time</th>
                                    <th style="width: 110px;">Work type</th>
                                    <th style="width: 110px;">Join/Out</th>
                                    <th style="width: 260px;">Note</th>
                                    <th style="width: 120px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of plannedUserList |paginate:{
                                        id: 'plannedResource',
                                    itemsPerPage: itemPerPage,
                                    currentPage: plannedResourceCurrentPage
                                    }  ; let i = index">
                                    <td><span>{{ i +1 }}</span></td>
                                    <td class="text-left">

                                        <div class="row">
                                            <div class="col-11">
                                                <div *ngIf="!user.createMode">
                                                    <app-user-info [userData]="user">
                                                    </app-user-info>
                                                </div>
                                                <div *ngIf="user.createMode" class="form-group row required">

                                                    <mat-form-field class="w-100" appearance="outline">
                                                        <mat-select (closed)="searchPlannedResource=''"
                                                            [(ngModel)]="user.userId" name="projectEmployeePlan"
                                                            placeholder="select account *" required
                                                            #projectEmployee="ngModel">
                                                            <mat-form-field class="w-100 px-3 "
                                                                style="position: sticky; top: 0; z-index: 2; background-color: white;">
                                                                <input matInput [(ngModel)]="searchPlannedResource"
                                                                    name="searchPlannedResource" placeholder="Search"
                                                                    (keydown)="$event.stopPropagation()"
                                                                    #search>{{search.focus()}}
                                                            </mat-form-field>
                                                            <mat-option
                                                                *ngFor="let u of userForProjectUser |listFilter: 'fullName' : searchPlannedResource : 'emailAddress' : 'surname' : 'name'"
                                                                [value]="u.id" (click)="onPlanUserSelect(user,u)">
                                                                {{u.fullName}} - ({{u.emailAddress}})</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-error class="mt-1"
                                                        *ngIf="projectEmployee.hasError('required') && projectEmployee.touched"
                                                        style="font-size: 13px;">
                                                        This field is required
                                                    </mat-error>
                                                </div>
                                            </div>

                                        </div>


                                    </td>
                                    <td style="vertical-align: middle;"> <span
                                            style="white-space: normal; max-width: 200px">
                                            <div class="d-flex" style="align-items: center;">
                                                <div style="width: 90%; text-align: left;">
                                                    <p class="m-0" *ngFor="let item of user.userSkills">
                                                        - {{item.skillName}}
                                                    </p>
                                                </div>
                                                <div style="width: 10%; text-align: right;">
                                                    <i class="fas fa-edit" (click)="updateUserSkill(user) "
                                                        *ngIf="!user.createMode && !user.editMode
                                                        && permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_UpdateUserSkill)"
                                                        matTooltip="Edit skill"></i>
                                                </div>
                                            </div>
                                        </span>
                                    </td>

                                    <td class="text-center">
                                        <span [ngClass]="APP_CONST.projectUserRole[user.projectRole]"
                                            class="badge table-vertical" *ngIf="!user.createMode && !user.editMode">{{
                                            user.projectRoleName
                                            }}</span>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field style="width: 130px;" appearance="outline">
                                                <mat-select [(ngModel)]="user.projectRole" name="projectRolePlan"
                                                    placeholder="select a role" required #projectRole="ngModel">
                                                    <mat-option *ngFor="let role of projectRoleList"
                                                        [value]="APP_ENUM.ProjectUserRole[role]">
                                                        {{role}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error class="mt-1"
                                                *ngIf="projectRole.hasError('required') && projectRole.touched"
                                                style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>


                                    <td class="text-center">
                                        <div class="table-vertical" *ngIf="!user.createMode && !user.editMode">
                                            {{user.startTime | date:"dd/MM/yyyy"}}
                                        </div>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field appearance="outline" style="width: 150px;">
                                                <input matInput [matDatepicker]="picker" [min]="tomorrowDate"
                                                    placeholder="chose a date *" required [(ngModel)]="user.startTime"
                                                    name="usercreateDatePlan" #projectDate="ngModel" #projectDateEl>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-error class="mt-1"
                                                *ngIf="projectDate.hasError('required') && projectDate.touched"
                                                style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>



                                    <td class="text-center">
                                        <div class="table-vertical" *ngIf="!user.createMode && !user.editMode">
                                            <strong [ngClass]="user.isPool ? 'text-secondary' : 'text-primary'">
                                                {{user.workType }}</strong>

                                        </div>
                                        <div *ngIf="user.createMode || user.editMode" class="text-center">
                                            <mat-radio-group [disabled]="user.allocatePercentage <= 0"
                                                aria-label="Select an option" [(ngModel)]="user.isPool">
                                                <mat-radio-button name="rbt-officalPlan" class="mr-2 d-block"
                                                    [value]="false">Offical
                                                </mat-radio-button>
                                                <mat-radio-button name="rbt-tempPlan" class="d-block"
                                                    [value]="true">Temp</mat-radio-button>
                                            </mat-radio-group>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="text-center table-vertical"
                                            *ngIf="!user.createMode && !user.editMode"
                                            [ngClass]="user.allocatePercentage > 0 ? 'text-success' : 'text-danger'">
                                            <strong> {{user.allocatePercentage > 0 ? 'Join' : 'Out' }} </strong>
                                        </div>
                                        <mat-radio-group *ngIf="user.createMode || user.editMode"
                                            aria-label="Select an option" [(ngModel)]="user.allocatePercentage">
                                            <mat-radio-button name="rbt-joinPlan" class="mr-2 d-block"
                                                [value]="100">Join
                                            </mat-radio-button>
                                            <mat-radio-button name="rbt-outPlan" *ngIf="!user.createMode"
                                                class="d-block" [value]="0">Out
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                    <td>
                                        <p class="table-vertical table-note" *ngIf="!user.createMode && !user.editMode">
                                            {{user.note}}</p>

                                        <textarea name="pmNotePlan" [(ngModel)]="user.note"
                                            *ngIf="user.createMode || user.editMode" rows="2"></textarea>

                                    </td>

                                    <td>
                                        <div *ngIf="!user.createMode && !user.editMode">
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <i class="fas fa-bars fa-lg"></i>
                                            </button>
                                            <mat-menu #menu="matMenu" class="p-2">
                                                <button
                                                    *ngIf="user.allocatePercentage > 0 && (permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_ConfirmPickEmployeeFromPoolToProject)
                                                    ||  permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_ConfirmMoveEmployeeWorkingOnAProjectToOther))"
                                                    [disabled]="planResourceProcess" class="mat-menu-item  w-100"
                                                    (click)="confirm(user)"> <i class="fas fa-check"></i>Confirm
                                                    Join</button>
                                                <button
                                                    *ngIf="user.allocatePercentage <= 0 && permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_ConfirmOut)"
                                                    [disabled]="planResourceProcess" class="mat-menu-item  w-100"
                                                    (click)="confirm(user)"> <i class="fas fa-check"></i>Confirm
                                                    Out</button>
                                                <button
                                                    *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_CancelPlan)"
                                                    [disabled]="planResourceProcess" class="mat-menu-item  w-100"
                                                    (click)="cancelResourcePlan(user)"> <i
                                                        class="fas fa-times"></i>Cancel Plan</button>
                                                <button
                                                    *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_PlannedResource_Edit)"
                                                    [disabled]="planResourceProcess" class="mat-menu-item  w-100"
                                                    (click)="editResourcePlan(user)"> <i
                                                        class="fas fa-edit"></i>Edit</button>
                                            </mat-menu>
                                        </div>
                                        <div *ngIf="user.createMode || user.editMode" class="pt-2">
                                            <button [disabled]="!user?.userId || !user?.startTime "
                                                class=" mr-3 submit-btn" style="background: none; border: none;"
                                                (click)="savePlanResource(user)">
                                                <i style="color: green; ;" class="fas fa-check fa-2x"></i>
                                            </button>
                                            <i style="color: red;" class="fas fa-times fa-2x"
                                                (click)="cancelPlanResourceProcess()"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination-controls autoHide="true" id="plannedResource"
                    (pageChange)="plannedResourceCurrentPage = $event">
                </pagination-controls>
            </mat-expansion-panel>








        </div>
    </div>


    <!-- <form #projectUserForm ="ngForm"   class="form-horizontal" autocomplete="off"> -->
    <div class="container-fluid">
        <div class="card mt-3">
            <mat-expansion-panel [expanded]="isShowRequest"
                *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_View)">
                <mat-expansion-panel-header name="panel-resource" class="mt-2 mb-2" (click)="isShowRequest=!isShowRequest">
                    <div class="col-md-6">
                        <strong class="table-title">Resource request</strong>
                        <button name="btn-createResReq"
                            *ngIf="!requestProcess  &&  permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_CreateNewRequest)"
                            [hidden]="!isShowRequest"
                            (click)="createRequest();resourceRequestCurrentPage=1; $event.stopPropagation()"
                            class="btn bg-blue ml-3 mb-2 btn-sm">
                            <i class="fa fa-plus m-0"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2 d-flex justify-content-end align-items-center">
                                <label class="mr-2 mb-0">Status:</label>
                            </div>
                            <div class="col-md-10 ">
                                <mat-form-field appearance="outline" class="rsp-form-field"
                                    (click)="$event.stopPropagation()">
                                    <mat-select name="slt-filterResReqStatus" [(ngModel)]="selectStatus"
                                        (selectionChange)="getResourceRequestList();">
                                        <mat-option value="">All</mat-option>
                                        <mat-option (click)="$event.stopPropagation()"
                                            *ngFor="let status of listStatuses" [value]="status.id">
                                            {{status.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <div class=" mb-1  fixTableHead" style="max-height:50vh">
                    <div class="">
                        <table name="tbl-ResReq" style="border-collapse: collapse ; table-layout:fixed !important"
                            class="table table-hover text-nowrap request-table" [busy]="isLoading">
                            <thead class="bg-light">
                                <tr style="border: none;">
                                    <th class="stt">#</th>
                                    <th class="skill-column">Skill</th>
                                    <th class="status-column">Level</th>
                                    <th class="date-column">Time Request</th>
                                    <th class="date-column">Time Need</th>
                                    <th style="width: 200px;">Planned Resource</th>
                                    <th class="status-column">Status</th>
                                    <th class="status-column">Priority</th>
                                    <th>PM note</th>
                                    <th>HR/DM note</th>
                                    <th class="status-column">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of resourceRequestList  |paginate:{
                                    id: 'projecRequest',
                                    itemsPerPage: itemPerPage,
                                    currentPage: resourceRequestCurrentPage
                                    } ; let i = index">
                                    <td><span>{{ i +1 }}</span></td>
                                    <td class="text-left">
                                        <ul class="pl-3  m-0">
                                            <li *ngFor="let skill of item.skills">
                                                {{skill.name}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="text-center">
                                        <span class="ml-1 badge text-white"
                                            [ngStyle]="Utils.getUserLevel(item.level).style">
                                            {{item.levelName}}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <b>{{item.creationTime | date: "dd/MM/yyyy"}}</b>
                                        <br>
                                        <small>{{Utils.getTimeHistory(item.creationTime)}}</small>
                                    </td>
                                    <td class="text-center">
                                        <b>{{item.timeNeed |date: "dd/MM/yyyy"}}</b>
                                        <br>
                                        <small>{{Utils.getTimeHistory(item.timeNeed)}}</small>
                                    </td>
                                    <td class="text-left">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div *ngIf="item.planUserInfo">
                                                    <p class="m-0">
                                                        <strong>{{item.planUserInfo.employee.fullName}}</strong>
                                                    </p>
                                                    <p class="m-0">
                                                        <span class="mr-1 badge badge-pill text-white"
                                                            [style.backgroundColor]="item.planUserInfo.employee.branchColor">
                                                            {{item.planUserInfo.employee.branchDisplayName}}
                                                        </span>
                                                        <span
                                                            [ngClass]="APP_CONST.userTypeStyle[item.planUserInfo.employee.userType]">
                                                            {{item.planUserInfo.employee.userTypeName}}
                                                        </span>
                                                        <span class="ml-1 badge text-white"
                                                            [style.backgroundColor]="item.planUserInfo.employee.positionColor">
                                                            {{ item.planUserInfo.employee.positionName }}
                                                        </span>
                                                        <span class="ml-1 badge text-white"
                                                            [ngStyle]="Utils.getUserLevel(item.planUserInfo.employee.userLevel).style">
                                                            {{item.planUserInfo.employee.levelName}}
                                                        </span>
                                                    </p>
                                                    <b>{{item.planUserInfo.plannedDate|date: "dd/MM/yyyy"}}</b>
                                                </div>
                                            </div>
                                            <div *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_PlanNewResourceForRequest) && item.statusName == 'PENDING'"
                                                class="col-md-2 text-right">
                                                <i class="fa fa-edit" (click)="showModalPlanUser(item)"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span
                                            [ngClass]="APP_CONST.resourceRequestStyle[Utils.getValueByEnum(item.status, APP_ENUM.ResourceRequestStatus)]">
                                            {{Utils.getValueByEnum(item.status, APP_ENUM.ResourceRequestStatus)}}
                                        </span>
                                        <br>
                                        <span *ngIf="item.statusName == 'DONE'">{{item.timeDone | date:
                                            "dd/MM/yyyy"}}</span>
                                    </td>
                                    <td class="text-center">
                                        <p class="tag" [ngClass]="APP_CONST.priorityRequest[item.priority]">
                                            {{item.priorityName}}</p>
                                    </td>
                                    <td style="white-space: normal; max-width: 250px; min-width: 150px;">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <p class="text-left table-note">
                                                    {{item.pmNote}}
                                                </p>
                                            </div>
                                            <div class="col-md-2"
                                                *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_Edit)">
                                                <i class="fa fa-edit"
                                                    (click)="openModal(item.name, 'PM', item.pmNote, item.id)"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="white-space: normal; max-width: 250px; min-width: 150px;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-left table-note">
                                                    {{item.dmNote}}
                                                </p>
                                            </div>
                                            <!-- <div class="col-md-2">
                                                <i class="fa fa-edit" (click)="openModal(item.name, 'HR/DM', item.dmNote, item.id)"></i>
                                            </div> -->
                                        </div>
                                    </td>
                                    <td class="text-center action-request-resource-tab">
                                        <button *ngIf="item.statusName != 'DONE' && !item.isRecruitmentSend" mat-button
                                            [matMenuTriggerFor]="menu">
                                            <i class="fas fa-bars fa-lg"></i>
                                        </button>
                                        <mat-menu #menu="matMenu" class="p-2">
                                            <!-- case 1: Status is inprogress -->
                                            <div *ngIf="item.statusName == 'PENDING'">
                                                <button
                                                    *ngIf="item.planUserInfo && isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_SetDone)"
                                                    class="btn btn-block text-left" mat-button
                                                    (click)="setDoneRequest(item);">
                                                    <i class="fa fa-check text-success vertical-align-baseline"></i>
                                                    Set Done
                                                </button>
                                                <br *ngIf="item.planUserInfo">
                                                <button
                                                    *ngIf="isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_CancelRequest)"
                                                    class="btn btn-block text-left" mat-button
                                                    (click)="cancelRequest(item.id);">
                                                    <i class="fa fa-times text-warning vertical-align-baseline"></i>
                                                    Cancel
                                                </button>
                                                <br>
                                                <button class="btn btn-block text-left" mat-button
                                                    *ngIf="isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_Edit)"
                                                    (click)="editRequest(item);">
                                                    <i class="fa fa-edit vertical-align-baseline"></i>
                                                    Edit
                                                </button>
                                                <br>
                                                <button class="btn btn-block text-left" mat-button
                                                    *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_Delete)"
                                                    (click)="deleteRequest(item);">
                                                    <i class="fa fa-trash text-danger vertical-align-baseline"></i>
                                                    Delete
                                                </button>
                                            </div>
                                            <!-- case 2: Status is inprogress and IsRecruitmentSend is TRUE-->
                                            <!-- case 6: Status is cancel and IsRecruitmentSend is TRUE-->
                                            <!-- case 4: Status is done and IsRecruitmentSend is TRUE-->
                                            <div *ngIf="showActionViewRecruitment(item.statusName, item.recruitment)"
                                                class="text-left">
                                                <button class="btn btn-block text-left" mat-button>
                                                    View recruitment
                                                </button>
                                            </div>
                                            <!-- case 3: Status is inprogress and IsRecruitmentSend is FALSE-->
                                            <div *ngIf="item.statusName == 'PENDING' && !item.isRecruitmentSend"
                                                class="text-left">
                                                <button
                                                    *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_SendRecruitment)"
                                                    class="btn btn-block text-left" mat-button
                                                    (click)="sendRecruitment()">
                                                    Send recruitment
                                                </button>
                                            </div>
                                            <!-- case 5: Status is cancel-->
                                            <div *ngIf="item.statusName == 'CANCELLED'" class="text-left">
                                                <button class="btn btn-block text-left" mat-button
                                                    *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabResourceManagement_ResourceRequest_Delete)"
                                                    (click)="delete(item);">
                                                    <i class="fa fa-trash text-danger vertical-align-baseline"></i>
                                                    Delete
                                                </button>
                                            </div>
                                        </mat-menu>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination-controls autoHide="true" id="projecRequest"
                    (pageChange)="resourceRequestCurrentPage = $event">
                </pagination-controls>
            </mat-expansion-panel>
            <mat-expansion-panel>

            </mat-expansion-panel>

        </div>
    </div>
    <!-- </form> -->
</section>

<!-- The Modal Update Note-->
<div class="modal" id="myModal" [ngStyle]="{'display':isShowModal}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> {{typePM}} Note: <span class="text-success">{{modal_title}}</span> </h4>
                <button type="button" class="close" (click)="closeModal()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <label for="">Note:</label>
                    </div>
                    <div class="col-md-10">
                        <textarea rows="6" cdkTextareaAutosize #autosize="cdkTextareaAutosize" placeholder="Enter note"
                            name="note" type="text" class="form-control" name="DMnote" [(ngModel)]="strNotePM" #nameEl
                            #name="ngModel">
                        </textarea>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateNote()">Save</button>
            </div>
        </div>
    </div>
</div>
