.popup-filter {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.table-border-collapse {
    border-collapse: collapse;
}

.expand-icon {
    transform: rotate(-45deg);
}

.sort-button>i,
.expand-icon {
    font-size: 16px;
}

.note {
    white-space: pre-line;
    font-family: sans-serif;
    align-self: flex-start;
    line-height: initial;
}

.note-width {
    max-width: 300px;
}

.width-150 {
    min-width: 150px;
    width: 150px;
}

.width-120 {
    min-width: 120px;
    width: 120px;
}

.width-130-max {
    min-width: 130px;
    width: 130px;
    max-width: 130px;
}

.button-action {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    width: 30px;
}

.button-action:hover {
    background-color: #c3c3c3;
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {

    .project-name,
    .charge-name {
        width: 250px !important;
    }
}

@media screen and (min-width: 1701px) {

    .project-name,
    .charge-name {
        width: 300px !important;
    }

    .note-width {
        max-width: 500px;
    }
}