.popup-filter {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.table-border-collapse {
    border-collapse: collapse;
}

.expand-icon {
    transform: rotate(-45deg);
}

.sort-button > i, .expand-icon {
    font-size: 16px;
}

.charge-name {
    max-width: 300px;
}

@media screen and (min-width: 1500px) and (max-width: 2400px) {
    .project-name {
        width: 250px !important;
    }
}

@media screen and (min-width: 2401px) {
    .project-name {
        width: 300px !important;
    }
}