::ng-deep .mat-form-field-outline {
  background: white;
}

.submit-btn:disabled i {
  color: gray !important;
}

.active {
  color: green;
}

.inActive {
  color: darkgrey;
}

button {
  height: fit-content;
}

@media only screen and (min-width: 1921px) and (max-width: 2250px) {
  .res-btn {
    display: flex;
    max-width: 15%;

  }

  .res-area {
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 1920px) {
  .res-area {
    max-width: 85% !important;
  }

  .res-btn {
    margin-top: 5px;
    display: flex;
  }
}

.label {
  color: white;
  padding: 12px;
  font-family: Arial;
  border-radius: 2px;
  margin-bottom: -5px !important;
}

.info {
  background-color: #2196F3;
}

.report-table td {
  border: none;
}

.report-table tr {
  border: none;
}

@media only screen and (max-width: 1824px) {
  .send-block {
    width: 31% !important
  }
}

@media only screen and (min-width: 1825px) {
  .send-block {
    width: 28% !important;
  }
}

@media only screen and (max-width: 1500px) {
  .send-block {
    width: 46% !important
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
}

::ng-deep .text-success .mat-form-field-outline {
  background: #28a745;
  border-radius: 5px;
}

::ng-deep .text-warning .mat-form-field-outline {
  background: #ffc107;
  border-radius: 5px;
}

::ng-deep .text-danger .mat-form-field-outline {
  background: #dc3545;
  border-radius: 5px;

}

::ng-deep .text-success .mat-select-value {
  color: #fff;
}

::ng-deep .text-danger .mat-select-value {
  color: #fff;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  opacity: 0.7;
}

.note {
  font-size: 1.2em;
  font-family: sans-serif;
  white-space: pre-line;
  max-width: 91%;
  max-height: 12.0em;
  line-height: 1.2em;
}

.request-table .status-column {
  width: 90px;
}

.request-table .date-column {
  width: 110px;
}

.request-table .skill-column {
  width: 180px;
}

.table-note {
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
}

.time-over {
  color: darkviolet;
  text-decoration: underline;
  text-decoration-style: double;
}

.status-label {
  width: 205px;
  height: 36px;
  font-weight: 700;
  border-radius: 4px;
  margin-left: 10px;
}

::ng-deep #status-option-product-weekly-report .mat-form-field-wrapper {
  width: 100px;
}
.guide-line:hover{
  cursor: pointer;
  text-decoration: underline;
}
