::ng-deep.my-dialog .mat-dialog-container{
    padding-top: 0;
  }
   
:host::ng-deep .modal-header {
    padding: 0;
    align-items: center;
}

@media screen and (max-width: 600px) {
  :host ::ng-deep .description-popup .modal-header {
    align-items: baseline;
  }

  .note-description {
    max-height: 450px !important;
  }
}