::ng-deep .stars-line {
    justify-content: center;
    margin-top: 4px;
    z-index: 1;
}
.width80{
    width: 80% !important;
}

.branch-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;
}

.badge-type {
    display: flex;
    align-items: center;
    row-gap: 6px;
    flex-wrap: wrap;
    width: 244px;
}

@media screen and (max-width: 600px) {
    .badge-type {
        width: 180px;
        margin-top: 7px !important;
    }

    .container-user-info {
        width: 240px !important;
    }
}