.join-date {
    width: 200px;
}

@media screen and (max-width: 600px) {
    .card-body {
        padding: 0;
    }

    .join-date {
        width: 100%;
    }

    .footer button {
        width: fit-content;
    }

    .working-project {
        padding-inline-start: 18px;
    }
}