<div class="wrapper" style="min-height: 94vh; margin-bottom: 0;" *ngIf="permission.isGranted(Audits_Criteria)">
  <section style="position: sticky; top: 0; z-index: 2;">
    <div class="row">
      <div class="col-6">
        <h4 style="color: #014C6E;">Criteria</h4>
      </div>
    </div>
  </section>
  <div class="container-fluid">
    <div class="card" style="margin-bottom: 0;">
      <div class="card-header" style="position: sticky; top: 0; z-index: 2;">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="searchCriteria()"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="search"
                name="keyword"
                placeholder="Search"
                (keyup.enter)="searchCriteria()"
              />
            </div>
          </div>

          <div class="text-right col-lg-8 col-md-12">
            <button (click)="createCriteria(node)" class="btn bg-blue">
              <i class="fa fa-plus-square"></i>
              Create
            </button>
          </div>
        </div>
      </div>

      <mat-tree
      style="max-height: calc(80vh);overflow-y: auto;"
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        class="example-tree px-2"
      >
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodeToggle
          style="background-color: rgb(245, 242, 242)"
        >
          <li class="mat-tree-node" >
            <button mat-icon-button disabled></button>
            <div class="item-criteria">
              <div style="margin: auto 0;cursor: pointer;" class="name-criteria d-flex align-items-center"
                (click)="viewGuiline(node)">
                <div class="d-flex"  style="font-size: 16px; ">
                  <span class="d-flex align-items-center">{{ node.item.code }} </span>
                  <div style="margin-left: 19px; word-break: break-word; padding-right: 45px;">  {{ node.item.name }} 
                    <span *ngIf="!node.item.isActive" class="label-inactive">Inactive</span>
                    <i *ngIf="node.item.isLeaf" class="fas fa-leaf pl-2" style="color: #2ec610;"></i>
                  </div>
                </div>
              </div>

              <div class="custom-control custom-checkbox applicable">
                <mat-checkbox

                  class="example-margin"
                  style="margin-left: 50px;"
                  matTooltip="Is Applicable"
                  aria-label="Button that displays a tooltip when focused or hovered over"
                  [checked]="node.item.isApplicable"
                  [disabled]="!node.item.isActive || !permission.isGranted(Audits_Criteria_ChangeApplicable)"
                  [color]="'primary'"
                  (change)="setIsApplicable(node.item)"
                ></mat-checkbox>
              </div>

              <div class="action d-flex align-items-center">
                <button
                  mat-button
                  [matMenuTriggerFor]="menu"
                  [disabled]="processProblem"
                >
                  <i class="fas fa-bars fa-lg"></i>
                </button>
                <mat-menu #menu="matMenu" class="p-2">
                  <button
                    type="button"
                    class="mat-menu-item w-100"
                    style="font-size: 14px"
                    (click)="viewGuiline(node)"
                  >
                    <i style="color: #014c6e" class="fas fa-file-alt mr-3"></i
                    >View Guideline, Example
                  </button>

                  <button
                    type="button"
                    class="mat-menu-item w-100"
                    style="font-size: 14px"
                    *ngIf="node.item.isActive && permission.isGranted(Audits_Criteria_Edit)"
                    (click)="editCriteria(node)"
                  >
                    <i style="color: #014c6e" class="fas fa-user-edit mr-3"></i
                    >Edit
                  </button>

                  <button
                    type="button"
                    class="mat-menu-item w-100"
                    style="font-size: 14px"
                    *ngIf="node.item.isActive && permission.isGranted(Audits_Criteria_Create)"
                    (click)="createCriteria(node)"
                  >
                    <i
                      style="color: #014c6e"
                      class="fas fa-plus-square mr-3"
                    ></i
                    >Create
                  </button>

                  <button
                  type="button"
                  class="mat-menu-item w-100"
                  style="font-size: 14px"
                  *ngIf="node.item.isActive && permission.isGranted(Audits_Criteria_DeActive)"
                  (click)="Inactive(node)"
                >
                  <i style="color: #014c6e" class="fas fa-ban mr-3"></i
                  >Deactivate
                </button>

                <button
                  type="button"
                  class="mat-menu-item w-100"
                  style="font-size: 14px"
                  *ngIf="!node.item.isActive && permission.isGranted(Audits_Criteria_Active)"
                  (click)="Active(node)"
                >
                  <i
                    style="color: #014c6e"
                    class="fas fa-check-circle mr-3"
                  ></i
                  >Activate
                </button>

                  <button
                    type="button"
                    class="mat-menu-item w-100"
                    style="font-size: 14px"
                    (click)="delete(node.item)"
                    *ngIf="permission.isGranted(Audits_Criteria_Delete)"
                  >
                    <i style="color: #014c6e" class="fas fa-trash mr-3"></i
                    >Delete
                  </button>
                </mat-menu>
              </div>
            </div>
          </li>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node" style="background-color: #c4dfec">
              <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.item.name + node.item.code"
              >
                <i
                  *ngIf="treeControl.isExpanded(node); else elseBlock"
                  class="fa fa-chevron-down"
                ></i>
                <ng-template #elseBlock>
                  <i class="fa fa-chevron-right"></i
                ></ng-template>
              </button>

              <div class="item-criteria">
                <div style="margin: auto 0;cursor: pointer;" class="name-criteria d-flex align-items-center"
                  (click)="viewGuiline(node)">
                  <div class="d-flex"  style="font-size: 16px; ">
                    <span class="d-flex align-items-center">{{ node.item.code }} </span>
                    <div style="margin-left: 19px; word-break: break-word; padding-right: 45px;">  {{ node.item.name }} 
                      <span *ngIf="!node.item.isActive" class="label-inactive">Inactive</span>
                      <i *ngIf="node.item.isLeaf" class="fas fa-leaf pl-2" style="color: #2ec610;"></i>
                    </div>
                  </div>
                </div>

                <!-- <div class="custom-control custom-checkbox applicable">
                  <mat-checkbox
                    class="example-margin"
                    matTooltip="Is Applicable"
                    aria-label="Button that displays a tooltip when focused or hovered over"
                    [checked]="node.item.isApplicable"
                    [(ngModel)]="node.item.isApplicable"
                    (change) = "openPopupSetIsApplicable(node)"
                    [color]="'primary'"
                    [disabled]="!node.item.isActive"
                    (change)="setIsApplicable(node.item.id)"
                  ></mat-checkbox>
                </div> -->

                <div class="action d-flex align-items-center">
                  <button
                    mat-button
                    [matMenuTriggerFor]="menu"
                    [disabled]="processProblem"
                  >
                    <i class="fas fa-bars fa-lg"></i>
                  </button>
                  <mat-menu #menu="matMenu" class="p-2">
                    <button
                      type="button"
                      class="mat-menu-item w-100"
                      style="font-size: 14px"
                      (click)="viewGuiline(node)"
                    >
                      <i style="color: #014c6e" class="fas fa-file-alt mr-3"></i
                      >View Guideline, Example
                    </button>

                    <button
                      type="button"
                      class="mat-menu-item w-100"
                      style="font-size: 14px"
                      (click)="editCriteria(node)"
                      *ngIf="node.item.isActive && permission.isGranted(Audits_Criteria_Edit)"
                    >
                      <i
                        style="color: #014c6e"
                        class="fas fa-user-edit mr-3"
                      ></i
                      >Edit
                    </button>

                    <button
                      type="button"
                      class="mat-menu-item w-100"
                      style="font-size: 14px"
                      (click)="createCriteria(node)"
                      *ngIf="node.item.isActive && permission.isGranted(Audits_Criteria_Create)"
                    >
                      <i
                        style="color: #014c6e"
                        class="fas fa-plus-square mr-3"
                      ></i
                      >Create
                    </button>

                    <button
                      type="button"
                      class="mat-menu-item w-100"
                      style="font-size: 14px"
                      *ngIf="node.item.isActive && permission.isGranted(Audits_Criteria_DeActive)"
                      (click)="Inactive(node)"
                    >
                      <i style="color: #014c6e" class="fas fa-ban mr-3"></i
                      >Deactivate
                    </button>

                    <button
                      type="button"
                      class="mat-menu-item w-100"
                      style="font-size: 14px"
                      *ngIf="!node.item.isActive && permission.isGranted(Audits_Criteria_Active)"
                      (click)="Active(node)"
                    >
                      <i
                        style="color: #014c6e"
                        class="fas fa-check-circle mr-3"
                      ></i
                      >Activate
                    </button>

                    <button
                      type="button"
                      class="mat-menu-item w-100"
                      style="font-size: 14px"
                      (click)="delete(node.item)"
                      *ngIf="permission.isGranted(Audits_Criteria_Delete)"
                    >
                      <i style="color: #014c6e" class="fas fa-trash mr-3"></i
                      >Delete
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
</div>
