<form class="form-horizontal" autocomplete="off" #resourceRequestForm="ngForm" novalidate>
    <abp-modal-header title="Plan User"
        (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Employee:
            </label>
            <div class="col-md-9">
                <mat-form-field class="mt-2 w-100" appearance="outline">
                    <mat-select name="userId" #userIdValid="ngModel" placeholder="Select user" required
                        [(ngModel)]="resourcePlan.userId">
                        <mat-form-field class="w-100 px-3 "
                            style="position: sticky; top: 0; z-index: 2; background-color: white;">
                            <input matInput [(ngModel)]="search" name="searchUserName"
                                (keydown)="$event.stopPropagation()" placeholder="Search" #searchUser>{{searchUser.focus()}}
                        </mat-form-field>
                        <ng-container *ngFor="let user of listUsers | listFilter: 'fullName' : search : 'emailAddress'">
                            <mat-option [value]="user.id">
                                {{user.fullName}} - {{user.emailAddress}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="userIdValid.hasError('required') && userIdValid.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Time Join:
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Time join" [matDatepicker]="picker" name="startTime" name="timeNedd"
                        #timeJoinNg="ngModel" [(ngModel)]="timeJoin" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="timeJoinNg.hasError('required') && timeJoinNg.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Role:
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select placeholder="role" [(ngModel)]="resourcePlan.projectRole" name="projectRole" #role="ngModel" required>
                        <mat-option *ngFor="let projectRole of listProjectUserRoles" [value]="projectRole.id">
                            {{projectRole.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="role.hasError('required') && role.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>
    </div>
    <div align="end" class="row justify-content-end">
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary btn-action ml-2" [disabled]="!resourceRequestForm.valid || isLoading"
            (click)="SaveAndClose()">Save</button>
    </div>
</form>