::ng-deep.my-dialog .mat-dialog-container{
    padding-top: 0;
  }
   
:host::ng-deep .modal-header {
    padding: 0;
    align-items: center;
}


@media only screen and (max-width: 768px){
  .form-plan-user ::ng-deep .modal-body {
      padding: 0;
  }
}