<form
  class="form-horizontal"
  autocomplete="off"
  #resetPasswordModal="ngForm"
>
  <div class="card-header px-2">
    <h3>Reset password for: {{data.fullName}}</h3>
  </div>
  <div class="modal-body"> 
    <div class="form-group row required">
      <label class="col-md-3 col-form-label " for="newPassword">
        {{ "NewPassword" | localize }}:
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="NewPassword"
          id="newPassword"
          required
          [(ngModel)]="resetPasswordDto.newPassword"
        />
      </div>
    </div>
    <button class="btn btn-success btn-sm" (click)="randomPassword()">
      Random password
    </button>
  </div>

  <div class="fotter d-flex justify-content-end">
  <button class="btn btn-secondary mr-2" mat-dialog-close>Cancel</button>
  <button class="btn btn-primary" (click)="resetPassword()" [disabled]="!resetPasswordModal.form.valid || isLoading">Save</button>

  </div>
</form>
