.dialog-action-wrap {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.custom-textarea {
  min-height: 300px;
  max-height: 600px;
  resize: vertical;
  overflow-y: hidden;
}
