.dialog-action-wrap {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.custom-textarea {
  min-height: 300px;
  max-height: 600px;
  resize: vertical;
  overflow-y: hidden;
}

@media screen and (max-width: 600px) {
  :host ::ng-deep .form-edit-note {
    .modal-header {
      padding: 0;
      align-items: baseline;
    }

    .modal-footer {
      padding-bottom: 0;
      padding-right: 0;
    }
  }

  .form-edit-note .modal-body {
      padding: 1rem 0;
  }

  .custom-textarea {
    min-height: 100%;
    max-height: 60vw;
    overflow-y: auto !important;
  }
}
