<section class="content px-2 mt-2" id="onboard-history">
	<div class="container-fluid">
		<div>
			<div class="input-group" style="display: block;">
				<div class="row row-first">
					<div class="col-12 col-lg-2 col-md-2 mt-1 d-flex align-items-center mb-3">
						<div class="input-group w-100">
							<div class="input-group-prepend">
								<span class="input-group-text bg-white border-right-0">
									<i class="fas fa-search"></i>
								</span>
							</div>
							<input
								type="text"
								class="form-control border-left-0"
								name="keyword"
								placeholder="Search by email, name or note..."
								[(ngModel)]="searchText"
								(keyup.enter)="onSearch()"
							/>
							<div class="input-group-append">
								<button type="button" class="btn bg-blue text-white" (click)="onSearch()">
									Search
								</button>
							</div>
						</div>
					</div>

					<div class="col-md-10 col-sm-12">
						<div class="row filter-wrap">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 search-pm text-right">
								<mat-form-field appearance="outline">
									<mat-label>Project</mat-label>
									<mat-select
										name="slt-project"
										[(ngModel)]="projectId"
										placeholder="select a project"
										(selectionChange)="onProjectChanged()"
									>
										<mat-form-field class="w-100 px-3" style="position: sticky; top: 0; z-index: 2; background-color: white;">
											<input
												matInput
												[(ngModel)]="searchProject"
												name="searchProjectName"
												placeholder="Search"
												#searchProjectInput
												(keydown)="$event.stopPropagation()"
											/>
											{{ searchProjectInput.focus() }}
										</mat-form-field>
										<mat-option [value]="-1">All</mat-option>
										<mat-option *ngFor="let project of listProject | listFilter : 'projectName' : searchProject" [value]="project.projectId">
											{{ project.projectName }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 search-pm text-right">
								<mat-form-field appearance="outline">
									<mat-label>PM</mat-label>
									<mat-select
										name="slt-PM"
										[(ngModel)]="selectedPmId"
										placeholder="select a PM"
										(selectionChange)="onPmChanged()"
									>
										<mat-form-field class="w-100 px-3" style="position: sticky; top: 0; z-index: 2; background-color: white;">
											<input
												matInput
												[(ngModel)]="searchPm"
												name="searchPMName"
												placeholder="Search"
												#searchPmInput
												(keydown)="$event.stopPropagation()"
											/>
											{{ searchPmInput.focus() }}
										</mat-form-field>
										<mat-option [value]="-1">All</mat-option>
										<mat-option *ngFor="let pm of listPm | listFilter : 'fullName' : searchPm : 'emailAddress' : searchPm" [value]="pm.id">
											{{ pm.fullName }} - ({{ pm.emailAddress }})
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pr-2 search-status">
								<mat-form-field appearance="outline" class="listStatus">
									<mat-label>Status</mat-label>
									<mat-select name="slt-status" [(ngModel)]="selectedStatus" placeholder="Status" (selectionChange)="onStatusChanged()">
										<mat-option *ngFor="let status of statusOptions" [value]="status.value">
											{{ status.displayName }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="table-responsive py-3 all-resource-table">
				<div class="fixTableHead resource-table">
					<table class="table text-nowrap">
						<thead class="bg-light">
							<tr>
								<th style="width: 50px;">#</th>
								<th style="width: 300px;">Employee</th>
								<th style="width: 300px;">Project</th>
								<th style="width: 160px;">Status</th>								
								<th style="white-space: pre-line; word-break: break-all; max-width: 250px;" class="col-note">Note</th>
								<th style="width: 180px;">Onboard Date</th>
								<th style="width: 70px;">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="let item of onboardHistoryList | paginate : { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }; let i = index"
							>
								<td style="width: 50px;" class="text-center">{{ i + 1 + pageSize * (pageNumber - 1) }}</td>
								<td style="width: 300px;">
									<app-user-info [userData]="item" [isSimplizeEmailAddress]="true" [isSmallerDiv]="true"></app-user-info>
								</td>
								<td style="width: 300px;">
									<div class="d-flex align-items-center flex-wrap">
										<a class="hyperlink font-weight-bold" style="cursor: pointer;" (click)="showProjectDetail(item)">
											{{ item.projectName || '-' }}
										</a>
										<span *ngIf="item.projectRole !== undefined && item.projectRole !== null" class="badge badge-project-role ml-2 mt-1" [ngClass]="APP_CONST.projectUserRole[item.projectRole]">
											{{ getByEnum(item.projectRole, APP_ENUM.ProjectUserRole) }}
										</span>
									</div>
									<div>PM: {{ item.projectPM || '' }} - {{ item.pmEmail || '' }}</div>
								</td>
								<td style="width: 160px;">
									<span [ngClass]="getOnboardStatusClass(item.status)" class="status-pill">
										{{ getOnboardStatusLabel(item.status) }}
									</span>
								</td>
								<td style="white-space: pre-line; word-break: break-all; max-width: 250px;" class="col-note">
									<div class="d-flex" style="flex-direction: column;">
										<div style="display: flex;">
											<div style="word-break: break-word">{{ item.note }}</div>
											<div style="width: 10%; text-align: right;" class="ml-1">
												<i class="fas fa-edit" (click)="openOnboardNoteDialog(item)" matTooltip="Edit note"></i>
											</div>
										</div>
									</div>
								</td>
								<td style="width: 180px; text-align: center;">
									{{ item.onboardDate ? (item.onboardDate | date: 'dd/MM/yyyy HH:mm') : '-' }}
								</td>
								<td style="width: 70px;" class="text-center align-middle">
									<button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action menu" style="margin: 0 auto; display: block;">
										<i class="fas fa-bars"></i>
									</button>
									<mat-menu #actionMenu="matMenu">
										<button mat-menu-item *ngIf="item.status !== 3 && permission.isGranted(OnboardHistory_Edit)" (click)="openOnboardDialog(item)">
											<i class="fas fa-handshake mr-2"></i>Onboard
									</button>
									<button mat-menu-item *ngIf="item.status === 0 && permission.isGranted(OnboardHistory_Edit)" (click)="delete(item)">
										<i class="fas fa-times-circle mr-2"></i>Don't need onboard
									</button>
									<button mat-menu-item *ngIf="item.status !== 0 && permission.isGranted(OnboardHistory_Edit)" (click)="delete(item)">
										<i class="fas fa-trash-alt mr-2"></i>Delete
									</button>
									<button mat-menu-item *ngIf="item.status === 2 || item.status === 4 && permission.isGranted(OnboardHistory_Edit)" (click)="remind(item)">
											<i class="fa fa-bell text-warning mr-2"></i>Remind
										</button>
									</mat-menu>
								</td>
							</tr>
							<tr *ngIf="onboardHistoryList?.length === 0">
								<td colspan="6" class="text-center py-5">No records found</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card-footer bg-light border-top">
				<div class="row justify-content-between">
					<div class="col-sm-4 col-12 text-sm-left card-footer-wrapper">
						<button class="btn btn-secondary mb-2" (click)="refresh()">
							<i class="fas fa-redo-alt"></i>
						</button>
						<mat-form-field appearance="outline" style="max-width: 100px; margin-left: 30px;">
							<mat-label>Number items</mat-label>
							<mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
								<mat-option [value]="5">5</mat-option>
								<mat-option [value]="10">10</mat-option>
								<mat-option [value]="20">20</mat-option>
								<mat-option [value]="50">50</mat-option>
								<mat-option [value]="100">100</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div>
						<p class="mb-0 my-2">{{ 'TotalRecordsCount' | localize: totalItems }}</p>
					</div>
					<div class="col-sm-4 col-12">
						<div class="float-sm-right m-auto">
							<abp-pagination-controls id="server" (pageChange)="getDataPage($event)"></abp-pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
