<form class="form-horizontal create-update-asset" autocomplete="off" #assetForm="ngForm" novalidate>
    <abp-modal-header title="{{data.command == 'create'?'Create new asset':'Edit asset: '+title}}" (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
<div class="modal-body">
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="assetName">
            Asset Name:
        </label>
        <div class="col-md-9">
            <input name="{{data.command == 'create'?'ipt-assetName':'ipt-assetName_edit'}}" class="form-control mt-1" type="text" placeholder="Asset Name" required
                [(ngModel)]="asset.assetName" #assetName="ngModel" #assetNameEl />
                <abp-validation-summary [control]="assetName" [controlEl]="assetNameEl">
                </abp-validation-summary>
        </div>
    </div>
</div>
<div align="end" class="row justify-content-end">
    <button name="btn-cancel" class="btn btn-secondary btn-action mr-2" mat-dialog-close>Cancel</button>
    <button name="btn-save" class="btn btn-primary btn-action"
        [disabled]="!assetForm.valid || isLoading" (click)="SaveAndClose()">Save</button>
</div>
</form>
