::ng-deep .mat-tooltip {
    font-size: 12px;
   }
::ng-deep input.is-check{
    border: 1px solid #f33446;
}
.invalid{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

@media screen and (max-width: 600px) {
    :host ::ng-deep .create-edit-list-project abp-modal-header .modal-header {
        padding: 0;
    }

    .datepick mat-form-field {
        display: block;
    }

    :host ::ng-deep .checkbox-weekly-report .mat-checkbox-layout,
    :host ::ng-deep .checkbox-file .mat-checkbox-layout {
        display: block;
        white-space: normal;
        margin-bottom: 0;
    }

    .form-group {
        margin-bottom: 15px;
    }

    :host ::ng-deep .checkbox-weekly-report .mat-checkbox-inner-container {
        margin-right: 3px;
        margin-bottom: 2px;
    }

    .label-weekly-report, .label-is-charge {
        display: none;
    }

    .modal-body {
        padding: 10px;
        max-height: 55vh !important;
    }

    :host ::ng-deep .create-edit-list-project .modal-title {
        margin-bottom: 10px;
    }
}