pre{
    font-size: 1rem;
    line-height: 24px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
    height: 52px;
}

.pre-text{
    white-space: pre-line;
    font-family: sans-serif; 
    align-self:flex-start;
}

@media screen and (max-width: 600px) {
    .card {
        border-radius: 0;
    }

    .title-project-des {
        margin-bottom: 0;
    }

    .card-body {
        padding: 10px 20px !important;
    }

    .footer-desc {
        justify-content: end;
        padding-right: 20px;
        padding-top: 10px;
    }

    .text-description {
        padding: 0;
    }

    :host ::ng-deep .form-use-technology .mat-form-field-flex > .mat-form-field-infix {
        padding: 7px 0 !important;
    }

    .body-description {
        max-height: 56vh;
        overflow: auto;
        overflow-x: hidden;
        padding-right: 5px;
    }
}