section {
  display: table;
  margin: 8px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 150px;
  font-weight: bold;
}


.example-form {
  min-width: 450px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
::ng-deep.my-dialog .mat-dialog-container{
  padding-top: 0;
}
:host::ng-deep .modal-header {
  padding: 0;
  align-items: center;
}
:host::ng-deep .mat-dialog-title{
  margin: 20px 0;
}