<div class="row" style="flex-wrap: nowrap;">
  <div  style="min-width: 180px;">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{label}}</mat-label>
    <mat-select [formControl]="viewChange" (selectionChange)="changeView(true)">
      <mat-option *ngFor="let item of listDateOptions" [value]="item.value">
        <p *ngIf="item.value != DateTimeOptions.CustomTime" class="mb-0">{{ item.key }}</p>
        <p *ngIf="item.value == DateTimeOptions.CustomTime" class="mb-0" (click)="onShowCustomTimePopup()">{{ item.key }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div  *ngIf="viewChange.value == DateTimeOptions.Day">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Select date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Date" (dateChange)="dateChange($event)" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div style="align-items:center;" class="align-center d-flex col-6"
    *ngIf="viewChange.value !== DateTimeOptions.All && viewChange.value !== DateTimeOptions.Day">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" *ngIf="viewChange.value !== DateTimeOptions.CustomTime">
      <mat-button-toggle style="width: 40px;" (click)="nextOrPre('pre')" >
        <i  class="fa fa-chevron-left"></i>
      </mat-button-toggle>
      <p class="mb-0 bg-white text-date" style="display:flex;align-items:center;">{{ textDate }}</p>
      <mat-button-toggle style="width: 40px;" (click)="nextOrPre('next')">
        <i  class="fa fa-chevron-right"></i>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <p class="mb-0 bg-white text-date" style="display:flex;align-items:center;" *ngIf="viewChange.value == DateTimeOptions.CustomTime">{{ textDate }}</p>
  </div>

</div>
