<form class="form-horizontal" autocomplete="off" #resourceRequestForm="ngForm" novalidate>
   <div class="card-header">
        <h3 class="pt-0">
            <span>
                {{this.data?.command == 'edit' ? 'Edit plan for user:  ': 'Add plan for project: '}} 
            </span>
            <strong>
                {{this.data?.command == 'edit' ? data?.item?.fullName : data.projectName}} 
            </strong>
        </h3>
        
   </div>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                User:
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" style="display:block">
                    <mat-select [(ngModel)]="planUser.userId" name="user" placeholder="select a user" required #projectRole="ngModel"
                    [disabled]="isEdittingPlan" >
                        <mat-form-field class="w-100 px-3 "
                        style="position: sticky; top: 0; z-index: 2; background-color: white;display:block">
                        <input matInput [(ngModel)]="searchUser" name="searchUserName" placeholder="Search" #search (keydown)="$event.stopPropagation()">{{search.focus()}}
                    </mat-form-field>
                        <mat-option *ngFor="let user of userList |listFilter:  'fullName' : searchUser : 'emailAddress'" [value]="user.id">
                            {{user.fullName}} - ({{user.emailAddress}})</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="isPool">
                Join/Out:
            </label>
            <div class="col-md-9">
                <mat-radio-group [(ngModel)]="planUser.allocatePercentage" aria-label="Select an option" name="isPool">
                    <mat-radio-button [checked]="planUser.allocatePercentage == 100" class="mt-2 mr-3" [value]="100">Join</mat-radio-button>
                    <mat-radio-button [checked]="planUser.allocatePercentage == 0" [value]="0">Out</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="form-group row required" *ngIf="planUser.allocatePercentage > 0">
            <label class="col-md-3 col-form-label" for="allocatePercentage">
                Work type:
            </label>
            <div class="col-md-9">
                <mat-radio-group [(ngModel)]="planUser.isPool" aria-label="Select an option" name="allocatePercentage">
                    <mat-radio-button [checked]="planUser.isPool == false" class="mt-2 mr-3" [value]="false">Offical</mat-radio-button>
                    <mat-radio-button [checked]="planUser.isPool == true" [value]="true">Temp</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="form-group row required" *ngIf="planUser.allocatePercentage > 0">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Role:
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" style="display:block">
                    <mat-select [(ngModel)]="planUser.projectRole" name="projectRole" placeholder="select a role" required #projectRole="ngModel">
                        <mat-option *ngFor="let role of projectRoleList" [value]="APP_ENUM.ProjectUserRole[role]">
                            {{role}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Start Date:
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" style="display:block">
                    <input placeholder="Choose date" matInput [matDatepicker]="picker"  name="startDate" [(ngModel)]="planUser.startTime" #timeStart="ngModel" required />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="timeStart.hasError('required') && timeStart.touched" style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>

       

       
    </div>
    <div class="row justify-content-end">
        <button class="btn btn-secondary btn-action mr-2" mat-dialog-close>Cancel</button>
        <button class="btn btn-primary btn-action" [disabled]="!resourceRequestForm.valid || isLoading" (click)="SaveAndClose()">Save</button>
    </div>

</form>