::ng-deep .mat-select-value-text {
    color: #212529;
}

:ng-deep .mat-form-field-flex > .mat-form-field-infix { bottom: 5px;}

/* @media only screen and (max-width: 768px){
    .card-header {
        padding: 0;
    }
    .modal-body {
        padding: 0;
    }
    .footer {
        padding: 0;
        padding-right: 7px;
    }

    .title {
        font-size: 22px;
    }
} */
@media screen and (max-width: 600px) {
    .card-header {
        padding: 0;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .modal-body {
        padding: 10px 0;
    }
    .title {
        font-size: 22px;
    }
}