::ng-deep .checkbox-invoice label{
    margin: 0 !important;
}

::ng-deep .mat-expansion-panel-content {
    font-family: unset !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
}


.submit-btn:disabled i {
    color: gray !important;
}
.highLight{
    border-left: 10px solid #28a745 !important;
}
.highLightOne{
    border-left: 10px solid #ffc107 !important;
}
::ng-deep .custom-panel-class {
    min-width: 700px !important;
    max-height: 500px !important;
}

.mat-option .mat-option-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-option .mat-option-text .data-name {
    margin-right: 8px;
}

.mat-option .mat-option-text .data-type-label {
    text-align: right;
    font-size: 12px;
    vertical-align: center;
    border-radius: 0.25rem;
}
.align {
    text-align: center;
    vertical-align: middle;
}
.file-download {
    display: inline-block;
    width: 280px;
    color: #007bff;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.file-download:hover {
    color: blue;
}
.cv-link:hover{
    text-decoration: underline;
}

.body-invoice-settings {
    padding: .5rem;
}

.add-bill-mobile {
    display: none;
}

.dropdown-list-pagination {
    width: 20%; 
    margin-left: 30px;
}

.change-role {
    width: 135px; 
    display: flex; 
    align-items: center; 
    margin-left: -20px;
}

.filter-link-resource {
    display: flex; 
    align-items: center; 
    margin-left: -20px;
}

.bill-search {
    margin-left: 10px; 
    width: 100%;
}

@media screen and (max-width: 600px) {
    .invoice-setting, .bill-account {
        height: 100% !important;
        align-items: baseline !important;
        margin-top: 20px !important;
        padding-left: 20px;
        padding-right: 20px;
    }

    :host ::ng-deep .invoice-setting .mat-content {
        flex-wrap: wrap;
        gap: 10px;
        padding-right: 6px;
    }

    :host ::ng-deep .bill-account .mat-content {
        display: block !important;
    }

    .label-invoice {
        margin-bottom: 0;
    }

    .btn-edit-invoice-setting {
        margin: 0 !important;
    }

    .body-invoice-settings, .item-invoice-setting {
        padding: 0;
    }

    .col-form-label {
        width: fit-content;
        white-space: nowrap;
    }

    .col-form-result {
        width: fit-content;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .label-bill-account {
        white-space: nowrap;
        margin: 0 !important;
    }

    .bill-search {
        padding: 0;
        margin-left: 0;
        margin-top: 6px;
        margin-top: 15px;
        margin-bottom: 15px !important;
    }

    .filter-change-status {
        padding: 0;
        margin-left: 0 !important;
        margin-top: 6px;
    }

    .filter-link-resource, .filter-link-resource app-multiple-select {
        margin-left: 0;
        padding: 0;
    }

    .change-role, .change-role app-multiple-select-string-value {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .add-bill-desktop {
        display: none;
    }

    .add-bill-mobile {
        display: block;
        margin: 0 !important;
    }

    .btn-refresh {
        margin: 0 !important;
    }

    .checkbox-hide-rate {
        padding: 0;
        padding-top: 10px;
    }

    .date-picker {
        width: 160px !important;
    }

    .col-bill-account {
        white-space: nowrap;
    }

    .card-footer {
        height: 100% !important;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .dropdown-list-pagination {
        margin-left: 0;
        width: 46%;
    }

    .list-filter {
        display: block !important;
    }

    .header-bill-account {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    :host ::ng-deep .content .mat-expansion-panel-content {
        padding: 0 20px;
    }

    .content, .container-fluid {
        padding: 0 !important;
    }

    :host ::ng-deep .content .mat-expansion-panel {
        border-radius: 0;
    }

    :host ::ng-deep .content .mat-expansion-panel-body {
        padding: 0;
    }

    ::ng-deep .custom-panel-class {
        max-height: 30vh !important;
        min-width: 100% !important;
    }

    .user-info {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .form-change-name {
        min-width: 130px !important;
    }

    .form-charge-role {
        min-width: 115px !important;
    }

    .column-rate {
        min-width: 120px !important;
    }

    .input-charge {
        width: 150px !important;
    }

    :host ::ng-deep .content .mat-expansion-indicator {
        position: absolute;
        right: 24px;
        top: 6px;
    }
}