::ng-deep .checkbox-invoice label{
    margin: 0 !important;
}

::ng-deep .mat-expansion-panel-content {
    font-family: unset !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
}


.submit-btn:disabled i {
    color: gray !important;
}
.highLight{
    border-left: 10px solid #28a745 !important;
}
.highLightOne{
    border-left: 10px solid #ffc107 !important;
}
::ng-deep .custom-panel-class {
    min-width: 700px !important;
    max-height: 500px !important;
}

.mat-option .mat-option-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-option .mat-option-text .data-name {
    margin-right: 8px;
}

.mat-option .mat-option-text .data-type-label {
    text-align: right;
    font-size: 12px;
    vertical-align: center;
    border-radius: 0.25rem;
}
.align {
    text-align: center;
    vertical-align: middle;
}
.file-download {
    display: inline-block;
    width: 280px;
    color: #007bff;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.file-download:hover {
    color: blue;
}
.cv-link:hover{
    text-decoration: underline;
}