@media screen and (max-width: 600px) {
    :host ::ng-deep .form-horizontal .modal-header {
        padding: 0;
        align-items: baseline;
    }

    :host ::ng-deep .form-horizontal .modal-title {
        margin-bottom: 10px;
    }

    .form-horizontal .modal-body {
        max-height: 60vh !important;
        padding: 12px 12px 0 0;
    }

    .modal-footer {
        margin-right: 0 !important;
        margin-top: 10px;
    }
}