<div *ngIf="permission.isGranted(Timesheets_View)">


    <section class="content-header pb-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Timesheets</h1>
                </div>
                <div class="col-6 text-right">
                    <button *ngIf="permission.isGranted(Timesheets_Create)" (click)="createTimeSheet()" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    Create
                </button>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                            <i class="fas fa-search"></i>
                        </button>
                        </div>
                        <input type="text" class="form-control" name="keyword" placeholder="Search" [(ngModel)]="searchText" (keyup.enter)="getDataPage(1)" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-default" (click)="checkAddFilter()">
                            <i class="fas" [class.fa-angle-up]="advancedFiltersVisible"
                                [class.fa-angle-down]="!advancedFiltersVisible"></i>
                        </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="advancedFiltersVisible" class="mb-0 mt-1">
                    <div class="card-body">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12 col-xl-12">
                                    <div class="mb-0">
                                        <div>
                                            <div *ngFor="let item of filterItems; let i = index">
                                                <app-filter [item]="item" (emitChange)="onEmitChange($event, i)" (deleteDataFilter)="deleteFilterItem(i)" [inputFilters]="FILTER_CONFIG">
                                                </app-filter>
                                            </div>
                                            <i style="padding: 0;" class="fas fa-plus-circle ml-3" (click)="addFilter()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-4 ">
                    <div class="fixHead">
                        <table style="border-collapse: collapse;" class="table table-hover text-nowrap" [busy]="isLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th>STT</th>
                                    <th>Name</th>
                                    <th style="width: 100px">Man Month</th>
                                    <th style="width : 150px">Date</th>
                                    <th style="width : 150px">Working day</th>
                                    <th style="width : 150px">Project Quantity</th>
                                    <th style="width : 150px">Timesheet File</th>
                                    <th style="width : 100px">Status</th>
                                    <th style="width: 100px;" *ngIf="showColumnAction()">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of timesheetList |paginate
                                : {
                                    id: 'server',
                                    itemsPerPage: pageSize,
                                    currentPage: pageNumber,
                                    totalItems: totalItems
                                }; let i = index">
                                    <td class="text-center"><span>{{ i +1 }}</span></td>
                                    <td><span class="hyperlink" (click)="showDetail(item)">{{ item.name
                                        }}</span></td>
                                    <td class="text-center">{{item.manMonth}}</td>
                                    <td class="text-center">{{item.year}}/{{item.month
                                        < 10 ? '0'+item.month : item.month}}</td>
                                            <td class="text-center">{{item.totalWorkingDay}}</td>
                                            <td class="text-center">{{item.totalProject}}</td>
                                            <td class="text-center" [ngClass]="colorTSFile(item)">{{item.totalHasFile}}/{{item.totalIsRequiredFile}}</td>
                                            <td class="text-center">
                                                <span [ngClass]="item.isActive?'badge  badge-success':'badge  badge-secondary'">
                                        {{item.isActive?'Active':'Closed'}}
                                    </span>
                                            </td>
                                            <td class="text-center" *ngIf="showColumnAction()">
                                                <button mat-button [matMenuTriggerFor]="menu">
                                        <i class="fas fa-bars fa-lg"></i>
                                    </button>
                                                <mat-menu #menu="matMenu" class="p-2">
                                                    <button *ngIf="item.isActive==true && permission.isGranted(Timesheets_Edit)" class="mat-menu-item  w-100" (click)="editTimesheet(item)">
                                            <i class="fas fa-pencil-alt fa-lg mr-1"></i>
                                            Edit
                                        </button>
                                                    <button *ngIf="item.isActive==true && permission.isGranted(Timesheets_Delete)" class="mat-menu-item  w-100" (click)="delete(item)" #deleteBtn>
                                            <i class="fas fa-trash fa-lg mr-1"></i>
                                            Delete
                                        </button>
                                                    <button *ngIf="item.isActive==true && permission.isGranted(Timesheets_ForceDelete)" class="mat-menu-item  w-100" (click)="forceDelete(item)" #forceDeleteBtn>
                                            <i class="fas fa-trash-alt fa-lg mr-1"></i>
                                            Force Delete
                                        </button>
                                                    <button *ngIf=" permission.isGranted(Timesheets_CloseAndActive)" class="mat-menu-item  w-100" (click)="changeStatus(item)">
                                        <i *ngIf="!item.isActive" class="fas fa-check fa-lg mr-1"></i>
                                        <i *ngIf="item.isActive" class="fas fa-times fa-lg mr-1"></i>
                                        {{item.isActive?'Closed':'Activate'}}
                                    </button>
                                                </mat-menu>
                                            </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer bg-light border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary mb-2" (click)="refresh()">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                            <mat-form-field style="width: 20%;margin-left: 30px;">
                                <mat-label>Number items</mat-label>
                                <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                                    <mat-option [value]="5">
                                        5
                                    </mat-option>
                                    <mat-option [value]="10">
                                        10
                                    </mat-option>
                                    <mat-option [value]="20">
                                        20
                                    </mat-option>
                                    <mat-option [value]="50">
                                        50
                                    </mat-option>
                                    <mat-option [value]="100">
                                        100
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="float-sm-right m-auto">
                                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
