<h2 mat-dialog-title>{{ model.id ? 'Edit' : 'Create' }} Account Asset</h2>
<mat-dialog-content>
  <div class="row">
    <mat-form-field class="col-12">
      <mat-label>Project Asset</mat-label>
      <mat-select [(ngModel)]="model.projectAssetId" name="projectAssetId" required>
        <mat-option *ngFor="let asset of availableAssets" [value]="asset.id">
          {{ asset.assetName || asset.name || 'Unnamed asset' }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="saving || !model.projectAssetId" (click)="save()">Save</button>
</mat-dialog-actions>
