<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>Timesheet</h1>
            </div>
            <div class="col-6 text-right">
                <button
                    class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                   Create
                </button>
            </div>
        </div>
    </div>
</section>
<section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-6 text-left">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn bg-blue">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" name="keyword" placeholder="Search" 
                                 />
                            
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn bg-blue">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" name="keyword" placeholder="Search" 
                                 />
                            
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="card-body table-responsive p-4">
                <table style="border-collapse: collapse;" class="table table-hover text-nowrap">
                    <thead class="bg-light">
                        <tr>
                            <th>STT</th>
                            <th>Tên Timesheet</th>
                            <th>Tháng</th>
                            <th>Số lượng dự án</th>
                            <th>Số lượng File đính kèm</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td  class="text-center">
                                <button  
                                class="btn btn-sm bg-secondary mr-1" 
                                (click)="$event.stopPropagation()" >
                                <i class="fas fa-pencil-alt"></i>

                                Edit
                            </button>
                            <button
                                class="btn btn-sm bg-danger ml-1"
                                (click)="$event.stopPropagation()"
                                 #deleteBtn>
                                <i class="fas fa-trash"></i>
                                Delete
                            </button>
                            </td>

                        </tr>
                        
                    </tbody>
                </table>
            </div>
           
        </div>
