<section class="content px-2 mt-2" id="all-resource" *ngIf="permission.isGranted(Resource_TabAllResource_View)">
    <div class="container-fluid">
        <div class="">
            <div class="">
                <div class="input-group" style="display: block;">

                    <div style="width: 100%;" class="row">
                        <div class="col-12 col-md-4 mt-1 d-flex align-items-center mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" name="keyword" placeholder="Search"
                                    [(ngModel)]="searchText" (keyup.enter)="getDataPage(1)" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-default" (click)="checkAddFilter()">
                                        <i class="fas" [class.fa-angle-up]="advancedFiltersVisible"
                                            [class.fa-angle-down]="!advancedFiltersVisible"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mt-1 d-flex align-items-center mb-3">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>User Type:</mat-label>
                                <mat-select placeholder="Select user type" [(ngModel)]="selectedUserTypes" multiple
                                    (selectionChange)="onChangeUserTypeEvent($event)">
                                    <mat-option *ngFor="let userType of userTypeParam" [value]="userType.value">
                                        {{userType.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-4 mt-1 d-flex align-items-center mb-3">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Position:</mat-label>
                                <mat-select placeholder="Select position" [(ngModel)]="selectedPositions" multiple
                                    (selectionChange)="onChangePositionsEvent($event)">
                                    <mat-option *ngFor="let position of listPositions" [value]="position.id">
                                        {{position.shortName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4 mt-1 d-flex align-items-center mb-3">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Branch:</mat-label>
                                <mat-select [(ngModel)]="selectedBranchIds"
                                    (selectionChange)="onChangeBranchEvent($event)" placeholder="Select branch"
                                    multiple>
                                    <mat-option *ngFor="let branch of listBranchs" [value]="branch.id">
                                        {{branch.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-4 mt-1 d-flex align-items-center mb-3">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Skills:</mat-label>
                                <mat-select placeholder="select skill" multiple (selectionChange)="getDataPage(1)" [(ngModel)]="selectedSkillId">
                                    <div style="width: 334px;" style="position: sticky; top: 0; z-index: 2; background-color: white; padding: 10px 7px; padding: 13px 7px 0px 5px;">
                                        <mat-radio-group aria-label="Filter by" class="w-80 px-2  row" [(ngModel)]="isAndCondition" (ngModelChange)="getDataPage(1)" style=" width: 100%;">
                                            <div class="col-4">
                                                <label style=" white-space: nowrap;" class="mt-2 mr-2">Search
                                                    type:</label>
                                            </div>
                                            <div class="col-6 pt-2">
                                                <mat-radio-button class="mr-3" [value]="true">And</mat-radio-button>
                                                <mat-radio-button [value]="false">Or</mat-radio-button>
                                            </div>
                                        </mat-radio-group>
                                    </div>
                                    <mat-option *ngFor="let skill of listSkills" [value]="skill.id">
                                        {{skill.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <i class="fas fa-times fa-lg ml-2 mt-2" *ngIf="selectedSkillId?.length > 0"
                                (click)="selectedSkillId = null; refresh()"></i>
                        </div>

                        <div class="col-12 col-md-4 mt-1 d-flex align-items-center mb-3">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Planned Resource:</mat-label>
                                <mat-select placeholder="Select plan status" [(ngModel)]="selectedIsPlanned" (selectionChange)="getDataPage(1)">
                                    <mat-option *ngFor="let plan of planStatusList" [value]="plan.value">
                                        {{ plan.displayName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <i class="fas fa-times fa-lg ml-2 mt-2" *ngIf="selectedIsPlanned > 1" (click)="applyPlanFilter()"></i>
                        </div>

                    </div>

                </div>
            </div>
            <div *ngIf="advancedFiltersVisible" class="mb-0 mt-1">
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="mb-0">
                                    <div>
                                        <div *ngFor="let item of filterItems;
                                            let i= index">
                                            <app-filter [item]="item" (emitChange)="onEmitChange($event, i)"
                                                (deleteDataFilter)="deleteFilterItem(i)" [inputFilters]="FILTER_CONFIG">
                                            </app-filter>
                                        </div>
                                        <i style="padding: 0;" class="fas
                                            fa-plus-circle ml-3" (click)="addFilter()"></i>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                    <!-- <div class="col-4">
                        <div>
                            <mat-form-field class="w-75" appearance="outline">
                                <mat-select class="w-100" [(ngModel)]="skill" aria-placeholder="Select Skill" name="skill" (selectionChange)="filterSkills($event.value)" placeholder="Search skill">
                                    <mat-option *ngFor="let skill of listSkills" [value]="skill.id">
                                        {{skill.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class=" table-responsive py-4 all-resource-table">
                <div class="fixTableHead">
                    <table [busy]="isLoading" style="border-collapse: collapse;" class="table text-nowrap">
                        <thead class="bg-light">
                            <tr style="border: none;">
                                <th>#</th>
                                <th>Employee</th>
                                <th style="width: 75px;">History</th>
                                <th>Project</th>
                                <th style="width: 350px;">Plan</th>
                                <th>Skills</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of availableResourceList
                                |paginate
                                : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                }; let i= index">
                                <td class="text-center"><span>{{ i + 1 + pageSize * (pageNumber - 1 ) }}</span></td>
                                <td style="width: 350px;">
                                    <div style="width: 100%;">
                                        <app-user-info [userData]="item">
                                        </app-user-info>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div style="display: inline">
                                        <div>
                                            <i *ngIf="permission.isGranted(Resource_TabAllResource_ViewHistory)"
                                                class="fas fa-history fa-lg" (click)="projectHistorUser(item)"
                                                matTooltip="Xem dự án trước đây"></i>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <i *ngIf="permission.isGranted(Resource_TabAllResource_ViewHistory)"
                                                class="fa fa-file" (click)="RetroReviewHistoryUser(item)"
                                                matTooltip="Xem lịch sử của Retro và Review trước đây"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p *ngFor="let project of
                                        item.workingProjects" class="mb-1">
                                        <span matTooltip="Potential project"
                                            *ngIf="project.projectStatus==APP_ENUM.ProjectStatus.Potential"
                                            class="badge bg-info pointer mr-1">
                                            P</span>
                                        <strong class="hyperlink"
                                            *ngIf="permission.isGranted(Resource_TabAllResource_ProjectDetail)"
                                            (click)="viewProjectDetail(project)">{{project.projectName}}
                                        </strong>
                                        &nbsp;
                                        <span [ngClass]="APP_CONST.projectUserRole[project.projectRole]">
                                            {{getByEnum(project.projectRole,
                                            APP_ENUM.ProjectUserRole)}}</span>&nbsp;
                                        <strong [ngClass]="project.isPool ?
                                            'text-secondary' : 'text-primary'">{{project.workType}}</strong>&nbsp;
                                        <span style="font-size: 15px; color:
                                            #494d50">{{project.startTime | date:
                                            "dd/MM/yyyy"}}</span>
                                    </p>
                                    <i class=" fas fa-history pointer" style="color: #6b7278;" *ngIf="!item.isshowProjectHistory &&
                                        permission.isGranted(Resource_TabAllResource_ViewHistory)"
                                        matTooltip="View project history"
                                        (click)="getHistoryProjectsByUserId(item)"></i>

                                    <div *ngIf="item.isshowProjectHistory"
                                        [ngClass]="item.showAllHistory == false ? 'preHistory' : 'history'">
                                        <div *ngFor="let project of item.userProjectHistory"
                                            class="mb-1 d-flex pointer {{ project.allowcatePercentage ? 'join-project' : 'out-project' }}">
                                            <div class="col-11 p-0">
                                                <p class="mb-0">
                                                    <strong
                                                        *ngIf="permission.isGranted(Resource_TabAllResource_ProjectDetail)"
                                                        (click)="viewProjectDetail(project)">
                                                        {{ project.projectName }}
                                                    </strong>
                                                    <span
                                                        class="badge {{ this.APP_CONST.projectUserRole[project.projectRole] }}">
                                                        {{ this.getByEnum(project.projectRole,
                                                        this.APP_ENUM.ProjectUserRole) }}
                                                    </span>
                                                    - <span>{{ project.startTime }}</span>
                                                </p>
                                            </div>
                                            <div class="col-1">
                                                <span
                                                    class="badge {{ project.allowcatePercentage ? 'bg-success' : 'bg-secondary' }}">
                                                    {{ project.allowcatePercentage ? 'Join' : 'Out' }}
                                                </span>
                                            </div>
                                        </div>
                                        <p *ngIf="item.userProjectHistory && item.userProjectHistory.length == 0">No
                                            project history!</p>
                                    </div>


                                    <i [ngClass]="item.showAllHistory ? 'fas fa-chevron-up' :'fa fa-ellipsis-h'" *ngIf="item.isshowProjectHistory == true
                                        && item.showMoreHistory"
                                        (click)="showMoreHistory(item);getHistoryProjectsByUserId(item)"></i>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between" style="align-items: center;">
                                        <div>
                                            <div *ngFor="let plan of
                                                item.planProjects" (mouseenter)="plan.onHover=
                                                true;" (mouseleave)="plan.onHover=
                                                false" style="white-space: nowrap;">
                                                <button class="btn p-0 text-left text-nowrap"
                                                    matTooltip="Click to show action" [matMenuTriggerFor]="planMenu">
                                                    <span [ngClass]="plan.onHover?'on-hover-plan':''">
                                                        <strong class="mr-1">{{plan.projectName }}</strong>
                                                        <strong [ngClass]="plan.isPool?'text-secondary'
                                                            : 'text-primary'" class=" mr-1">
                                                            {{plan.workType}}</strong>
                                                        <strong [ngClass]="plan.allocatePercentage>
                                                            0?'badge-success' :
                                                            'badge-danger'" class="badge mr-1">
                                                            {{plan.allocatePercentage
                                                            > 0 ? 'Join' :
                                                            'Out'}}</strong> {{
                                                        plan.startTime | date:
                                                        'dd/MM/yyyy' }}
                                                    </span>
                                                </button>
                                                <mat-menu #planMenu="matMenu">
                                                    <button
                                                        *ngIf="permission.isGranted(Resource_TabAllResource_ProjectDetail)"
                                                        mat-menu-item (click)="viewProjectDetail(plan)">
                                                        <i class="fas fa-file-alt"></i> View Project Detail
                                                    </button>
                                                    <button mat-menu-item *ngIf="plan.allocatePercentage>
                                                        0 &&
                                                        (permission.isGranted(Resource_TabAllResource_ConfirmPickEmployeeFromPoolToProject)
                                                        ||
                                                        permission.isGranted(Resource_TabAllResource_ConfirmMoveEmployeeWorkingOnAProjectToOther))
                                                        " (click)="confirm(plan,
                                                        item.userId,
                                                        item.fullName)"><i
                                                            class="fas fa-check mr-1 text-success"></i>Confirm
                                                        Join</button>

                                                    <button mat-menu-item *ngIf="plan.allocatePercentage <= 0
                                                        &&
                                                        permission.isGranted(Resource_TabAllResource_ConfirmOut)"
                                                        (click)="confirm(plan,
                                                        item.userId,
                                                        item.fullName)"><i class="fas fa-check
                                                            mr-1 text-success"></i>Confirm
                                                        Out</button>
                                                    <button mat-menu-item *ngIf="permission.isGranted(Resource_TabAllResource_CancelMyPlan)
                                                        ||
                                                        permission.isGranted(Resource_TabAllResource_CancelAnyPlan)"
                                                        (click)="CancelResourcePlan(plan,item.fullName)">
                                                        <i class="fas fa-times
                                                            mr-1 text-danger"></i>
                                                        Cancel
                                                        plan</button>
                                                    <button
                                                        *ngIf="permission.isGranted(Resource_TabAllResource_EditPlan)"
                                                        mat-menu-item (click)="editUserPlan(plan,item)">
                                                        <i class="fas fa-edit
                                                            mr-1
                                                            text-secondary"></i>
                                                        Edit</button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                        <div *ngIf="permission.isGranted(Resource_TabAllResource_CreatePlan)"
                                            style="width: 14%;" class="text-right ml-1">
                                            <i class="fas fa-plus text-primary" (click)="planUser(item)"
                                                matTooltip="Plan user"></i>
                                        </div>
                                    </div>

                                </td>
                                <td style="white-space: normal; max-width:
                                    200px;">
                                    <div class="d-flex justify-content-between" style="align-items: center;">
                                        <div style="width: 200px">                           
                                            <p class="m-0" *ngFor="let skill of
                                                item.userSkills">
                                                - {{skill.skillName}} &nbsp;
                                            <span *ngIf="skill.skillRank">(  {{skill.skillRank}} <i class="fa fa-star" 
                                                [ngClass] = '{crimson: skill.skillRank == 5, grey:skill.skillRank ==1 || skill.skillRank == 2,yellow:skill.skillRank == 3 ,orange:skill.skillRank == 4}' style="
                                                font-size: 13px;"></i> )</span>
                                            </p>
                                        </div>
                                        <div *ngIf="permission.isGranted(Resource_TabAllResource_UpdateSkill)" style="width: 10%; text-align:
                                            right;">
                                            <i class="fas fa-edit" (click)="updateUserSkill(item)"
                                                matTooltip="Edit skill"></i>
                                        </div>
                                    </div>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="padding-top: 20px !important;" class="bg-light border-top pt-2">
                <div class="row">
                    <div class="col-sm-4 col-12 text-sm-left text-center">
                        <button class="btn btn-secondary mb-2" (click)="refresh()">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                        <mat-form-field style="width: 20%;margin-left: 30px;">
                            <mat-label>Number items</mat-label>
                            <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                                <mat-option [value]="5">
                                    5
                                </mat-option>
                                <mat-option [value]="10">
                                    10
                                </mat-option>
                                <mat-option [value]="20">
                                    20
                                </mat-option>
                                <mat-option [value]="50">
                                    50
                                </mat-option>
                                <mat-option [value]="100">
                                    100
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4 col-12 text-center">
                        <p class="mb-0 my-2">
                            {{ "TotalRecordsCount" | localize: totalItems }}
                        </p>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="float-sm-right m-auto">
                            <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                            </abp-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
