::ng-deep .stars-line {
    z-index: 0;
}

::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
  }

::ng-deep .mat-radio-label{
    margin: 0;
}
.all-resource-table i {
    color: #686868;
    font-size: 18px;
}
::ng-deep .mat-select-panel{
    max-height: 350px !important;
}

#all-resource .fa-edit,
#all-resource .fa-plus {
    font-size: 15px;
}

@media screen and (max-width: 1260px) {
    .w-infor {
        width: 100% !important;
    }
    .w-review {
        width: 100% !important;
        margin-left: 25%;
    }
}

@media screen and (min-width: 1261px) {
    .w-infor {
        width: 70% !important;
    }
    .w-review {
        width: 30% !important;
    }
}

.hover-project-name:hover {
    color: #007bff;
    ;
    text-decoration: underline;
    cursor: pointer;
}

.on-hover-plan {
    text-decoration: underline;
}

button {
    height: fit-content;
}

span {
    height: fit-content;
}

.row .w-100 > div {
    justify-content: space-around;
    display: flex;
}
.crimson{
    color:crimson !important
}
.grey{
    color: grey !important;
}
.orange{
    color: orange !important;
}
.yellow{
    color: yellow !important;
}

.resource-table {
    max-height: 64vh !important;
}

.max-line-content-2 {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 100px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.row-first {
    width: 100%; 
    height: 50px;
}

.row-second {
    height: 35px;
}

::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .add-edit-note-dialog {
    width: 40%;
}

.edit-skills {
    position: absolute; 
    top: 0; 
    right: 0;
}

@media screen and (max-width: 600px) {
    .row-first, .row-second {
        height: 100%;
        width: fit-content;
    }

    .select-filter-option {
        margin-right: 1rem;
    }

    ::ng-deep .select-filter-option app-select-clear-option{
        button.bg-secondary, button.bg-success {
            margin-left: 10px !important;
        }
    }

    .select-filter-skill {
        display: flex !important;
        margin-top: 0.5rem;
    }

    ::ng-deep .select-filter-skill app-select-clear-option{
        button.bg-secondary, button.bg-success {
            margin-left: 8px !important;
        }
    }

    .card-body {
        padding: 0;
    }

    ::ng-deep .form-horizontal app-filter .container-fluid {
        padding: 0;
    }

    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .add-edit-note-dialog {
        width: 100%;
    }

    .list-pagination {
        order: 1;
    }

    .paging {
        order: 2;
        padding-top: 20px;
    }

    .total-record {
        order: 3;
    }

    .col-note {
        min-width: 100px;
    }

    .col-skills {
        min-width: 150px;
    }

    .edit-skills {
        top: 10px;
        right: 10px;
    }

    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .project-history-dialog,
    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .retro-review-history-dialog {
        max-width: 100% !important;
        padding: 0 15px;
    }
}

@media screen and (max-width: 575px) {
    .btn-add-filter{
        bottom: 3px;
        padding: 0;
        position: absolute;
    }

    .no-value-filter {
        margin-left: 0 !important;
        bottom: 0;
    }
}
