<form class="form-horizontal" autocomplete="off" #resourceRequestForm="ngForm" novalidate>
    <abp-modal-header title="{{data.command == 'create'?'Add new currency':'Edit currency: '+title}}" (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="pm">
                Name:
            </label>
            <div class="col-md-9">
                <input name="{{data.command == 'create'?'ipt-name':'ipt-name_edit'}}" class="form-control mt-1"
                    type="text" placeholder="Name" required name="name" [(ngModel)]="currency.name" #name="ngModel"
                    #nameEl suffix="%" [ngClass]="(checkNull && name.touched)?'is-check':''"
                    (input)="enterName($event.target.value);" />
                <span class="invalid" *ngIf="checkNull  && name.touched && !name.errors?.required">This field is
                    invalid!</span>
                <abp-validation-summary [control]="name" [controlEl]="nameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="pm">
                Code:
            </label>
            <div class="col-md-9">
                <input name="{{data.command == 'create'?'ipt-code':'ipt-code_edit'}}" class="form-control mt-1"
                    type="text" placeholder="Code" required name="code" [(ngModel)]="currency.code" #code="ngModel"
                    #codeEl suffix="%" />
                <abp-validation-summary [control]="code" [controlEl]="codeEl">
                </abp-validation-summary>
            </div>
        </div>

            <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="pm">
                    Invoice Payment Info:
                </label>
                <div class="col-md-9">
                    <textarea class="form-control mt-1" placeholder="Invoice Payment Info" name="invoicePaymentInfo"
                        [(ngModel)]="currency.invoicePaymentInfo" maxlength="1000" rows="10">
            </textarea>
                </div>
            </div>

        </div>
        <div align="end" class="row justify-content-end">
            <button class="btn btn-secondary mr-2 btn-action" mat-dialog-close>Cancel</button>
            <button class="btn btn-primary btn-action" [disabled]="!resourceRequestForm.valid || checkNull || isLoading"
                (click)="SaveAndClose()">Save</button>
        </div>
</form>
