
::ng-deep input.is-check{
    border: 1px solid #f33446;
}
.invalid{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

@media screen and (max-width: 600px) {
    .max-h-body {
        max-height: 50vh;
    }
    .modal-body {
        padding: 0;
    }
    .row-none {
        padding: 0;
        margin: 0;
    }

    .text-area-currency {
        max-height: 100px;
    }
}