::ng-deep #form-set-done .modal-header{
    padding: 0 1rem 1rem 1rem;
}


@media only screen and (max-width: 768px){
    .form-set-done ::ng-deep .modal-header {
        padding: 0 !important;
    }
    .form-set-done ::ng-deep .modal-body {
        padding: 0;
    }
}