@media screen and (max-width: 600px) {
    :host ::ng-deep .form-horizontal {
        .modal-header {
            padding: 0;
            align-items: baseline;
        }
    }

    .btn-footer {
        width: fit-content;
    }

    .modal-body {
        padding: 0;
        max-height: 55vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 12px;
    }
}