@media screen and (max-width: 600px) {
  .card-body {
    padding: 10px 0;
  }

  .card-body ul {
    padding-inline-start: 18px;
  }

  .form-field-choose-date {
    width: 100% !important;
    display: block;
  }

  .card-header h4 {
    word-wrap: break-word;
    white-space: normal;
  }
}