@media only screen  and (max-width: 1500px) {
  .report-info .fixTableHead{
      height: 51vh !important
  }
}
  @media only screen and (min-width: 1501px) {
   .report-info .fixTableHead{
        height: 64vh !important
    }
}
.line-break{
  word-wrap: break-word;
  white-space: pre-line;
}