<form
class="form-horizontal"
autocomplete="off"
#resourceRequestForm="ngForm"
novalidate
>
<abp-modal-header
  *ngIf="input.command == 'create'"
  title="Create new CV of ResourceRequest : {{this.resourceRequestId}}"
  (onCloseClick)="dialogRef.close()"
>
</abp-modal-header>
<abp-modal-header
  *ngIf="input.command == 'edit'"
  title="Edit resource request CV with Id :  {{ this.input.item1.id }} of resourceRequest {{this.resourceRequestId}}"
  (onCloseClick)="dialogRef.close()"
>
</abp-modal-header>
<div class="modal-body">
  <div class="form-group row required">
    <label class="col-md-3 col-form-label" for="tenancyName">
        Employee:
    </label>
    <div class="col-md-9">
        <mat-form-field class="mt-2 w-100" appearance="outline">
            <mat-select name="userId" #userIdValid="ngModel" placeholder="Select user" required
                [(ngModel)]="billInfoPlan.userId">
                <mat-form-field class="w-100 px-3 "
                    style="position: sticky; top: 0; z-index: 2; background-color: white;">
                    <input matInput [(ngModel)]="search" name="searchUserName"
                        (keydown)="$event.stopPropagation()" placeholder="Search" #searchUser>{{searchUser.focus()}}
                </mat-form-field>
                <ng-container *ngFor="let user of listUsers | listFilter: 'fullName' : search : 'emailAddress'">
                    <mat-option [value]="user.id">
                        <span class="data-name">
                            {{user.fullName}} - ({{user.emailAddress}})
                        </span>
                        <span class="data-type-label"
                              [ngClass]="getStyleStatusUser(user.isActive)">
                            {{ getValueStatusUser(user.isActive) }}
                        </span>
                    </mat-option></ng-container>
            </mat-select>
        </mat-form-field>
        <mat-error class="mt-1" *ngIf="userIdValid.hasError('required') && userIdValid.touched"
            style="font-size: 13px;">
            This field is required
        </mat-error>
    </div>
</div>

  <div class="form-group row ">
    <label class="col-md-3 col-form-label" for="tenancyName">CVName</label>
    <div class="col-md-9">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="CVName" name="cvName" #cvName="ngModel" [(ngModel)]="resourceRequestCV.cvName"  />
      </mat-form-field>
    </div>
  </div>
  <div class="form-group row ">
    <label class="col-md-3 col-form-label" for="tenancyName">Kpi Point</label>
    <div class="col-md-9">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="KpiPoint" name="kpiPoint" #kpiPoint="ngModel" [(ngModel)]="resourceRequestCV.kpiPoint"  />
      </mat-form-field>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="tenancyName">CVStatus:</label>
    <div class="col-md-9">
      <mat-form-field class="mt-2 w-100" appearance="outline">
        <mat-select name="cvStatus" #cvStatus="ngModel" placeholder="Select cvStatus" [(ngModel)]="resourceRequestCV.status">
          <ng-container *ngFor="let status of cvStatusList">
            <mat-option [value]="APP_ENUM.CVStatus[status]">
              {{ status }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

<div class="form-group row ">
  <label class="col-md-3 col-form-label" for="tenancyName">SendCVDate</label>
    <div class="col-md-9">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput
    
        placeholder="Time need"
        name="sendCVDate"
        [(ngModel)]="resourceRequestCV.sendCVDate"   
        #timeStart="ngModel"        
        [readonly]="true"
        [autofocus]="true"
        [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"                              
        />
        <owl-date-time #dt1></owl-date-time>
    </mat-form-field>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="tenancyName">Interview Time</label>
    <div class="col-md-9">
    
      <mat-form-field appearance="outline" class="w-100">
        <input matInput
    
        placeholder="InterviewDate"
        name="interviewDate"
        [(ngModel)]="resourceRequestCV.interviewDate"   
        #timeStart="ngModel"        
        [readonly]="true"
        [autofocus]="true"
        [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"                              
        />
        <owl-date-time #dt2></owl-date-time>
    </mat-form-field>
    </div>
  </div>

  <div class="form-group row ">
    <label class="col-md-3 col-form-label" for="tenancyName">Note</label>
    <div class="col-md-9">
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput placeholder="Note" name="note" #note="ngModel" [(ngModel)]="resourceRequestCV.note" ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>

<div align="end" class="row justify-content-end">
  <button class="btn btn-secondary btn-action mr-2" mat-dialog-close>
    Cancel
  </button>
  <button class="btn btn-primary btn-action" [disabled]="!resourceRequestForm.valid || isLoading" (click)="SaveAndClose()">
    Save
  </button>
</div>
</form>
