<div *ngIf="permission.isGranted(Admin_ProjectAssetTypes_View)">
<section class="content-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6">
        <h1>Project Asset Types</h1>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn bg-blue" *ngIf="permission.isGranted(Admin_ProjectAssetTypes_Create)" (click)="createProjectAssetType()">
          <i class="fa fa-plus-square"></i> Create
        </button>
      </div>
    </div>
  </div>
</section>

<section class="content px-2">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="input-group">
          <div class="input-group-prepend">
            <button type="button" class="btn bg-blue" *ngIf="permission.isGranted(Admin_ProjectAssetTypes_View)" (click)="loadAssetTypes()">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchText" (keyup.enter)="loadAssetTypes()" />
        </div>
      </div>
      <div class="card-body">
        <div class="tree-panel">
          <ul class="resource-tree">
            <ng-container *ngFor="let node of resources">
              <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: node, level: 0 }"></ng-container>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #nodeTemplate let-node let-level="level">
  <li class="tree-node">
    <div class="tree-row" [style.padding-left.px]="level * 18" (click)="toggleNode(node)">
      <i class="tree-icon fas" [ngClass]="hasChildren(node) ? (isExpanded(node) ? 'fa-chevron-down' : 'fa-chevron-right') : 'fa-circle'"></i>
      <span class="tree-name">{{ node.name }}</span>
      <span class="tree-note" *ngIf="node.note">{{ node.note }}</span>
      <span class="ml-auto action-group" (click)="$event.stopPropagation()">
        <button *ngIf="!node.parentId && permission.isGranted(Admin_ProjectAssetTypes_Create)" class="btn btn-xs btn-success mr-1" (click)="createProjectAssetType(node)"><i class="fas fa-plus"></i> Create</button>
        <button *ngIf="permission.isGranted(Admin_ProjectAssetTypes_Edit)" class="btn btn-xs btn-secondary mr-1" (click)="editProjectAssetType(node)"><i class="fas fa-pencil-alt"></i> Edit</button>
        <button *ngIf="permission.isGranted(Admin_ProjectAssetTypes_Delete)" class="btn btn-xs btn-danger" (click)="deleteProjectAssetType(node)"><i class="fas fa-trash"></i> Delete</button>
      </span>
    </div>

    <ul *ngIf="hasChildren(node) && isExpanded(node)" class="resource-tree child-list">
      <ng-container *ngFor="let child of node.childrens">
        <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: child, level: level + 1 }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>
</div>
