<form
  class="form-horizontal"
  autocomplete="off"
  #timesheetDetailForm="ngForm"
  novalidate
>
  <abp-modal-header
    title="{{
      data.action == updateAction.UpdateBillInfo
        ? 'Update Bill Info:'
        : 'Update Timesheet:'
    }} {{ data.billInfo.projectName }}"
    (onCloseClick)="dialogRef.close()"
  >
  </abp-modal-header>

  <div class="modal-body row" id="modal-bill-info" style="justify-content: end">
    <div
      class="col-10 row mb-1"
      *ngIf="billDetail.length != 0 && billDetail.length != 1"
    >
      <button
        class="btn btn-editall-neutral ml-2"
        *ngIf="isShowEditAllBtn()"
        (click)="editAllRow()"
        [disabled]="data.billInfo.isComplete"
      >
        <i class="fas fa-pencil-alt mr-1"></i>Edit All
      </button>

      <!-- Normal Unit Dropdown -->
      <div class="ml-3" style="display: inline-block">
        <mat-form-field appearance="outline" style="width: 150px">
          <mat-label>Normal Unit</mat-label>
          <mat-select [(ngModel)]="normalUnit" name="normalUnit">
            <mat-option value="Day">Day</mat-option>
            <mat-option value="Hour">Hour</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- OT Unit Dropdown -->
      <div class="ml-2" style="display: inline-block">
        <mat-form-field appearance="outline" style="width: 150px">
          <mat-label>OT Unit</mat-label>
          <mat-select [(ngModel)]="otUnit" name="otUnit">
            <mat-option value="Day">Day</mat-option>
            <mat-option value="Hour">Hour</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="isEditingAllRow()" class="pt-1 ml-4">
        <button
          *ngIf="isTSPopUp()"
          [disabled]="!timesheetDetailForm.valid"
          class="mr-3 submit-btn"
          style="background: none; border: none"
          (click)="saveAllUpdateTS()"
        >
          <i style="color: green" class="fas fa-check fa-2x"></i>
        </button>

        <button
          *ngIf="isBillPopUp()"
          [disabled]="!timesheetDetailForm.valid"
          class="mr-3 submit-btn"
          style="background: none; border: none"
          (click)="saveAllUpdateBill()"
        >
          <i style="color: green" class="fas fa-check fa-2x"></i>
        </button>
        <i
          style="color: red"
          class="fas fa-times fa-2x"
          (click)="cancelUpdateAll()"
        ></i>
      </div>

      <div
        *ngIf="isEditingAllRow() && billDetail.length >= 20"
        class="pt-1 ml-4"
      >
        <input
          type="number"
          (input)="updateAllWorkingTime($event.target.value)"
          placeholder="Working Time For All"
          style="min-width: 80px; margin-left: 800px"
        />
      </div>
    </div>

    <section
      class="example-section col-2 text-center"
      *ngIf="isGranted(Timesheets_TimesheetDetail_UpdateBill_SetDone)"
    >
      <mat-checkbox
        id="done"
        class="example-margin"
        (change)="isComplete($event)"
        [disabled]="isEditingAnyRow()"
        [checked]="data.billInfo.isComplete"
        >PM Confirm Timesheet Done
      </mat-checkbox>
    </section>

    <div class="table-responsive mb-1 p-2">
      <div class="fixTableHead">
        <table
          style="border-collapse: collapse"
          class="table table-hover text-nowrap"
        >
          <thead class="bg-light">
            <tr>
              <th class="stt">#</th>
              <!-- <th style="width: 350px;">Employee</th> -->
              <th style="width: 200px">Charge Name</th>
              <th style="width: 150px">Charge Role</th>
              <th style="width: 100px" *ngIf="isShowRate()">
                Rate<br />({{ getCurrencyName() }})
              </th>
              <th style="width: 50px">Charge Type</th>
              <th style="width: 150px; white-space: break-spaces">
                Working Time
              </th>
              <th
                style="width: 300px; white-space: break-spaces"
                *ngIf="
                  data.action === updateAction.UpdateTimesheet && isShowOTType()
                "
              >
                OT Time
              </th>
              <th style="width: 50px">Is Charge</th>
              <th>Note</th>
              <th style="width: 190px">Action</th>
            </tr>
          </thead>
          <h5 *ngIf="billDetail.length == 0" class="text-center mt-2">
            No data!
          </h5>
          <tbody *ngIf="billDetail.length > 0">
            <tr *ngFor="let bill of billDetail; let i = index">
              <td>
                <span>{{ i + 1 }}</span>
              </td>

              <!-- Charge Name -->
              <td class="text-center">
                <span *ngIf="!bill.isEditing || isTSPopUp()">{{
                  bill.billAccountName
                }}</span>
                <div *ngIf="bill.isEditing && isBillPopUp()">
                  <input
                    style="min-width: 110px"
                    class="form-control mt-1"
                    #accountName="ngModel"
                    #accountNameEl
                    type="text"
                    placeholder="Charge Name"
                    [name]="i + 'accountName'"
                    [(ngModel)]="bill.accountName"
                  />

                  <abp-validation-summary
                    [control]="accountName"
                    [controlEl]="accountNameEl"
                  >
                  </abp-validation-summary>
                </div>
              </td>

              <!-- Charge Role -->
              <td class="text-center">
                <span *ngIf="!bill.isEditing || isTSPopUp()">{{
                  bill.billRole
                }}</span>
                <div *ngIf="bill.isEditing && isBillPopUp()">
                  <input
                    style="min-width: 110px"
                    required
                    class="form-control mt-1"
                    #billRole="ngModel"
                    #billRoleEl
                    type="text"
                    placeholder="Charge role"
                    [name]="i + 'billRole'"
                    [(ngModel)]="bill.billRole"
                  />

                  <abp-validation-summary
                    [control]="billRole"
                    [controlEl]="billRoleEl"
                  >
                  </abp-validation-summary>
                </div>
              </td>

              <!-- Bill Rate -->
              <td class="text-center" *ngIf="isShowRate()">
                <span *ngIf="!bill.isEditing"
                  >{{ bill.billRateDisplay | number : "1.0" : "en-US" }}
                </span>
                <div *ngIf="bill.isEditing">
                  <input
                    style="min-width: 80px"
                    required
                    class="form-control mt-1"
                    [name]="i + 'billrate'"
                    #billRate="ngModel"
                    #billRateEl
                    type="text"
                    mask="separator"
                    thousandSeparator="."
                    placeholder="number"
                    [(ngModel)]="bill.billRate"
                  />
                  <abp-validation-summary
                    [control]="billRate"
                    [controlEl]="billRateEl"
                  >
                  </abp-validation-summary>
                </div>
              </td>

              <!-- Charge Type -->
              <td class="text-center">
                <span
                  class="text-center"
                  *ngIf="!bill.isEditing || isTSPopUp()"
                >
                  {{ bill.chargeTypeName }}
                </span>
                <div
                  *ngIf="bill.isEditing && isBillPopUp()"
                  style="width: 100px"
                >
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-select
                      [(ngModel)]="bill.chargeType"
                      [name]="'chargeType' + i"
                      placeholder="select Charge"
                    >
                      <mat-option
                        *ngFor="let item of chargeTypeList"
                        [value]="item.value"
                      >
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>

              <!-- Working Time -->
              <td class="text-center">
                <span *ngIf="!bill.isEditing">
                  {{ getDisplayWorkingTime(bill.workingTime) }}
                  {{ normalUnit == "Day" ? "days" : "hours" }}
                </span>
                <div *ngIf="bill.isEditing">
                  <input
                    type="number"
                    billrate
                    [name]="i + 'workTime'"
                    id=""
                    class="form-control mt-1"
                    [(ngModel)]="bill.workingTime"
                    step="0.1"
                  />
                </div>
              </td>

              <!-- OT Time -->
              <!-- OT Time -->
              <td
                class="text-center"
                style="width: 300px"
                *ngIf="
                  data.action === updateAction.UpdateTimesheet && isShowOTType()
                "
              >
                <!-- Add button - CHỈ HIỆN KHI ĐANG EDIT -->
                <div
                  class="d-flex justify-content-end my-2"
                  *ngIf="
                    bill.isEditing &&
                    !bill.createTimesheetBillOtMode &&
                    canEditOTType()
                  "
                >
                  <button
                    class="btn bg-blue btn-sm"
                    (click)="addTimesheetBillOt(bill)"
                    style="cursor: pointer; font-size: 10px"
                    [disabled]="data.billInfo.isComplete"
                  >
                    <i class="fa fa-plus fa-s m-0"></i>
                  </button>
                </div>

                <!-- Form thêm OT -->
                <div *ngIf="bill.createTimesheetBillOtMode">
                  <!-- OT Type Autocomplete -->
                  <div class="d-flex">
                    <div class="flex-grow-1 d-flex flex-column me-2">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-select
                          panelClass="custom-panel-class"
                          (closed)="focusOut()"
                          [(ngModel)]="bill.otType"
                          name="otType"
                          placeholder="Select OT Type"
                        >
                          <mat-form-field
                            class="w-100 px-3"
                            style="
                              position: sticky;
                              top: 0;
                              z-index: 2;
                              background-color: white;
                            "
                          >
                            <input
                              matInput
                              [(ngModel)]="searchOtType"
                              placeholder="search"
                              (keydown)="$event.stopPropagation()"
                              name="searchOtType"
                              #search
                            />{{ search.focus() }}
                          </mat-form-field>
                          <mat-option
                            *ngFor="
                              let option of otTypeOptions
                                | listFilter : 'otTypeName' : searchOtType
                            "
                            [value]="option.otTypeName"
                          >
                            {{ option.otTypeName }} ({{ option.multiplier }})
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <!-- Hours Input -->
                      <mat-form-field style="width: 100%" appearance="outline">
                        <input
                          type="number"
                          matInput
                          [placeholder]="
                            'Hours (' +
                            (otUnit == 'Day' ? 'days' : 'hours') +
                            ')'
                          "
                          step="0.1"
                          min="0"
                          [(ngModel)]="bill.otHours"
                          name="otHours"
                          (input)="onHoursChange(bill, $event)"
                          (keydown)="
                            $event.key === '-' ? $event.preventDefault() : null
                          "
                          (keydown.enter)="
                            $event.preventDefault(); saveTimesheetBillOt(bill)
                          "
                        />
                      </mat-form-field>
                    </div>

                    <div
                      class="d-flex flex-column align-items-center justify-content-center"
                    >
                      <!-- Check -->
                      <button
                        class="mb-1 submit-btn"
                        style="background: none; border: none"
                        [disabled]="!bill.otType || !bill.otHours"
                        (click)="saveTimesheetBillOt(bill)"
                      >
                        <i
                          [style.color]="
                            bill.otType && bill.otHours ? 'green' : 'gray'
                          "
                          class="fas fa-check fa-2x"
                        ></i>
                      </button>

                      <!-- Undo -->
                      <i
                        style="color: red; font-size: 20px; cursor: pointer"
                        class="fas fa-undo fa-2x"
                        (click)="cancelCreateTimesheetBillOt(bill)"
                      >
                      </i>
                    </div>
                  </div>
                </div>

                <!-- Danh sách OT đã có -->
                <div class="mb-1" *ngIf="bill.otTypes?.length">
                  <div
                    *ngFor="let ot of bill.otTypes"
                    class="me-1 my-2 d-flex justify-content-between"
                  >
                    <!-- Hiển thị khi KHÔNG edit -->
                    <div class="timesheetBillOt_lable" *ngIf="!ot.isEditing">
                      {{ ot.otType }} ({{ ot.multiplier }}):
                      {{ getDisplayOTTime(ot.otHours)
                      }}{{ otUnit == "Day" ? "d" : "h" }}
                    </div>

                    <!-- Form edit OT -->
                    <div class="flex-grow-1" *ngIf="ot.isEditing">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-select
                          panelClass="custom-panel-class"
                          (closed)="focusOut()"
                          [(ngModel)]="ot.otType"
                          name="otType"
                          placeholder="Select OT Type"
                          required
                        >
                          <mat-form-field
                            class="w-100 px-3"
                            style="
                              position: sticky;
                              top: 0;
                              z-index: 2;
                              background-color: white;
                            "
                          >
                            <input
                              matInput
                              [(ngModel)]="searchOtType"
                              placeholder="search"
                              (keydown)="$event.stopPropagation()"
                              name="searchOtType"
                              #search
                            />{{ search.focus() }}
                          </mat-form-field>
                          <mat-option
                            *ngFor="
                              let option of otTypeOptions
                                | listFilter : 'otTypeName' : searchOtType
                            "
                            [value]="option.otTypeName"
                          >
                            {{ option.otTypeName }} - ({{ option.multiplier }})
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field style="width: 100%" appearance="outline">
                        <input
                          type="number"
                          matInput
                          [placeholder]="
                            'Hours (' +
                            (otUnit == 'Day' ? 'days' : 'hours') +
                            ')'
                          "
                          step="0.1"
                          min="0"
                          [(ngModel)]="ot.otHours"
                          name="otHours"
                          #otHours="ngModel"
                          required
                          (input)="onHoursChange(ot, $event)"
                          (keydown)="
                            $event.key === '-' ? $event.preventDefault() : null
                          "
                          (keydown.enter)="
                            $event.preventDefault();
                            updateTimesheetBillOt(bill, ot)
                          "
                        />
                      </mat-form-field>
                    </div>

                    <!-- Action buttons - CHỈ HIỆN KHI ĐANG EDIT ROW -->
                    <div class="timesheetBillOt_action" *ngIf="bill.isEditing">
                      <!-- Hiển thị Edit/Delete khi KHÔNG đang edit OT này -->
                      <div *ngIf="!ot.isEditing">
                        <button
                          *ngIf="canEditOTType()"
                          class="button-action"
                          [disabled]="
                            bill.createTimesheetBillOtMode ||
                            data.billInfo.isComplete
                          "
                          (click)="editTimesheetBillOt(ot)"
                        >
                          <i class="fa fa-pencil-alt"></i>
                        </button>
                        <button
                          *ngIf="canDeleteOTType()"
                          class="button-action"
                          [disabled]="
                            bill.createTimesheetBillOtMode ||
                            data.billInfo.isComplete
                          "
                          (click)="removeTimesheetBillOt(bill, ot)"
                        >
                          <i class="fa fa-times"></i>
                        </button>
                      </div>

                      <!-- Hiển thị Save/Cancel khi ĐANG edit OT này -->
                      <div *ngIf="ot.isEditing">
                        <!-- Check -->
                        <button
                          class="mb-1 submit-btn"
                          style="background: none; border: none"
                          [disabled]="!ot.otHours || !ot.otType"
                          (click)="updateTimesheetBillOt(bill, ot)"
                        >
                          <i
                            [style.color]="
                              ot.otHours && ot.otType ? 'green' : 'gray'
                            "
                            class="fas fa-check fa-2x"
                          ></i>
                        </button>

                        <!-- Undo -->
                        <i
                          style="color: red; font-size: 20px; cursor: pointer"
                          class="fas fa-undo fa-2x"
                          (click)="cancelEditTimesheetBillOt(ot)"
                        >
                        </i>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

              <!-- Is Charge -->
              <td class="text-center pt-3">
                <mat-checkbox
                  [disabled]="!bill.isEditing"
                  [ngClass]="{ 'bg-succes': bill.isActive }"
                  class="mt-1"
                  name="isactive+{{ i }}"
                  (change)="onActiveChange(active, bill)"
                  #active
                  [checked]="bill.isActive"
                >
                </mat-checkbox>
              </td>

              <!-- Note -->
              <td>
                <pre
                  class="mb-0 p-0 ml-2"
                  *ngIf="!bill.isEditing"
                  style="
                    white-space: pre-line;
                    word-wrap: break-word;
                    font-family: sans-serif;
                    align-self: flex-start;
                    width: 150px;
                  "
                >
                           {{ bill.note }}
                      </pre
                >
                <div *ngIf="bill.isEditing">
                  <textarea
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    rows="2"
                    style="min-width: 150px"
                    class="form-control mt-1"
                    #billRole="ngModel"
                    placeholder="Note"
                    [name]="i + 'billNote'"
                    [(ngModel)]="bill.note"
                  ></textarea>
                </div>
              </td>

              <!-- Action -->
              <td
                class="text-center"
                *ngIf="!isEditingAllRow() || billDetail.length == 1"
              >
                <div *ngIf="!bill.isEditing" style="width: 156px">
                  <button
                    *ngIf="isShowEditBtnOnRow()"
                    [disabled]="
                      data.billInfo.isComplete ||
                      isEditingAnyRow() ||
                      otTypeProcess
                    "
                    class="btn btn-sm btn-edit-neutral mr-1 mt-3"
                    (click)="editUserBill(bill)"
                  >
                    <i class="fas fa-pencil-alt mr-1"></i>Edit
                  </button>

                  <button
                    style="border: 2px soild #dc3545"
                    *ngIf="isGranted(Timesheets_TimesheetDetail_RemoveAccount)"
                    [disabled]="
                      data.billInfo.isComplete ||
                      isEditingAnyRow() ||
                      otTypeProcess
                    "
                    class="btn btn-sm bg-danger ml-1 mt-3"
                    (click)="removeAccountTS(bill)"
                  >
                    <i class="fas fa-trash"></i> Remove
                  </button>
                </div>

                <div *ngIf="bill.isEditing" class="pt-1 mt-1">
                  <button
                    *ngIf="data.action == updateAction.UpdateBillInfo"
                    [disabled]="!bill?.userId || !timesheetDetailForm.valid"
                    class="mr-3 submit-btn"
                    style="background: none; border: none"
                    (click)="saveUserBill(bill)"
                  >
                    <i style="color: green" class="fas fa-check fa-2x"></i>
                  </button>
                  <button
                    *ngIf="data.action == updateAction.UpdateTimesheet"
                    [disabled]="!bill?.userId || !timesheetDetailForm.valid"
                    class="mr-3 submit-btn"
                    style="background: none; border: none"
                    (click)="saveUpdateTS(bill)"
                  >
                    <i style="color: green" class="fas fa-check fa-2x"></i>
                  </button>
                  <i
                    style="color: red"
                    class="fas fa-times fa-2x"
                    (click)="cancelUpdateAll()"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
