<section class="content px-2 mt-2">
  <div class="container-fluid">
    <div class="">
      <div class="">
        <div class="input-group" style="display: block">
          <div style="width: 100%; margin-bottom: -30px" class="row list-form-filter">
            <div
              class="col-12 col-md-4 mt-1 d-flex align-items-center mb-3 ml-2 field-search"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  placeholder="Search"
                  [(ngModel)]="searchText"
                  (keyup.enter)="getDataPage(1)"
                />
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-blue"
                    (click)="getDataPage(1)"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mt-1 d-flex align-items-center mb-3 ml-2">
              <mat-form-field
                appearance="outline"
                class="flex-grow-1"
                style="width: 180px"
              >
                <mat-label>Client</mat-label>
                <mat-select
                  placeholder="Select client"
                  [(ngModel)]="clientId"
                  (selectionChange)="filerByClient()"
                >
                  <mat-form-field
                    class="w-100 px-3"
                    style="
                      position: sticky;
                      top: 0;
                      z-index: 2;
                      background-color: white;
                    "
                  >
                    <input
                      style="height: 30px; padding: 5px 10px"
                      matInput
                      [(ngModel)]="searchClient"
                      placeholder="Search"
                      #searchClientInput
                      (keydown)="$event.stopPropagation()"
                    />
                  </mat-form-field>
                  <mat-option
                    *ngFor="
                      let item of clientList
                        | listFilter : 'name' : searchClient
                    "
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <i
                style="margin-top: 0 !important"
                class="fas fa-times fa-lg ml-2 mt-2"
                *ngIf="!!clientId"
                (click)="applyClientFilter()"
              >
              </i>
            </div>
            <div class="mt-1 d-flex align-items-center mb-3 ml-2">
              <mat-form-field
                appearance="outline"
                class="flex-grow-1"
                style="width: 180px"
              >
                <mat-label>Project</mat-label>
                <mat-select
                  placeholder="Select user type"
                  [(ngModel)]="projectId"
                  (selectionChange)="filerByProject()"
                >
                  <mat-form-field
                    class="w-100 px-3"
                    style="
                      position: sticky;
                      top: 0;
                      z-index: 2;
                      background-color: white;
                    "
                  >
                    <input
                      style="height: 30px; padding: 5px 10px"
                      matInput
                      [(ngModel)]="searchProject"
                      placeholder="Search"
                      #search
                      (keydown)="$event.stopPropagation()"
                    />
                  </mat-form-field>
                  <mat-option
                    *ngFor="
                      let item of projectList
                        | listFilter : 'name' : searchProject
                    "
                    [value]="item.id"
                    >{{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <i
                style="margin-top: 0 !important"
                class="fas fa-times fa-lg ml-2 mt-2"
                *ngIf="!!projectId"
                (click)="applyProjectFilter()"
              ></i>
            </div>
            <div class="mt-1 d-flex align-items-center mb-3 ml-2">
              <mat-form-field
                appearance="outline"
                class="flex-grow-1"
                style="width: 180px"
              >
                <mat-label>Project status</mat-label>
                <mat-select
                  placeholder="Select project status"
                  [(ngModel)]="projectStatus"
                  (selectionChange)="filerByProjectStatus()"
                >
                  <mat-option
                    *ngFor="let item of projectStatusList"
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <i
                style="margin-top: 0 !important"
                class="fas fa-times fa-lg ml-2 mt-2"
                *ngIf="
                  projectStatus !== undefined &&
                  projectStatus !== null &&
                  projectStatus !== ''
                "
                (click)="applyProjectStatusFilter()"
              ></i>
            </div>
            <div class="mt-1 d-flex align-items-center mb-3 ml-2">
              <mat-form-field
                appearance="outline"
                class="flex-grow-1"
                style="width: 180px"
              >
                <mat-label>Charge Filter</mat-label>
                <mat-select
                  placeholder="Select charge"
                  [(ngModel)]="isCharge"
                  (selectionChange)="onSelectedChargeFilter()"
                >
                  <mat-option
                    *ngFor="let item of isChargeList"
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <i
                style="margin-top: 0 !important"
                class="fas fa-times fa-lg ml-2 mt-2"
                *ngIf="isShowBtnClearChargeFilter()"
                (click)="clearChargeFilter()"
              ></i>
            </div>
            <div class="mt-1 d-flex align-items-center mb-3 ml-2">
              <div style="margin-top: 10px" class="ml-2">
                <mat-checkbox
                  name="cbx-showLevel"
                  [checked]="isHideLevel"
                  (change)="showLevel($event.checked)"
                  >Show Level</mat-checkbox
                >
              </div>
              <div style="margin-top: 10px" class="ml-2">
                <mat-checkbox
                  name="cbx-showBillRate"
                  [checked]="isHideBillRate"
                  (change)="showBillRate($event.checked)"
                  >Show Rate</mat-checkbox
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive py-4 all-resource-table">
        <div class="fixTableHead">
          <table style="border-collapse: collapse" class="table text-nowrap">
            <thead>
              <tr>
                <th
                  *ngFor="let thead of theadTable; let i = index"
                  [style.width]="thead.width"
                  [style.padding]="thead?.padding"
                  [style.whiteSpace]="thead?.whiteSpace"
                  class="text-center"
                >
                  <div
                    class="row justify-content-center"
                    [ngStyle]="styleThead(thead)"
                  >
                    <div class="rsp-th-name">
                      <ng-container *ngIf="thead.name === 'Head Count'; else defaultThead" >
                       <div style="margin-top: 26px;">
                        {{ thead.name }} ({{ totalHeadCount }})
                      </div>
                      </ng-container>
                      <ng-template #defaultThead>
                        {{ thead.name }}
                      </ng-template>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>

            <tbody>
              <ng-container
                *ngFor="
                  let item of billInfoList
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        };
                  let i = index
                "
              >
                <tr>
                  <td
                    [attr.rowspan]="item.projects.length + 1"
                    class="text-center"
                  >
                    {{ i + 1 + pageSize * (pageNumber - 1) }}
                  </td>
                  <td
                    [attr.rowspan]="item.projects.length + 1"
                    class="text-center"
                    style="width: 280px; padding: 0px 10px"
                  >
                    <app-user-info
                      [userData]="item.userInfor"
                      [isSmallerDiv]="true"
                      [isHideLevel]="!isShowLevel"
                      [isHideBillRate]="!isShowBillRate"
                      [isSimplizeEmailAddress]="true"
                    >
                    </app-user-info>
                  </td>
                </tr>
                
                <tr *ngFor="let project of item.projects; let j = index">
                    <td>
                        <span>{{ project.clientName }}</span>
                    </td>

                    <td style="width: 180px; padding: 3px">
                        <div class="d-flex flex-column">
                            <div>
                                <div class="d-flex flex-column">
                                    <div class="project_link--wapper">
                                        <a href="{{ viewProjectDetail(project) }}"
                                           class="project-link">
                                            <strong>{{ project.projectName }}</strong>
                                        </a>
                                        <span [outerHTML]="
                                project.projectStatus | projectStatusPipe
                              "></span>
                                    </div>
                                    <span>{{ project.accountName }}</span>
                                    <span *ngIf="isShowBillRate">{{project.rateDisplay}}</span>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <span class="d-flex flex-column align-items-center">
                            <mat-checkbox color="primary"
                                          [disabled]="true"
                                          [(ngModel)]="project.isActive"></mat-checkbox>
                        </span>
                    </td>

                    <td>
                      <span class="d-flex flex-column align-items-center">
                          <mat-checkbox color="primary"
                                        [disabled]="true"
                                        [(ngModel)]="project.isExpose"></mat-checkbox>
                      </span>
                  </td>

                <td >
                    <span class="d-flex flex-column align-items-center"[(ngModel)]="project.headCount">
                       {{project.headCount}}
                    </span>
                </td>

                    <td>
                        <span class="d-flex flex-column align-items-center"
                              [ngClass]="{
                        redColor: checkTimeInFilterDate(project.startTime)
                      }">{{ project.startTime | date : "dd-MM-yyyy" }}</span>
                        <span class="d-flex flex-column align-items-center"
                              [ngClass]="{
                        redColor: checkTimeInFilterDate(project.endTime)
                      }">{{ project.endTime | date : "dd-MM-yyyy" }}</span>
                    </td>

                    <td style="display: none;">
                        <div class="d-flex align-items-start justify-content-end">
                            <div class="d-flex" style="flex-direction: column;">
                                  <div *ngFor="let resource of  project.linkedResources" class="mb-2 position-relative">
                                      <app-user-info [userData]="resource"
                                                    [isHideEmail]="true"
                                                    [isWeeklyReport]="false"
                                                    [isSmallerDiv]="true"
                                                    [viewMode] ="1">
                                      </app-user-info>
                                      <i *ngIf="true" (click)="removeLinkResource(resource.id, project.billId)"
                                        class="fa fa-times position-absolute" style="top:32px; right: -28px;"></i>
                                  </div>
                            </div>
                            <i *ngIf="true"
                               (click)="handleOpenDialogShadowAccount(project.projectId, item.userInfor.userId, project.linkedResources, project.billId)"
                               class="btn bg-blue ml-2 btn-sm mb-2"
                               style="cursor: pointer; font-size: 10px;">
                                <i class="fa fa-plus fa-s m-0"></i>
                            </i>
                        </div>
                    </td>
                    <td style="width: 380px;">
                      <div class="d-flex align-items-start justify-content-end">
                        <button
                          (click)="handleOpenDialogShadowAccount(project.projectId, item.userInfor.userId, project.linkedResources, project.billId)"
                          *ngIf="true" class="btn bg-blue ml-2 btn-sm mb-2" style="cursor: pointer; font-size: 10px;">
                          <i class="fa fa-plus fa-s m-0"></i>
                        </button>
                      </div>
                      <div class="d-flex row">
                        <div class="d-flex col-12 px-0" style="flex-direction: column;">
                          <div *ngFor="let resource of  project.linkedResources; let i = index" class="mb-2 d-flex px-0">
                            <div class="col-8 d-flex px-0">
                              <app-user-info [userData]="resource" 
                                [isHideEmail]="true" 
                                [isWeeklyReport]="false" 
                                [isSmallerDiv]="true" 
                                [viewMode]="1">
                              </app-user-info>
                            </div>
                            <div class="col-4 d-flex px-0">
                              <div class="col-6 align-items-end d-flex" [ngClass]="{'col-12': editingRows[project.billId] && editingRows[project.billId][i]?.contribute}">
                                <span *ngIf="!editingRows[project.billId] || !editingRows[project.billId][i]?.contribute"
                                  class="badge bg-info">{{resource.contribute + '%'}}
                                </span>
                                <input *ngIf="editingRows[project.billId] && editingRows[project.billId][i]?.contribute" 
                                  type="number" 
                                  placeholder="% contribute"
                                  class="col-12 px-0" 
                                  min="0" 
                                  max="100" 
                                  [value]="resource.contribute || 0"
                                  [(ngModel)]="resource.contribute" 
                                  appFocus 
                                  (focusout)="cancelUpdate(project.billId, resource, i)"
                                  (keydown.enter)="updateContribute(project.billId, resource.id, resource.contribute)" 
                                  (keydown.esc)="cancelUpdate(project.billId, resource, i)"
                                />
                              </div>
                              <div class="col-6 align-items-end d-flex">
                                <button *ngIf="!editingRows[project.billId] || !editingRows[project.billId][i]?.contribute"
                                  (click)="edit(project.billId, i, 'contribute', resource.contribute)"
                                  class="col-6 button-active">
                                  <i class="fa fa-pencil-alt "></i>
                                </button>
                                <button *ngIf="!editingRows[project.billId] || !editingRows[project.billId][i]?.contribute" 
                                  (click)="removeLinkResource(resource.id, project.billId)"
                                  class="col-6 button-active">
                                  <i class="fa fa-times"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>

                    <td class="note-edit" style="padding: 3px">
                        <div class="d-flex">
                            <span>{{ project.note }}</span>
                            <i class="fas fa-edit note_edit--icon"
                               (click)="
                          UpdateBillNote(
                            item.userInfor,
                            project.projectId,
                            project.note,
                            project.projectName
                          )
                        "></i>
                        </div>
                    </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div
        style="padding-top: 20px !important"
        class="bg-light border-top pt-2"
      >
        <div class="row container-pagination">
          <div class="col-sm-4 col-12 text-sm-left text-center number-items-pagination">
            <button class="btn btn-secondary mb-2" (click)="refresh()">
              <i class="fas fa-redo-alt"></i>
            </button>
            <mat-form-field style="width: 20%; margin-left: 30px" class="form-number-items">
              <mat-label>Number items</mat-label>
              <mat-select
                panelClass="options-number-item"
                [(ngModel)]="pageSizeType"
                (ngModelChange)="changePageSize()"
              >
                <mat-option [value]="5"> 5 </mat-option>
                <mat-option [value]="10"> 10 </mat-option>
                <mat-option [value]="20"> 20 </mat-option>
                <mat-option [value]="50"> 50 </mat-option>
                <mat-option [value]="100"> 100 </mat-option>
                <mat-option [value]="200"> 200 </mat-option>
                <mat-option [value]="300"> 300 </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 col-12 text-center total-pagination">
            <p class="mb-0 my-2">
              {{ "TotalRecordsCount" | localize : totalItems }}
            </p>
          </div>
          <div class="col-sm-4 col-12 pagination-control">
            <div class="float-sm-right m-auto">
              <abp-pagination-controls
                id="server"
                (pageChange)="getDataPage($event)"
              >
              </abp-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
