<form class="form-horizontal" autocomplete="off" #resourceRequestForm="ngForm" novalidate style="width: 100%;">
    <abp-modal-header title="{{
            data?.command == 'create'
            ? 'Create new CV Status'
            : 'Edit CV Status: ' + titleName
        }}"
        (onCloseClick)="dialogRef.close()"
    >
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-form-label col-12" for="cvstatusName">Name:</label>
            <input name="cvstatusName"
                class="form-control"
                type="text"
                placeholder="Name"
                required
                [(ngModel)]="cvStatus.name"
                #name="ngModel"
                #nameEl
            />
            <abp-validation-summary [control]="name" [controlEl]="nameEl">
            </abp-validation-summary>
        </div>
        <div class="form-group row required">
            <label class="col-12 col-form-label" for="color">Color:</label>
            <input name="color"
                class="form-control col-10"
                type="text"
                placeholder="Color"
                required
                [(ngModel)]="cvStatus.color"
                #color="ngModel"
                #colorEl
            />
            <div class="d-flex align-items-center col-2 justify-content-center">
                <input class="color-picker" name="color" type="color" [(ngModel)]="cvStatus.color">
            </div>
            <abp-validation-summary [control]="color" [controlEl]="colorEl">
            </abp-validation-summary>
        </div>
        <div class="form-group row">
            <label class="col-12 col-form-label border-bottom" for="triggerAction">Trigger Action:</label>
            <mat-radio-group [(ngModel)]="cvStatus.triggerAction"
                aria-label="Select an option"
                name="triggerAction"
                class="d-flex flex-column p-2">
                <mat-radio-button [value]="null">
                    No Action
                </mat-radio-button>
                <ng-container *ngFor="let trigger of triggerActionList">
                    <mat-radio-button [value]="APP_ENUM.CvStatusTriggerAction[trigger]">
                        {{ trigger }}
                    </mat-radio-button>
                </ng-container>
            </mat-radio-group>
        </div>
    </div>
    <div class="row justify-content-end">
        <button name="btn-cancel" class="btn btn-secondary mr-2 btn-action" mat-dialog-close>Cancel</button>
        <button name="btn-save" class="btn btn-primary btn-action" [disabled]="!resourceRequestForm.valid || isLoading"
            (click)="SaveAndClose()">
            Save
        </button>
    </div>
</form>