@media screen and (max-width: 600px) {
    :host ::ng-deep .form-horizontal {
        .modal-header {
            align-items: baseline;
        }
    }

    .modal-body {
        max-height: 50vh;
        padding: 10px;
    }

    .modal-footer-plan-user {
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 0;
    }

    .field-project {
        width: 100% !important;
    }

    .field-timestart, .form-field-role {
        display: block;
    }
}